<div class="modal-body" style="background:#F2F3F7;padding: 30px;">
  <div class="row">
    <form name="companyForm">
    <div class="col-md-12" style="padding-top:20px;">
      <h3> {{form.pk? 'Edit Company':'Add New Company'}}</h3>
      <div class="form-group">
        <label>Company*</label>
        <input ng-model="form.name" type="text" class="form-control" placeholder="Company name" style="padding: 29px;border: none;border-radius: 10px;margin-top:5px;margin-bottom:15px;font-size:20px;" name="name" required>
        <span style = "color:red" ng-show = "companyForm.name.$dirty">
        <span ng-show = "companyForm.name.$error.required">Company is required.</span>
      </span>
      </div>
      <!-- <div class="form-group">
      <label>Mobile</label>
      <input type="text " class="form-control" ng-model="form.mobile">
    </div> -->
      <!-- <div class="form-group">
      <label>About</label>
      <textarea class="form-control" rows="8" ng-model="form.about"></textarea>
    </div> -->
      <!-- <div class="form-group">
      <label>Telephone</label>
      <input type="text " class="form-control" ng-model="form.telephone">
    </div> -->
      <div class="form-group">
        <label>Address</label>
        <input placeholder="Street" type="text " class="form-control" ng-model="form.address.street" style="padding: 29px;border: none;border-radius: 10px;margin-top:5px;margin-bottom:15px;font-size:20px;">
        <div class="row" style="margin-top:5px;">
          <div class=" col-md-6">
            <input placeholder="City" type="text " class="form-control" ng-model="form.address.city" style="padding: 29px;border: none;border-radius: 10px;margin-top:5px;margin-bottom:15px;font-size:20px;">
          </div>
          <div class="col-md-6">
            <input placeholder="State" type="text " class="form-control" ng-model="form.address.state" style="padding: 29px;border: none;border-radius: 10px;margin-top:5px;margin-bottom:15px;font-size:20px;">
          </div>

        </div>
        <div class="row" style="margin-top:5px;">
          <div class=" col-md-6">
            <input placeholder="pincode*" type="number" class="form-control" ng-model="form.address.pincode" style="padding: 29px;border: none;border-radius: 10px;margin-top:5px;margin-bottom:15px;font-size:20px;" ng-change="addPincode()" name="pincode" required>
            <span style = "color:red" ng-show = "companyForm.pincode.$dirty && companyForm.pincode.$invalid">
              <span ng-show = "companyForm.pincode.$error.required">Pincode is required.</span>
              <span ng-show = "companyForm.pincode.$error.number">Invalid pincode</span>
            </span>
          </div>
          <div class="col-md-6">
            <input placeholder="Country" type="text " class="form-control" ng-model="form.address.country" style="padding: 29px;border: none;border-radius: 10px;margin-top:5px;margin-bottom:15px;font-size:20px;">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>GSTIN</label>
        <input type="text " class="form-control" ng-model="form.tin" style="padding: 29px;border: none;border-radius: 10px;margin-top:5px;margin-bottom:15px;font-size:20px;">
      </div>
      <label style="color:#7c71f6;cursor:pointer"  ng-show="!loadmore" ng-click="loadmore=true" > <u> Add more </u> </label>
      <div class="row" ng-if="loadmore">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Payment Term</label>
                <input type="text " class="form-control" ng-model="form.paymentTerm" style="padding: 29px;border: none;border-radius: 10px;margin-top:5px;margin-bottom:15px;font-size:20px;">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Bank Name</label>
                <input type="text " class="form-control" ng-model="form.bankName" style="padding: 29px;border: none;border-radius: 10px;margin-top:5px;margin-bottom:15px;font-size:20px;">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Bank Account No.</label>
                <input type="text " class="form-control" ng-model="form.accountNumber" style="padding: 29px;border: none;border-radius: 10px;margin-top:5px;margin-bottom:15px;font-size:20px;">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Bank IFSC No.</label>
                <input type="text " class="form-control" ng-model="form.ifscCode" style="padding: 29px;border: none;border-radius: 10px;margin-top:5px;margin-bottom:15px;font-size:20px;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <label style="color:#7c71f6;cursor:pointer"  ng-show="loadmore" ng-click="loadmore=false" > <u> Add less </u> </label>

      <!-- <div class="form-group">
      <label>Website</label>
      <input type="text " class="form-control" ng-model="form.web">
    </div> -->
      <div class="btn-group pull-right">
        <button ng-if="mode=='new'" type="button" class="btn btn-default" ng-click="resetForm()"
          style="background:#461482;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 80px;font-size: 16px;z-index: 10;box-shadow: 0px 8px 18pxrgba(157, 157, 157, 0.94) !important;padding-right: 30px;padding-left: 30px;">
          Reset
        </button>
        <button type="button" class="btn btn-primary pull-right" ng-click="createCompany()"
          style="background:#461482;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;box-shadow: 0px 8px 18pxrgba(157, 157, 157, 0.94) !important;padding-right: 30px;padding-left: 30px;" ng-disabled = "companyForm.name.$error.required || companyForm.pincode.$invalid" >Save</button>
      </div>
    </div>
    </form>
  </div>
</div>
