<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-offset-8 col-md-2">
          <select class="" ng-model="select.year" ng-options="p for p in years" ng-change="getBillingData()" style="background:#ebebeb;border:none;text-align:right;width:100%;border-radius:25px">
          </select>
        </div>
        <div class="col-md-2">
          <select class="" ng-model="select.month" ng-options=" m for m in monthList" ng-change="getBillingData()" style="background:#ebebeb;border:none;text-align:right;width:100%;border-radius:25px">
          </select>
        </div>
      </div>
      <div class="row" style="margin-top:15px">
        <div class="col-md-12">
          <div class="table-responsive">
           <table class="table table-condensed">
               <thead>
                   <tr>
                       <td ><strong>Description</strong></td>
                       <!-- <td class="text-center"><strong>Item Price</strong></td>
                       <td class="text-center"><strong>Item Quantity</strong></td> -->
                       <td class="text-right"><strong>Amount</strong></td>
                   </tr>
               </thead>
               <tbody>
                   <tr ng-repeat="a in allBilledItems.obj track by $index">
                       <td>{{a.title}}</td>
                       <!-- <td class="text-center">$900</td>
                       <td class="text-center">1</td> -->
                       <td class="text-right">{{a.amount}}</td>
                   </tr>
                   <tr>
                       <!-- <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                       <td class="emptyrow"></td> -->
                       <td class="emptyrow "><strong>Total</strong></td>
                       <td class="emptyrow text-right">{{allBilledItems.amount | number:2}}</td>
                   </tr>
               </tbody>
           </table>
       </div>
        </div>
      </div>
    </div>
  </div>
</div>
