<style>
  .rounded_btn {
  width: 45px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.rounded_btn:hover {
  background-color: #d1d1d1;
  box-shadow: 0px 15px 20px #d1d1d1;
  color: #fff;
  transform: translateY(-7px);
}
</style>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12" >
        <div style="background-image:url({{imageInView.attachment}});background-size:contain;height:500px;margin-bottom:15px;background-repeat:no-repeat;background-position:center">
          <button class="rounded_btn" style="position:absolute;top:250px" ng-click="prev()"><i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i></button>
          <button class="rounded_btn" style="position:absolute;top:250px;right:10px" ng-click="next()"><i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i></button>
         </div>
    </div>
  </div>
</div>
