<div class="container-fluid " >
  <div class="row div_padding" style="padding-top: 0px;">
    <div class="col-md-8 col-md-offset-2 page_css" style="padding-top:100px;">
      <div class="">
        <div class="row">
          <div class="col-md-2">
            <div class="" style="background:url({{app.icon}}) no-repeat;background-size:contain;height:200px;background-position:top center">

            </div>
          </div>
          <div class="col-md-10">
            <h3 style="font-size:30px;">{{app.displayName}} </h3>
            <div class="col-md-8" style="padding:0px;">
              <p>{{app.description}}</p>
              <h1 class="font50" style="color: #ff8b5a;"> <span style="color:#e1e1e1;">Rated</span> {{app.usersCount.appRating}} <small style="color:#e1e1e1">/5</small> </h1>
            </div>
            <div class="hidden-xs">

              <div class="row" style="margin-top:20px;">

                <div class="col-md-offset-8 col-md-2 {{step!='installed'?'pull-right':''}}" ng-if="is_staff">
                  <button type="button" class="btn btn-success btn-block" name="button" ng-click="install()" ng-show="step=='notinstalled'" style="border-radius:50px!important;background:#02a33e;color:white;border:none!important">Install</button>
                  <button type="button" class="btn btn-success btn-block" name="button" ng-show="step=='installing'" style="border-radius:50px!important;background:#02a33e;color:white;border:none!important"> <i class="fa fa-spinner fa-spin"></i>
                  </button>
                  <button style="background:white;margin-top:0px;border-radius:50px!important;color: #fb0000;border: 2px solid #fb0000 !important;padding: 10px;font-size: 17px;" type="button" class="btn btn-block" name="button"
                    ng-show="step=='installed'" ng-click="unInstall()">Uninstall </button>
                </div>
                <div class="col-md-2 pull-right" ng-show="step=='installed'&&is_user_installed&&app.inMenu">
                  <button class="btn btn-primary btn-block" ng-click="openApp()" style="border-radius:50px!important;background:#032757;color:white;border:none!important;padding: 10px;font-size: 17px;">Open</button>
                </div>
              </div>
            </div>
            <div class="visible-xs">
              <div class="row">
                <div class="col-xs-8 " style="color:#8c8c8c;margin:0px;">

                </div>
                <div class="col-xs-4" ng-if="is_staff">
                  <button type="button" class="btn btn-success btn-block" name="button" ng-click="install()" ng-show="step=='notinstalled'" style="border-radius:50px!important;background:#02a33e;color:white;border:none!important">Install</button>

                  <button type="button" class="btn btn-success btn-block" name="button" ng-show="step=='installing'" style="border-radius:50px!important;background:#02a33e;color:white;border:none!important"> <i class="fa fa-spinner fa-spin"></i>
                  </button>

                  <button style="margin-top:0px;border-radius:50px!important;color: #fb0000;border: 2px solid #fb0000 !important;padding: 10px;font-size: 17px;" type="button" class="btn" name="button" ng-show="step=='installed'"
                    ng-click="unInstall()">Uninstall </button>

                  <button class="btn btn-primary btn-block" ng-click="openApp()" style="border-radius:50px!important;background:#0010fc;color:white;border:none!important">Open</button>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="" ng-if="appMedia.length>0">
          <!-- <div class="row"  style="display:flex" >
            <div class="col-md-6" style="width:100%" ng-repeat="i in appMedia.slice(0,4) track by $index">
              <div class="" style="background-image:url({{i.attachment}});height:400px;background-size:contain;margin-bottom:10px;background-position: center;background-repeat: no-repeat;">

              </div>

            </div>
          </div> -->
          <ng-owl-carousel class="owl-theme " owl-items="appMedia" owl-properties="appMediaPro" owl-ready="ready($api)">
            <div class="col-md-6" style="width:100%" ng-repeat="i in appMedia.slice(0,4) track by $index" ng-click="viewImages($index)">
              <div class="" style="background-image:url({{i.attachment}});height:400px;background-size:contain;margin-bottom:10px;background-position: center;background-repeat: no-repeat;">

              </div>

            </div>
          </ng-owl-carousel>
        </div>
        <div class="" ng-if="mobileMedia.length>0">
          <div class="row"   >
            <div class="col-md-3"  ng-repeat="i in mobileMedia.slice(0,4) track by $index">
              <div class="" style="background-image:url({{i.attachment}});height:400px;background-size:contain;margin-bottom:10px;background-position: center;background-repeat: no-repeat;">

              </div>

            </div>
          </div>
          <!-- <ng-owl-carousel class="owl-theme " owl-items="appMedia" owl-properties="appMediaPro" owl-ready="ready($api)">
            <div class="col-md-6" style="width:100%" ng-repeat="i in appMedia.slice(0,4) track by $index">
              <div class="" style="background-image:url({{i.attachment}});height:400px;background-size:contain;margin-bottom:10px;background-position: center;background-repeat: no-repeat;">

              </div>

            </div>
          </ng-owl-carousel> -->
        </div>
        <div class="" ng-if="is_staff">
          <div class="row">
            <div class="col-md-12">
              <h4 ng-if="users.length>0">USERS</h4>
            </div>
            <!-- <div class="col-md-4" >

              <div class="input-group" style="background:#ffffff;border-radius:10px;" ng-if="step=='installed'">
                <select class="form-control" ng-model="form.user"  ng-options="u.first_name + ' ' + u.last_name for u in selectUsers" >
                </select>
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit" ng-click="addPermision()" style="border:none !important;background:#ffffff;">
                  Add
                  </button>
                </div>
              </div>
            </div> -->
          </div>
          <div class="row">
            <div class="col-md-3" ng-repeat="k in users track by $index" ng-if="users.length>0">
              <img src="/static/images/icons8-plus-math-96.png" style="width: 20px;transform: rotate(45deg);position: absolute;
right: 25px;margin: 20px 0px;" ng-click="delUser($index)">
              <div class="" style="padding: 15px;margin:10px 0px;background:white;border-radius:15px;min-height:127px;border: 1px solid #f1f1f1;">
                <h4>{{k.user.first_name}} {{k.user.last_name}}</h4>
                <!-- <p>{{k.username}}</p> -->
                <p>{{k.user.email}}</p>
                <p>{{k.user.profile.mobile}}</p>
              </div>
            </div>
            <div class="col-md-3" ng-if="step=='installed'">
              <div class="text-center" style="background:white;border-radius:15px;padding: 15px;margin:10px 0px;min-height:127px;padding-top:42px;border: 1px solid #f1f1f1;" ng-click="addUser()">
                <!-- <i class="fa fa-plus fa-3x"> </i> -->
                <img src="/static/images/icons8-plus-math-96.png" style="width: 50px;">
              </div>
            </div>
          </div>
        </div>
        <div ng-if="app.windows || app.android || app.ios || app.mac">
          <h4>Supported Devices</h4>
          <div class="row">
            <div class="col-md-2" ng-if="app.windows">
              <div class="deviceBox text-center" style="box-shadow: 0px 0px 10px #ccc;padding: 15px;margin:10px 0px;">
                <div class="" style="background-image:url('/static/images/windows.png');height:100px;background-size:contain;background-position:center;background-repeat: no-repeat;">


                </div>
                <p style="text-transform:uppercase;"><b>Windows</b></p>

              </div>
            </div>
            <div class="col-md-2" ng-if="app.android">
              <div class="text-center" style="box-shadow: 0px 0px 10px #ccc;padding: 15px;margin:10px 0px;">
                <div class="" style="background-image:url('/static/images/android.png');height:100px;background-size:contain;background-position:center;background-repeat: no-repeat;">

                </div>
                <p><b>ANDROID</b></p>
              </div>
            </div>
            <div class="col-md-2" ng-if="app.ios">
              <div class="text-center" style="box-shadow: 0px 0px 10px #ccc;padding: 15px;margin:10px 0px;">
                <div class="" style="background-image:url('/static/images/ios.jpg');height:100px;background-size:cover;background-position:center;background-repeat: no-repeat;">

                </div>
                <p><b>IOS</b></p>
              </div>
            </div>
            <div class="col-md-2" ng-if="app.mac">
              <div class="text-center" style="box-shadow: 0px 0px 10px #ccc;padding: 15px;margin:10px 0px;">
                <div class="" style="background-image:url('/static/images/mac.jpg');height:100px;background-size:contain;background-position:center;background-repeat: no-repeat;">

                </div>
                <p><b>MAC</b></p>
              </div>
            </div>
          </div>
        </div>




        <hr>

        <div class="row" style="margin-bottom:20px;">

          <div class="col-md-4">

            <div class="row no_margin" style="display:flex" ng-if="app.rating_five>0">
              <div class="" style="padding-right:15px">
                <p style="padding:5px 0px;">5</p>
              </div>
              <div class="" style="width:{{app.rating_five*widthFactor}}%;transition:all 0.3s;">
                <div class="" style="background-color:#5cb85c;height:25px;margin:0px;margin-bottom:10px;">

                </div>
              </div>
            </div>
            <div class="row no_margin" style="display:flex" ng-if="app.rating_four>0">
              <div class="" style="padding-right:15px">
                <p style="padding:5px 0px;">4</p>
              </div>
              <div style="width:{{app.rating_four*widthFactor}}%;transition: all 0.3s;">
                <div class="" style="background-color:#9ace6a;height:25px;margin-bottom:10px;">

                </div>
              </div>

            </div>

            <div class="row no_margin" style="display:flex" ng-if="app.rating_three>0">
              <div style="padding-right:15px">
                <p style="padding:5px 0px;">3</p>
              </div>
              <div style="width:{{app.rating_three*widthFactor}}%;transition:all 0.3s;">
                <div class="" style="background-color:#ffcf02;height:25px;margin-bottom:10px;">

                </div>
              </div>
            </div>

            <div class="row no_margin" style="display:flex" ng-if="app.rating_two>0">
              <div style="padding-right:15px">
                <p style="padding:5px 0px;">2</p>
              </div>
              <div style="width:{{app.rating_two*widthFactor}}%;transition:all 0.3s;">
                <div class="" style="background-color:#ffb234;height:25px;margin-bottom:10px;">

                </div>
              </div>

            </div>
            <div class="row no_margin" style="display:flex" ng-if="app.rating_one>0">
              <div style="padding-right:15px">
                <p style="padding:5px 0px;">1</p>
              </div>
              <div style="width:{{app.rating_one*widthFactor}}%;transition: all 0.3s;">
                <div class="" style="background-color:#ff8b5a;height:25px;margin-bottom:10px;">

                </div>
              </div>
            </div>






          </div>
        </div>
        <div class="row">

          <div class="row" style="margin:0px;margin-bottom:20px;background:white;padding: 40px;border-radius: 10px;border:1px solid #ccc;background:url('/static/images/4.png') no-repeat top left,url('/static/images/3.png') no-repeat bottom right;background-size: contain, contain;" ng-repeat="k in app.feedback track by $index">

            <div class=""  style="">

              <i class="fa fa-quote-left commentQuote" aria-hidden="true" style=""></i>
              <div class="col-md-10">

                <div class="">
            <div class="" style="padding: 29px 0px;">
              <p >{{k.text}} <span>
                <i class="fa fa-quote-left" aria-hidden="true" style="font-size: 36px;color:#ccc;transform: rotate(180deg);position:absolute;margin-left:18px;margin-top:10px;"></i>

              </span> </p>

            </div>



                  <div class="" >
                    <h4>{{k.name}}</h4>

                  </div>
                </div>
                <div class="row" style="margin:0px;">
                  <div>
                    <div class="row" style="margin:0px;">


                      <img src=" {{k.star <=1  || k.star>=1?'/static/images/icons8-star-filled-48.png':'/static/images/icons8-star-filled-50.png'}}" style="width:12px">
                      <img src=" {{ k.star >1 || k.star >=2 ?'/static/images/icons8-star-filled-48.png':'/static/images/icons8-star-filled-50.png'}}" style="width:12px">
                      <img src=" {{ k.star >=3 ?'/static/images/icons8-star-filled-48.png':'/static/images/icons8-star-filled-50.png'}}" style="width:12px">
                      <img src=" {{ k.star >=4 ?'/static/images/icons8-star-filled-48.png':'/static/images/icons8-star-filled-50.png'}}" style="width:12px">
                      <img src=" {{ k.star ==5 ?'/static/images/icons8-star-filled-48.png':'/static/images/icons8-star-filled-50.png'}}" style="width:12px"> {{k.created | date:'MMMM dd, y'}}

                    </div>
                  </div>

                </div>


              </div>

              <div class="col-md-2 text-center">
              <img alt="" src="/static/images/img_avatar_card2.png" class="img img-circle" style="height: 80px;">
                <!-- <div class="comment_card" style="">

                </div> -->
              </div>

            </div>

          </div>
        </div>



      </div>
    </div>

  </div>
</div>
