<div class="" style="cursor:pointer;">
  <style media="screen">
    body {
      overflow-x: hidden;
      font-family: 'Roboto'
    }

    .appCard {
      margin-bottom: 30px;
    }

    #page2Column1 #appicon1 {
      font-size: 180px;
      padding: 30px 15px;
      color: white;
    }

    #page2Column1 #appicon2 {
      width: 100%;
    }

    #page2bgImage #divText {
      padding: 60px 30px;

    }

    #page2bgImage #divText span {
      font-size: 60px;
      line-height: 2;
    }

    #page2bgImage #title {
      font-size: 40px;
      line-height: 2;
    }

    #page2bgImage #description {
      font-size: 20px;
      line-height: 2;
    }

    #page2bgImage {
      background: url('/static/images/app.png');
      height: 500px;
      border-radius: 20px;
      box-shadow: 0px 8px 18px rgba(157, 157, 157, 0.94) !important;
      color: white;
    }

    #Boxes {
      padding: 0px;
      margin-bottom: 70px
    }

    #Boxes .box {
      margin-bottom: 20px;
    }

    #Boxes .secondbox {
      background-color: #C4C4C4;
      height: 100px;
      margin: 0px;
      margin-top: 10px;

    }

    #btns {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    #btns .newBtn {
      background-color: white;
      border: 1px solid #3C3C3C;
      border-radius: 30px;
      color: #818181;
      font-size: 30px;
      font-weight: 400;

    }

    #btns .blueBtn {
      background-color: #20287D;
      border: 1px solid #20287D;
      border-radius: 30px;
      color: white;
      font-size: 30px;
      font-weight: 400;

    }

    #navbar {
      padding: 30px 0px;
    }

    #navbar #text img {
      padding-right: 20px;
    }

    #navbar #text {
      color: #1A2763;
      font-weight: 700;
      font-size: 25px;
    }

    #navbar #text:hover {
      color: #1A2763;
      font-weight: 700;
      font-size: 25px;
      text-decoration: none
    }

    #navbar #signup {
      background-color: #f37535;
      border: none;
      color: white;
      border-radius: 30px;
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    #navbar #login {
      color: #1A2763;
      font-size: 25px;
      padding: 5px 30px;
      height: 46px;
      padding-top: 10px;
    }

    #navbar #login:hover {
      background-color: transparent
    }

    #fAppdescription1 {
      /* padding:30px */
    }

    #fAppdescription1 p {
      line-height: 4;
      font-size: 20px;
      color: black;
    }

    #fAppdescription1 h4 {
      font-size: 30px;
      color: black;
      font-weight: 700;
      line-height: 1;
    }

    #fAppdescription1 .fa-star {
      color: #ffb300;
      font-size: 20px;
      padding-right: 3px;
    }

    #fAppdescription1 .fa-star-o {
      color: white;
      font-size: 20px;
      padding-right: 3px;
    }

    #fAppdescription2 {
      /* padding:30px */
    }

    #fAppdescription2 p {
      line-height: 4;
      font-size: 20px;
      color: black;
    }

    #fAppdescription2 h4 {
      font-size: 30px;
      color: black;
      font-weight: 700;
      /* line-height: 2; */
    }

    #fAppdescription2 .fa-star {
      color: #ffb300;
      font-size: 20px;
      padding-right: 3px;
    }

    #fAppdescription2 .fa-star-o {
      color: white;
      font-size: 20px;
      padding-right: 3px;
    }

    .row1 {
      background: url('https://media.istockphoto.com/vectors/colorful-abstract-background-design-template-modern-pattern-vector-vector-id873488790?b=1&k=6&m=873488790&s=612x612&w=0&h=0dnmY7tAH7hWW3xZHYRR3pse-kGB09SZ55EcQpJfo08=');
      height: 270px;
      padding: 35px 15px;
      font-weight: 400;
      color: #000000;
      border-radius: 23px;
      box-shadow: 0px 8px 418px rgba(157, 157, 157, 0.94) !important;
    }

    .row2 {
      background: url('https://lh3.googleusercontent.com/proxy/pGK-bY2Bjvz5db0otu3VmDeikYHrSYmfdmOTfFGGtae-Jhj5tsUM8IjP1gZXdjRQpIPB1wnNzCyNbTI3mD-bbF1PI9bNRwP9LYmS-Mkb54ZXwiBlcxZfmC6C');
      height: 270px;
      padding: 35px 15px;
      font-weight: 400;
      color: #000000;
      border-radius: 23px;
      box-shadow: 0px 8px 418px rgba(157, 157, 157, 0.94) !important;
    }

    .row3 {
      background: white;
      height: 270px;
      padding: 35px 15px;
      font-weight: 400;
      color: #000000;
      border-radius: 23px;
      box-shadow: 0px 8px 418px rgba(157, 157, 157, 0.94) !important;
    }

    .row1 img {
      width: 100%;
      height: 150px;
    }

    .row1 .icons {
      font-size: 180px;
      color: white;
    }


    .row1 h4 {
      /* font-size: 30px; */
      color: white;
      font-weight: 700;
      margin: 0px;
    }

    .row2 h4 {
      /* font-size: 30px; */
      color: black;
      font-weight: 700;
      margin: 0px;
    }

    .row3 h4 {
      /* font-size: 30px; */
      color: black;
      font-weight: 700;
      margin: 0px;
    }

    .row1 p {
      /* font-size: 18px; */
      color: white;
      line-height: 1.5;
      height: 50px;
    }

    .row2 p {
      /* font-size: 18px; */
      color: black;
      line-height: 1.5;
      height: 50px;

    }

    .row3 p {
      /* font-size: 18px; */
      color: black;
      line-height: 1.5;
      height: 50px;
    }

    .row1 .fa-star {
      color: #ffb300;
    }

    .row2 .fa-star {
      color: #ffb300;
    }

    .row3 .fa-star {
      color: #ffb300;
    }

    #page2bgImage {
      margin-bottom: 30px;
    }

    #page2Column1 #columnBox1 {
      height: 230px;
      border-radius: 20px;
      box-shadow: 0px 8px 18px rgba(157, 157, 157, 0.94) !important;
      background: #0F2027;
      padding: 20px;
      background: linear-gradient(to right, #EEE, #F6F6F6, #D0D3D0);
      margin-bottom: 30px;
      ;
    }

    #page2Column1 #columnBox2 {

      height: 230px;
      border-radius: 20px;
      box-shadow: 0px 8px 18px rgba(157, 157, 157, 0.94) !important;
      background: #abbaab;
      padding: 20px;
      background: linear-gradient(to right, #ffffff, #abbaab);
    }

    .apps {
      height: 100px;
      background-size: contain !important;
      background-position: top !important;
    }

    .appImgage {
      height: 100px;
      background-size: contain !important;
      background-position: top !important;
    }
    .installed{
      position: absolute;
      right: -53px;height: 149px;width: 100px;background: #5c9d68;transform: rotate(-49deg);
    }
    .firstApp{
      position: absolute;
    bottom: 14px;
    right: -45px;
    height: 150px;
    width: 100px;
    background:
    #5c9d68;
    transform: rotate(-49deg);
    }
    .font22{
      font-size:22px
    }
    .font25{
      font-size:25px
    }
    .font18{
      font-size:18px
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {

      #Boxes .secondbox {
        margin-bottom: 20px;
        padding: 10px;
      }

      #Boxes {
        padding: 10px !important;
      }

      #btns .newBtn {
        margin-bottom: 15px;
      }

      #btns .blueBtn {
        margin-bottom: 15px;
      }

      #navbar ul {
        display: flex;
      }

      .maintitle {
        font-size: 20px !important;
      }

      .appImgage {
        height: 130px !important;
        padding: 0px !important;
        margin: 0px !important;
      }

      #page2Column1 #columnBox1 {
        height: 300px;
      }

      #page2Column1 #columnBox2 {
        height: 300px;
        margin-bottom: 20px;
      }

      #fAppdescription1 {
        padding: 0px 15px;
      }

      #fAppdescription1 h4 {
        line-height: initial
      }

      #fAppdescription1 p {
        line-height: initial
      }

      #fAppdescription2 {
        padding: 0px 15px;
      }

      #fAppdescription2 h4 {
        line-height: initial
      }

      #fAppdescription2 p {
        line-height: initial
      }

      #page2bgImage {
        height: 380px;
      }

      #page2bgImage #divText {
        padding: 5px;
      }

      .row3 {
        height: 300px;
        padding: 20px 15px;
      }

      .row1 {
        height: 300px;
        padding: 20px 15px;
      }

      .row2 {
        height: 300px;
        padding: 20px 15px;
      }

      .row1 h4 {
        padding-top: 7px;

      }

      .row2 h4 {
        padding-top: 7px;

      }

      .row3 h4 {
        padding-top: 7px;

      }

      .row1 p {
        height: 30px;
      }


      .row2 p {
        height: 30px;
        padding-top: 7px;
      }

      .row3 p {
        height: 30px;
        padding-top: 7px;
      }
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
      #page2bgImage {
        height: 400px;
      }
      .installed{
        position: absolute;
        right: -40px;
        height: 125px;
        width: 105px;
        bottom:20px    !important;
      }
      .firstApp{
        bottom: -5px;
        right: -32px;
      }

      #page2bgImage #divText {
        padding: 30px;
      }

      #page2Column1 #columnBox1 {
        height: 190px;
        padding: 5px;
      }

      #page2Column1 #columnBox2 {
        height: 190px;
        padding: 5px;
        margin-top: 20px;
      }

      .row1 {
        height: 190px;
        padding: 20px 0px;
      }

      .row2 {
        height: 190px;
        padding: 20px 0px;
      }

      .row3 {
        height: 190px;
        padding: 20px 0px;
      }

      .row1 h4 {
        font-size: 20px;
      }

      .appImgage {}

      .row1 p {
        font-size: 14px;
      }

      .row2 h4 {
        font-size: 20px;
      }

      .row2 p {
        font-size: 14px;
      }

      .row3 h4 {
        font-size: 20px;
      }

      .row3 p {
        font-size: 14px;
      }

      .apps {
        height: 180px;
        background-size: contain !important;
        background-position: top !important;
      }

      .appImgage {
        height: 60px;
        background-size: contain !important;
        background-position: top !important;
      }

      #page2bgImage #divText span {
        font-size: 50px;
      }

      #fAppdescription1 h4 {
        font-size: 25px;

      }

      #fAppdescription2 h4 {
        font-size: 25px;
      }
    }

    @media only screen and (min-width : 250px) and (max-width : 600px) {


      #page2bgImage {
        margin: 15px !important;
      }
    }

    @media only screen and (min-width : 600px) and (max-width : 991px) {
      #page2bgImage {
        margin: 15px !important;
      }

    }
  </style>
<div class=" container-fluid " style="padding:0px">
  <div class="row" style="margin:0px;">
    <div class="col-md-12">
      <div class="row appstoreHeader" id="topheader" style="background:#ffffff;padding:0px">
    <div class=" col-md-2  col-sm-4 ">
        <div class="font22" style="font-weight: 700;background: -webkit-linear-gradient(#FA012F, #FF3E64);background-clip: border-box;-webkit-background-clip: text;
-webkit-text-fill-color:transparent;"><img class="kloudImg"src="/static/images/xicon.png" >Kloud ERP </div>
      </div>
      <div class="col-md-7  col-sm-6 col-xs-8" style="margin-bottom:30px">
        <input type="text" class="form-control" ng-model="search.searchText" style="border: none;border-radius: 50px;background: #f6f5f4;height: 60px;padding-left: 60px;" placeholder="Search" ng-change="allApps()" ng-model-options="{debounce:1000}">
        <img src="/static/images/icons8-search-512.png" class="searchImg" style="" alt="">
      </div>
      <div class="col-md-2  col-sm-2 col-xs-4  pull-right ">
        <div class="row"  ng-if="me.pk&&showLogo">
          <div class="col-md-12  hidden-xs hiddden-sm ">
            <button type="button" name="button" class="btn btn-block" style="height:60px;border-radius: 50px !important" ng-click="$state.go('workforceManagement.billing')">Billing</button>
          </div>
        </div>
        <div class="row"  ng-if="!me.pk">
          <div class="col-md-12 hidden-xs hiddden-sm ">
            <a type="button" href="/login/"  name="button" class="btn btn-default btn-block" style="height:60px;border-radius: 50px !important;padding-top:20px;" >Login</a>
          </div>
        </div>
        <div class="row"  ng-if="me.pk&&!showLogo">
          <div class="col-md-12 hidden-xs hidden-sm">
            <a type="button" href="/ERP/"  name="button" class="btn btn-default btn-block" style="height:60px;border-radius: 50px !important;padding-top:20px;" >Go To Backend</a>
          </div>
        </div>
        <div class="row" ><div class=" hidden-lg hiddden-md  col-sm-12 col-xs-12 "><a type="button" name="button" class="btn btn-default btn-block" style="height:60px;border-radius: 50px !important;padding-top:20px;font-size:14px!important" ng-click="openappStore()" >App Store</a></div></div>
      </div>
    </div>

    <div class="appStoreDiv" style="padding:0px">
      <div class="row" style="margin:0px;">
        <div class="col-md-6 " id="page2bgImage">
          <div class="" id="divText">
            <span class="font60">What's new</span>
            <p id="title" class="font40">App Store</p>

            <p id="description" class="font20">Are you searching for the apps then you are at the right place </p>
          </div>
        </div>
        <div class="col-md-6" id="page2Column1" style="padding-right:0px;">
          <div class="container-fluid col-md-12 col-xs-6" id="columnBox1" style="overflow:hidden" ng-click="appDetails(allApplication[0].pk)" ng-if="allApplication.length>0">
            <div class="row" style="margin:0px;">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="apps" style="background:url('{{allApplication[0].icon}}')no-repeat center;">
                </div>
              </div>
              <div class="col-md-9 col-sm-6 col-xs-12" id="fAppdescription1" style="position:relative">
                <h4>{{allApplication[0].displayName}}</h4>
                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>
                <div  class="firstApp" ng-if="allApplication[0].is_app_installed">
                  <div style="width: 55px;transform: rotate(90deg);margin-top: 75px;color: white;font-size: 11px;"> INSTALLED </div>
                </div>
              </div>

            </div>
          </div>
          <div class="container-fluid col-md-12 col-xs-6" id="columnBox2" ng-click="appDetails(allApplication[1].pk)" style="cursor:pointer;overflow:hidden" ng-if="allApplication.length>1">
            <div class="row" style="margin:0px;">
              <div class="col-md-3 col-sm-6">
                <div class="hidden-xs apps" style="background:url('{{allApplication[1].icon}}')no-repeat center;">
                </div>
              </div>
              <div class="col-md-9 col-sm-6" id="fAppdescription2" style="position:relative">
                <h4 class="maintitle">{{allApplication[1].displayName}}</h4>
                <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span>
                <div class="firstApp" style=""   ng-if="allApplication[1].is_app_installed">
                  <div style="width: 55px;transform: rotate(90deg);margin-top: 75px;color: white;font-size: 11px;"> INSTALLED </div>
                </div>
              </div>


            </div>
          </div>
        </div>

        </div>


      </div>
      <div class="row" style="margin:0px;" ng-if="allApplication.length>2">
        <div  id="Boxes">
          <div class="row">
            <div class="col-md-4 col-sm-6  " ng-click="appDetails(k.pk)" ng-repeat="k in allApplication.slice(2)" style="margin-bottom:10px;">
              <div ng-if="$index % 3 == 0">
                <div class="{{$index % 3 == 0? 'row3':$index % 2 == 0?'row2':$index % 1 == 0?'row1':''}}" style="overflow: hidden;">
                  <div class="row" style="margin:0px;">
                    <div class="col-md-4 col-xs-6">

                      <div class="appImgage" style="background:url('{{k.icon}}')no-repeat center;">
                      </div>
                    </div>
                    <div class="col-md-8 col-xs-6">
                      <h4 class="font25" style="padding-bottom:10px;">{{k.displayName}} </h4>
                      <p style="height:20px;">{{k.totalRatings}} <i class="fa fa-star"></i></p>
                      <div class="installed " style="{{k.displayName.length>15?'bottom: 45px;':'bottom: 22px'}};" ng-if="k.is_app_installed">
                        <div class="font11" style="width: 40px;transform: rotate(90deg);margin-top: 54px;color: white;"> INSTALLED  </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin:0px;padding-top:30px;">
                    <div class="col-md-12 col-xs-12">
                      <p class="font18">{{k.description}}</p>
                    </div>
                  </div>

                </div>
              </div>
              <div ng-if="$index % 3 != 0">
                <div class="{{$index % 3 == 0? 'row1':$index % 2 == 0?'row2':$index % 1 == 0?'row1':''}}" style="overflow: hidden;">
                  <div class="row" style="margin:0px">
                    <div class="col-md-4 col-xs-6">

                      <div class="appImgage" style="background:url('{{k.icon}}')no-repeat center;">

                      </div>
                    </div>
                    <div class="col-md-8 col-xs-6">
                      <h4 class="font25" style="padding-bottom:10px;">{{k.displayName}}</h4>
                      <p style="height:20px;">{{k.totalRatings}} <i class="fa fa-star"></i></p>
                      <div class="installed" style="{{k.displayName.length>15?'bottom: 45px;':'bottom: 22px'}};" ng-if="k.is_app_installed">
                        <div class="font11"style="width: 40px;transform: rotate(90deg);margin-top: 54px;color: white;"> INSTALLED </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin:0px;padding-top:30px;">
                    <div class="col-md-12 col-xs-12">
                      <p class="font18">{{k.description}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>

    </div>

</div>

</div>
