<div class="" style="cursor:pointer;">
  <style media="screen">
    .navbar-dark .navLink {
      color: black !important;
      outline: none !important;
    }

    .navbar-dark .navLink:hover,
    .navbar-dark .navLink:focus {
      color: #ff6900 !important;
      background: none !important;
    }

    .lightIcon {
      display: none;
    }

    .darkIcon {
      display: intial;
    }

    .navbar-dark {
      background: white;
    }

    .btn-rounded {
      background-color: #0085ca;
      color: white;
      border: 2px solid #0085ca;
    }

    .btn-rounded:hover {
      background-color: white;
      color: #0085ca !important;
      border: 2px solid #0085ca;
    }

    .lightic {
      display: none !important;
    }

    .link {
      color: black;
    }

    .link:hover {
      color: black;
      background-color: transparent !important;
    }
  </style>
  <div class="container-fluid" style="">
    <div class="row" style="background-image: url('{{allBlogs[0].contents[0].img}}');background-size:cover;background-repeat:no-repeat;min-height:500px;background-position:center">


      <div class="col-md-8 col-md-offset-2 allMargins" style="margin-top:150px;">
        <p style="color:white"> Blogs</p>
        <div class="blog_date_tag">
          <ul style="padding:0px;display:flex;margin-top:30px;">
            <p style="color:white;font-size:18px;margin-bottom:0px;">
              <li style="color:white;font-size:18px;margin-left:30px;">{{allBlogs[0].created}}</li>
            </p>
          </ul>
        </div>
        <h2 style="color:white;margin-top:0px;">{{allBlogs[0].title}}</h2>
        <button type="button" class="btn btn-lg btn-default  btn_read" name="button" style="margin-top:40px;padding:10px 25px"><a href="/{{firstArticle.articleUrl}} " class="link_read">Read Story</a></button>
      </div>
     <i class="fa fa-pencil pull-right fa-3x" ng-click="$state.go('businessManagement.editblog',{'id' : allBlogs[0].pk});$event.stopPropagation()" ng-if="$state.is('businessManagement.blogging')"></i>
    </div>

    <div class="row" style="margin:0px;margin-top:25px;">
      <div class="col-md-8 col-md-offset-2 allMargins" style="padding:0px">
        <h3 style=" margin-bottom:20px;">Featured Blogs</h3>
        <div class="row" >
          <div  ng-repeat="i in allBlogs.slice(1,4)">
          <!-- <a  href="/{{i.articleUrl}}"> -->
            <div class="col-lg-4 text-center" style="margin-bottom:20px;">
              <div  style="background-image:url('{{i.contents[0].img}}');background-size:cover;min-height:300px;padding:30px;border-radius:5px;">
                <i class="fa fa-pencil pull-right fa-lg" ng-click="$state.go('businessManagement.editblog',{'id' : i.pk});$event.stopPropagation()" ng-if="$state.is('businessManagement.blogging')"></i>
                  <h3 style="color:white;height:40px;">{{i.title}}</h3>
                  <button type="button" class="btn btn-lg btn-default  btn_cardread" name="button"><a class="read_art" href="/{{i.articleUrl}}">Read Article </a></button>
                </div>
              </div>
          <!-- </a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin:0px;">
      <div class="col-md-8 col-md-offset-2 allMargins" style="margin-top:20px;padding:0px">
        <div class="row blog_cards">
          <div class="col-lg-9"  style="padding:0px;">
            <div class="row" id="blogcards" >
            <h4 style="text-transform:uppercase;font-weight:bold;font-size:16px;padding-left:15px;">Explore Our Blog</h4>
            <div ng-repeat="i in allBlogs.slice(1,4)">
            <!-- <a href="/{{i.articleUrl}}"> -->
              <div class="col-lg-4 col-sm-6 text-center" style="margin-bottom:20px;">
                <div class="row" style="min-height:320px;margin-right:0px;margin-left:0px;border-bottom:1px solid rgba(0,40,85,.5);">
                  <div class="col-md-12" style="padding:0px;">
                    <div style="background-image:url('{{i.contents[0].img}}');background-size:cover;min-height:150px;border-radius:5px;">
                    <i class="fa fa-pencil pull-right fa-lg" ng-click="$state.go('businessManagement.editblog',{'id' : i.pk});$event.stopPropagation()" ng-if="$state.is('businessManagement.blogging')"></i>
                    </div>
                    <div class="text-left" style="padding:20px;padding-left: 0px;padding-right: 0px;">
                      <p style="color:#0085ca"><strong>{{i.category}}</strong></p>
                      <a class="blog_text" href="/{{i.articleUrl}}" style="display:block;margin-bottom:10px;min-height:100px;">{{i.title }}</a>
                      <p style="margin-top:10px;color:rgba(0,40,85,.5)">{{i.created | date}}</p>
                    </div>
                  </div>
                </div>
              </div>

            <!-- </a> -->

          </div>
          </div>
            <!-- <div class="row col-lg-12" style="margin:0px;">

              <div class="prevNextBtn">
                <div>


                      <a role="button" class="btn btn-lg btn-default btn-rounded "href="/blog/{{prevpage}}">Previous</a>
                </div>

                <div >
                  <a role="button" class="btn btn-lg btn-default btn-rounded " href="/blog/{{nextPage}}">Next</a>
                </div>

              </div>
            </div> -->


          </div>
          <div class="col-lg-3 ">


          </div>
        </div>

      </div>
    </div>
  <div class="row" style="position:fixed;bottom:0px;right:30px;min-height:100px"  ng-if="$state.is('businessManagement.blogging')">

      <div class="col-md-12" ng-click="goTo()">
          <button type="button"  name="button" style="border-radius:50%!important;padding:20px;background:rgb(112, 168, 251);color:white"><i class="fa fa-plus fa-3x"></i></button>
      </div>
  </div>
  </div>
</div>
