<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1" style="margin-top:30px;margin-bottom:30px" ng-repeat="k in recentProducts">
    <div class="col-md-4">
      <span class="row  " style="font-size: 1.3em;font-weight: 600;color: #212529;text-align: center;">{{k.heading}}</span>
      

    </div>
    <div class="col-md-8">
      <ng-owl-carousel class="owl-theme " owl-items="k.items" owl-properties="recentProductsProperties" owl-ready="ready($api)">
        <div class="row" ng-repeat="l in k.items track by $index">
          <div>
            <product-cards list="l">
              <product-cards>

          </div>
        </div>
      </ng-owl-carousel>

    </div>
  </div>
</div>
