
<div class="" style="cursor:pointer;">


<div class="container-fluid forum_container_fluid" style="margin-top:100px;padding-right:0px;padding-left:0px;">
  <div class="row forum_crm_starting">
    <div class=" col-lg-12 col-md-12 forum_crm_div12">
      <div class="col-md-7 col-lg-8 forum_crm_div7">
        <h2 class="font30" style="margin-top:0px;font-weight:bold;">{{alldata.forumdata.title}}</h2>
        <div class="row forum_crm_line" style="margin-left:0px;margin-right:0px;">
          <div class="col-md-2" style="padding-left:0px">
            <a style="color:#6a56ff" onclick="window.history.back();"> Back to Forum</a>
          </div>
          <div class="col-md-1 " style="padding-left:0px">
            <a href="#" style="color:#adadad">Report</a>
          </div>
        </div>
        <div class="row forum_crm_textarea " style="margin-left:0px;margin-right:0px;margin-top:40px">
          <div class="col-md-1 col-lg-1" style="padding-left:0px;padding-right:0px">
            <div class="forum_crm_image" style="background-image:url('/static/images/b01.png');"></div>
          </div>
          <div class="col-md-10 col-lg-10  forum_crm_para" >
            <p style="color:#767676;font-size:16px; letter-spacing:0.5px;line-height:1.5;" ng-bind-html="alldata.forumdata.description"></p>
          </div>
        </div>
        <div class="row" style="margin-left:0px;margin-right:0px;margin-top:40px">
          <div class="col-md-12 col-lg-12" style="padding-left:0px;padding-right:0px">
              <p style="display: inline-block;border:1px solid #ff6900;padding:10px;border-radius:25px;background:#fed0a6;margin:5px;position:relative" ng-repeat="i in alldata.forumdata.tag">{{i.name}} </p>
          </div>
        </div>
        <div class="row" style="margin-left:0px;margin-right:0px;margin-top:40px">
          <div class="col-md-12 col-lg-12" style="padding-left:0px;padding-right:0px">
            <div class="col-md-3 col-sm-4 col-xs-6 text-center"  style="padding-right:5px;padding-left:5px" ng-repeat="i in alldata.forumdata.files">
              <div  ng-if="i.typ == 'image'" style="background-color: #f1f2f7ff;background-image:url({{i.attachment}});border-radius:25px;background-size:cover;height:75px;margin-top:15px;padding-right:0px;padding-left:0px">
              </div>
                <div ng-if="i.typ != 'image'"  style="background-color: #f1f2f7ff;border-radius:25px;background-size:cover;height:75px;margin-top:15px;padding-right:0px;padding-left:0px;padding-top:10px" class="text-center">
                  <i class="fa {{i.attachment}} fa-4x" style="text-align:center"></i>
                </div>
            </div>
          </div>
        </div>
        <div class="row forum_crm_textarea" style="margin-left:0px;margin-right:0px;margin-top:40px">
          <div class="col-md-1 col-lg-1" style="padding-left:0px;padding-right:0px">
            <div class="forum_crm_image" style="background-image:url('/static/images/b01.png')"></div>
          </div>
          <div class="col-md-8 col-lg-8 forum_crm_post " >
            <div class="form-group">
              <textarea class="form-control" name="name" rows="4" cols="80" ng-model="data.content" placeholder="Type here to reply Pawel....." style="padding:17px;resize:none;border-radius:5px;border:1px solid #eee;background-color:#fafafa"></textarea>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-3 col-sm-4 col-xs-6 text-center" ng-repeat="f in data.files" style="padding-right:5px;padding-left:5px">
                    <div ng-if="f.typ=='image'"  style="background-color: #f1f2f7ff;background-image:url({{f.attachment}});border-radius:25px;background-size:cover;height:75px;margin-top:15px;padding-right:0px;padding-left:0px">
                      <i class="fa fa-close fa-lg pull-right" ng-click="removeImage($index)" ></i>
                      </div>
                      <div ng-if="f.typ!='image'"  style="background-color: #f1f2f7ff;border-radius:25px;background-size:cover;height:75px;margin-top:15px;padding-right:0px;padding-left:0px;padding-top:10px" class="text-center">
                        <i class="fa fa-close fa-lg pull-right" ng-click="removeImage($index)" ></i>
                          <i class="fa {{f.attachment|fileTypeIcon}} fa-4x" style="text-align:center"></i>
                        </div>
                  </div>
                  <div class="col-md-3 col-sm-4 col-xs-6 text-center" style="padding-right:5px;padding-left:5px">
                    <div style="background:#f1f2f7ff;border-radius:25px;padding-top:20px;padding-bottom:20px;margin-top:15px">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <input type="file" class="file_upload" ng-model="data.image" onchange="angular.element(this).scope().fileNameChanged(this.files)" />
                    </div>
                  </div>
                </div>
              </div>

              <button type="submit" id ="post"class="btn  btn-default btn_post " ng-click="postcomment()" ng-if="me.pk">Post comment</button>

              <button type="submit" id ="post"class="btn  btn-default btn_post " onclick="window.location='/ERP/';" ng-if="!me.pk">Login To Comment</button>

            </div>

          </div>


        </div>


        <div class="row" style="margin-left:0px;margin-right:0px;margin-top:40px">
          <p style="font-size:20px;font-weight: bold;letter-spacing: 0.25px;line-height: 1.5;">comments</p>


          <ul class="media-list" ng-repeat="o in alldata.forumcommentdata">
            <li class="media" >
              <div class="media-left">
                <div style="background-image:url('/static/images/b01.png');width:20px;height:20px;border-radius:50%;">
                </div>
              </div>



              <div class="media-body">
                <h4 class="font16" class="media-heading" style="padding-right:15px;color:#121212;font-weight:bold;" >
                <span ng-if="o.user.pk">  {{o.user.first_name}} {{o.user.last_name}} </span>
                <span ng-if="!o.user.pk ">  Anonymous User </span>
                 <span class="font14" style="padding-left:5px;color:#484848;font-weight:normal">{{o.content}}</span>

                 <i class="fa fa-trash" ng-if="$state.is('businessManagement.viewForum')" data-placement="top"  mwl-confirm title="Confirm" message="Are you sure?" data-placement="top" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="delete($index)"
                   confirm-button-type="default" cancel-button-type="default"></i>
                 <i class="fa fa-pencil" ng-if="$state.is('businessManagement.viewForum')" ng-click="edit($index)"></i>
               </h4>
                 <div class="row" style="margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px">
                   <div class="col-md-12 col-lg-12" style="padding-left:0px;padding-right:0px">
                     <div class="col-md-1 col-sm-4 col-xs-6 text-center"  style="padding-right:5px;padding-left:5px" ng-repeat="i in o.files">
                       <div ng-if="i.typ == 'image'"  style="background-color: #f1f2f7ff;background-image:url({{i.attachment}});border-radius:10px;background-size:cover;height:50px;margin-top:15px;padding-right:0px;padding-left:0px" ng-click = openDoc(i.attachment,i.typ)>
                       </div>
                         <div  ng-if="i.typ != 'image'"  style="background-color: #f1f2f7ff;border-radius:10px;background-size:cover;height:50px;margin-top:15px;padding-right:0px;padding-left:0px;padding-top:10px" class="text-center" ng-click = openDoc(i.attachment,i.typ)>
                           <i class="fa {{i.attachment}} fa-4x" style="text-align:center"></i>
                         </div>
                     </div>
                   </div>
                 </div>
                <div class="row" style="margin-left:0px;margin-right:0px;">
                  <a href="#" style="padding-right:10px;color:#afafaf">like</a>
                  <a href="#" style="padding-right:10px;color:#afafaf">{{o.created | date }}</a>
                  <!-- <a href="#" style="padding-right:10px;color:#afafaf">16 Likes</a> -->

                </div>




              </div>


            </li>
          </ul>
                    <!-- <ul class="media-list" ng-if="alldata.forumcommentdata.length>0" ng-repeat="o in alldata.forumcommentdata" >
                      <li class="media">
                        <div class="media-left">
                          <div style="background-image:url('/static/images/b01.png');width:20px;height:20px;border-radius:50%;">
                          </div>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading" style="padding-right:15px;color:#121212;font-weight:bold;font-size:16px"> {{o.user.first_name}}  {{o.user.last_name}}   <span style="padding-left:5px;font-size:14px;color:#484848;font-weight:normal">{{o.content}}</span></h4>
                          <div class="row" style="margin-left:0px;margin-right:0px;">
                            <a href="#" style="padding-right:10px;color:#afafaf">like</a>
                            <a href="#" style="padding-right:10px;color:#afafaf">{{o.created|timeAgo}}</a>
                          </div>
                        </div>
                      </li>
                    </ul> -->




        </div>

      </div>
      <div class="col-md-3 col-lg-3 forum_crm_topcontri" >
        <h3 style="font-weight:bold;margin-top:7px;">Top Contributors</h3>
        <p style="margin-bottom:0px;color:#b6b6b6">People who started the most discussions on talks </p>

        <div class="row" style="margin-top:15px;margin-left:0px;margin-right:0px;" ng-repeat="o in alldata.profilObj">
          <div class="col-md-1 col-lg-1 col-xs-1" style="padding-left:0px;padding-right:0px">
            <div style="background-image:url('/static/images/3.jpg');width:20px;height:20px;border-radius:50%;"></div>
          </div>
          <div class="col-md-3 col-lg-10 col-xs-10" >
            <p style="margin-bottom:0px">{{o.user.first_name}} {{o.user.last_name}}<span style="padding-left:20px;"><i class="fa fa-commenting-o" aria-hidden="true"> {{o.postCount}}</i>
              </span></p>
          </div>
        </div>


      </div>
    </div>
  </div>

  <!-- <div class="row" style="margin:0px;background-image: linear-gradient(106deg,#0078d4 50vw,#243a5e calc(50vw + 1px),#243a5e 50vw);background-color: #243a5e;background-repeat: no-repeat;min-height:200px;background-position-x: -250px;margin-top:50px;">
    <div class="col-md-12 ">
      <div class="col-lg-12 col-xs-12  explore_text" style="text-align:center">
        {% if  request.user.pk %}
        <a type="button" class="btn neonbtn" href="/account"  style="margin-top:60px;">Get a free demo</a>
        {% else%}
        <a type="button" class="btn neonbtn" ng-click="erpLogin()" style="margin-top:60px;" > Get a free demo</a>
        {% endif %}
      </div>
    </div>
  </div> -->
</div>
</div>
