{% extends 'base.html'%}
{% load staticfiles %}
{% block specific_css %}
<style media="screen">

  .progress {
    height: 25px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .div_padding{
    padding:50px;padding-bottom:100px;
  }
  .page_css{
    box-shadow:0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);padding:50px;
  }

  .comment_card{
    background-image:url('/static/images/img_avatar_card2.png');height:60px;background-size:cover;background-position:center;border-radius:50%
  }
  .item{
    padding:10px;
    margin:10px
  }
  .commentQuote{
    font-size: 36px;color:#ccc;position: absolute;
    left: 20px;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
    .div_padding{
      padding:20px 15px;
    }
    .page_css{
      padding:30px;
    }
    .no_padding{
      padding:0px;
      /* text-align:center */
    }
    .review{
      margin-top:20px;
      margin-bottom:20px
    }
    .comment_card{
      background-size: contain;
height: 100px;
border-radius: 0px;
background-repeat: no-repeat;
margin-bottom:20px;
    }
    .showText{
      text-align:left
    }
    .no_margin{
      margin:0px;
    }

  }
</style>
{% endblock %}



{% block header %}
{% include 'app.HR.header.html'%}
<script>
  window.onscroll = function() {myFunction()};
  var header = document.getElementById("myHeader");
  var sticky = header.offsetTop;
  function myFunction() {
    if (window.pageYOffset > sticky) {
      header.style.position = 'fixed'
      header.style.width = '80%'
      header.style.top = '0'
      header.style.zIndex = "3"
     header.style.paddingTop = '20px'
      header.style.paddingBottom = '20px'
    }
    else {
      header.style.position = 'relative'
      header.style.width = '100%'

    }
  }
</script>
{% endblock %}

{% block content %}

{% verbatim %}
  <appdetailed-view > </appdetailed-view>
{% endverbatim %}

{% endblock %}



{% block footer %}
  {% include 'app.HR.pagefooter.html'%}
{% endblock %}
