
  <style media="screen">
    #page3bgImage2{
      background: linear-gradient(to bottom,transparent 40%,#F2707E 10%);
      /* height:300px; */
      border-bottom-left-radius:30px;
      border-bottom-right-radius:30px;
      margin-top: 150px;
      margin-bottom: 50px;
      padding-bottom: 90px;
    }
    #page3bgImg4 #box1{
      background:white;box-shadow:10px 20px 100px rgba(0,103,184,0.25);border-radius:42px;height:550px;
    }
    #page3bgImg4 #box2{
      background:white;box-shadow:10px 20px 100px rgba(0,103,184,0.25);border-radius:42px;height:720px;margin-top:-80px;
    }
    #page3bgImg4 #box3{
      background:white;box-shadow:10px 20px 100px rgba(0,103,184,0.25);border-radius:42px;height:550px;
    }
</style>

<div class="container-fluid" id="page3bgImage2">

  <div class="col-md-10 col-md-offset-2 col-xs-12 " id="page3bgImg4">
    <div class="col-md-10 col-md-offset-1 ">
      <div class="col-md-3 col-xs-4 ">
        <div class="" id="box1" >

        </div>

      </div>
      <div class="col-md-4 col-xs-4 ">
        <div class="" id="box2">

        </div>
      </div>
      <div class="col-md-3 col-xs-4 ">
        <div class="" id="box3">

        </div>
      </div>
    </div>

  </div>
</div>
