<style media="screen">
  

</style>
<div class="container-fluid footer">
  <div class="col-md-8 col-md-offset-2">
    <div class="row circleMargins">
      <div class="col-md-9 ">
        <div class="row">
          <div class="col-md-3 hidden-xs" id="OrangeCircle">
            <div clas>

            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 text-center" id="BlueCircle">

            <h3>Want to create something great ?</h3>

              <a href="/contactus">Get in touch <img src="/static/images/longarrow.png" alt=""></a>


          </div>
          <div class="col-md-2 hidden-xs" id="Greencircle">

          </div>
        </div>

      </div>
      <div class="col-md-3 col-xs-12  text-start" style="white-space:nowrap" >
        <div class="row">
          <span>
            <img src="/static/images/xicon.png" alt="" style="width:75px;padding-right:20px !important;margin:0px;padding:0px;">Kloud ERP
          </span>
        </div>
        <div class="row">
          <h5>we do care about everything</h5>
          <p >Drop us a mail or visit our office</p>
        </div>
        <div class="row" >

          <a href="/careers" target="_self" style="margin-bottom:4px;padding:0px;">
            <h5>Careers</h5>
          </a>
          <a href="/contactus" target="_self" style="margin-bottom:4px;padding:0px;">
            <h5>Contact Us</h5>
          </a>
          <a href="/blog" target="_self" style="margin-bottom:4px;padding:0px;">
            <h5>Blog</h5>
          </a>
        </div>
        <br>
        <!-- <div class="row">
          <div class="col-md-1 col-xs-4  col-sm-4 facebookin" style="">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
          <div class="col-md-1 col-xs-4  col-sm-4 twitter" style="">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </div>
          <div class="col-md-1 col-xs-4  col-sm-4 facebookin">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </div>
        </div> -->
        <br>
        <div class="row">
          <ul class="list-unstyled ">
            <li style="display:inline;color:#FA949D;"><a href="/terms">Terms & Conditions </a></li>
            <li style="display:inline;padding-left:10px;"><a href="/privacypolicy">Privacy Policy</a></li>
            <li style="display:inline;padding-left:10px;"><a href="/refundpolicy">Refund Policy</a></li>
          </ul>
        </div>
        <br>
        <div class="row">
          <p>2020 all rights reserved</p>
        </div>
      </div>

    </div>
  </div>

</div>
