  <style media="screen">
    body{
      overflow-x:hidden;
    }

  #page8Div4{
    margin-top:50px;
    margin-bottom:120px;
  }
  #page8Div4 i{
    font-size: 15px;

    padding: 12px;

    background-color:#6136C9;
    color:white;
    position: absolute;
    left: 10%;
    z-index: 99;
    top: -7%;

  }
  #page8Div4 p{
    font-size:16px;
    /* line-height:18.75px; */
    font-weight:400;
    color:black;
    margin-top:15px

  }
  #page8Div4 span{
    font-size:18px;
    font-weight:700;
    color:black;
    margin-top:25px

  }


  #page8Div4 #firstCarouselimg{
    background:url('/static/images/userIcon.png') no-repeat center;
    height: 80px;
    background-size: contain;


  }
  #page8Div4 #thirdCarouselimg p{
    line-height: 9;
    color:black;
    font-weight: 400;
    font-size:16px;
  }
  #page8Div4 #secondCarouselimg p{
    line-height: 9;
    color:black;
    font-weight: 400;
    font-size:16px;
  }
  #page8Div4 #firstCarouselimg p{
    line-height: 9;
    color:black;
    font-weight: 400;
    font-size:16px;
  }
  #page8Div4 #secondCarouselimg{
    background:url('/static/images/userIcon.png') no-repeat center;
    height: 80px;
    background-size: contain;

  }
  #page8Div4 #thirdCarouselimg{
    background:url('/static/images/userIcon.png') no-repeat center;
    height: 80px;
    background-size: contain;

  }
  #page8Div4 #firstCarousel{
    background:white;
    box-shadow: 0px 0px 10px #ccc;
    height: 300px;
    padding: 40px;
  }
  #page8Div4 #secondCarousel{
    background:white;
    box-shadow: 0px 0px 10px #ccc;
    height: 300px;
    padding: 40px;
  }
  #page8Div4 #thirdCarousel{
    background:white;
    box-shadow: 0px 0px 10px #ccc;
    height: 300px;
    padding: 40px;
  }
  #page8Div4  h2{
    color:black;
    font-weight:700;
    margin-bottom:100px;
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
    .no_padding{
      padding:0px;
    }

    #page8Div4{
      margin-bottom:0px;
    }
    #page8Div4 #firstCarousel{
      margin-bottom:50px;
      padding:20px !important;
    }
    #page8Div4 #secondCarousel{
      margin-bottom:50px;
      padding:20px !important;
    }
    #page8Div4 #thirdCarousel{
      margin-bottom:50px;
      padding:20px;
    }
    
  }
  </style>



<div class="container-fluid text-center" id="page8Div4">
  <div class="col-md-10 col-md-offset-1 text-center">
    <h2>TESTIMONIALS</h2>
  </div>
  <div class="col-md-10 col-md-offset-1 no_padding">
    <div class="col-md-4 no_padding">
      <div class="" id="firstCarousel">
        <div class="" id="firstCarouselimg">

        </div>
        <i class="fa fa-quote-right" aria-hidden="true"></i>
        <p>
        “It has been an absolute pleasure dealing with Scan during the lockdown. Our church began to livestream our services, and Scan had a great selection of hardware....”
      </p>
      <span>Judy Dowson</span>
      </div>

    </div>
    <div class="col-md-4 no_padding" >
      <div class="" id="secondCarousel">
        <i class="fa fa-quote-right" aria-hidden="true"></i>
        <div class="" id="secondCarouselimg">

        </div>
        <p>
        “It has been an absolute pleasure dealing with Scan during the lockdown. Our church began to livestream our services, and Scan had a great selection of hardware....”
      </p>
      <span>Judy Dowson</span>
      </div>
    </div>
    <div class="col-md-4 no_padding" >

      <div class="" id="thirdCarousel">
        <div class="" id="thirdCarouselimg">
        </div>
        <i class="fa fa-quote-right" aria-hidden="true"></i>
        <p>
        “It has been an absolute pleasure dealing with Scan during the lockdown. Our church began to livestream our services, and Scan had a great selection of hardware....”
      </p>
      <span>Judy Dowson</span>
      </div>
    </div>

  </div>
</div>
