{% extends 'base.html'%}
{% load staticfiles %}

{% block content %}
<div ng-app="app" ng-controller="main">

{% for component in components %}
  <div class="" ng-init='data = {{component.data | safe}}'>
    <style media="screen" >
      {{component.css}}
    </style>
    {{component.template | safe}}

  </div>
{% endfor %}
</div>




{% endblock %}

<script type="text/javascript">

  var app = angular.module('app', [ 'ngSanitize', 'ui.bootstrap']);

  app.controller('main', function($scope, $http, $sce, $uibModal) {


  });



</script>
{% block pageJS %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie-1.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/ui-bootstrap-tpls-0.14.3.min.js' %}"></script>
<script src="{% static 'js/angular-bootstrap-confirm.min.js' %}"></script>
<script src="{% static 'js/angular-sanitize.min.js' %}"></script>
<script src="{% static 'js/angular-flash.js' %}"></script>
<script src="{% static 'js/angular-ui-switch.min.js' %}"></script>
<script src="{% static 'js/ace.js' %}"></script>
<script src="{% static 'js/ace/ext-language_tools.js' %}"></script>
<script src="{% static 'js/custom/directives.js' %}"></script>
<script src="{% static 'js/custom/directives.native.js' %}"></script>
<script src="{% static 'js/custom/nativeJS.js' %}"></script>
<script src="{% static 'js/custom/services.js' %}"></script>
<script src="{% static 'js/custom/ecommerce.directive.js' %}"></script>
{% endblock %}
