{% extends 'base.html'%}
{% load staticfiles %}

{% block specific_css %}
<style media="screen">
  body {
    background-color: #fafafa
  }

  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -35px;
    z-index: 9999999999999999999999999999999999999999999;
    position: absolute;
    left: 50%;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #0e8ce4;
    width: 15px;
    height: 15px;
  }

  .owl-theme .owl-nav {
    position: absolute;
    left: -50%;
    top: 65px;
  }

  .owl-theme .owl-nav .owl-prev,
  .owl-theme .owl-nav .owl-next {
    color: #d9d9d9 !important;
    width: 36px;
    height: 36px;
    background-color: #ffffff !important;
    padding-right: 7px;
    border-radius: 50%;
    display: inline-block;
    font-size: 24px !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    border: 0;
    cursor: pointer;
    text-align: center;
    transition: all 200ms ease;
    margin-right: 15px;
  }
</style>
{% endblock %}
{% block header %}
{% verbatim %}
<ecommerce-header> </ecommerce-header>

{% endverbatim %}
{% endblock %}


{% block content %}


<div >
  {% verbatim %}
      <!-- <ecommerce-banners > </ecommerce-banners>
      <ecommerce-bestdeals></ecommerce-bestdeals>
      <ecommerce-newproducts></ecommerce-newproducts>
      <secondlevel-banners> </secondlevel-banners>
      <ecommerce-hotproducts> </ecommerce-hotproducts>
      <recently-viewedproducts> </recently-viewedproducts>
      <ecommerce-partners> </ecommerce-partners>
      <ecommerce-testimonials> </ecommerce-testimonials> -->

  {% endverbatim %}
</div>


{% endblock %}
