
  <style media="screen">
    .no_padding{
      padding:0px !important;
    }
    #page5bgImg4{
      background: url('/static/images/page5bgImg3.png'),url('/static/images/page5bgImg2.png');
      background-position: right,left;
      background-size: 15%;
      background-position-y: top,bottom;
      background-repeat: no-repeat;
    }
    #page5bgImg4 #commonDiv{
      padding:30% 0px;
    }
    #page5bgImg4 #box1{
      background:white;box-shadow:10px 20px 100px rgba(0,103,184,0.25);border-radius:42px;height:550px;
    }
    #page5bgImg4 #box2{
      background:white;box-shadow:10px 20px 100px rgba(0,103,184,0.25);border-radius:42px;height:720px;margin-top:-80px;
    }
    #page5bgImg4 #box3{
      background:white;box-shadow:10px 20px 100px rgba(0,103,184,0.25);border-radius:42px;height:550px;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
      body{
        overflow-x:hidden
      }
      .no_paddingg{
        padding:0px;
      }

      #page5bgImg4{
        height:100%;
        background-size:80%;
        padding:200px 0px;
        padding-top:0px;
      }
      #page5bgImg4 #commonDiv{
        padding:0%;
      }
      #page5bgImg4 #box1{
        margin-bottom:20px;
        height:350px;
      }
      #page5bgImg4 #box2{
        margin-top:0px;
        margin-bottom:20px;
        height:350px;
      }
      #page5bgImg4 #box3{
        margin-bottom:20px;
        height:350px;
      }
    
    }
</style>



<div class="container-fluid no_padding">
  <div class="container-fluid no_padding" id="page5bgImg4">
    <div class="col-md-10 col-md-offset-2" id="commonDiv">
      <div class="col-md-3 ">
        <div class="" id="box1" >

        </div>

      </div>
      <div class="col-md-4 ">
        <div class="" id="box2">

        </div>
      </div>
      <div class="col-md-3 ">
        <div class="" id="box3">

        </div>
      </div>
    </div>

  </div>

</div>
