
  <style media="screen">
    .no_padding{
      padding-right:0px !important;
      padding-left:0px !important;
    }
    #page4bgImg{
      background:url('/static/images/page4bgImage.svg') no-repeat right;
      height:700px;
      background-size:60%;
    }
    #page4bgImg #page4heading{
      font-size:60px;
      font-weight:700;
      line-height:70.31px;
      color:#3c3c3c
    }
    #page4bgImg #page4description{
      font-size:22px;
      font-weight:700;
      line-height:25.78px
      color:#3c3c3c
    }
    #page4bgImg #btn1{
      border-radius:172px;
      background:#FF7981;
      border:2px solid #FF7981;
      height:72px;
    }
    #page4bgImg #btn2{
      background:white;
      border:2px solid #FF7981;
      border-radius:172px;
      height:72px;
    }
    #page4bgImg #box{
      background:white;box-shadow:10px 20px 100px rgba(0,103,184,0.25);border-radius:42px;transform:rotate(30deg);height:640px;
      width:84%;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
      body{
        overflow-x:hidden;
      }
      .no_paddingg{
        padding:0px;
      }
      #page4bgImg4{
        background: url('/static/images/bgimage2.png'),url('/static/images/bgimage3.png');
        background-position: right,left;
        background-size: 60%;
        background-position-y: top,bottom;
        background-repeat: no-repeat;
      }
      #bgImg5{
        background:none;
      }
      #page4bgImg{
        background-size:cover;
        height:100%;
      }
      #page4bgImg #btn1{
        margin-bottom:20px;
      }
      #page4bgImg #box{
        transform: rotate(0deg);
        height: 440px;
        width:100%;
        margin-top:30px;
      }
      #bgImg2{
        background-image:none;
        height:100%;

      }
      #bgImg2 #page4bgImg2{
        background-position:right;
        background-size:contain;

      }
      #bgImg2 #heading2{
        margin-top:30px;
      }
      #page4bgImg4 #box1{
        height:350px;
        margin-bottom:20px;
      }
      #page4bgImg4 #box2{
        margin-top:0px;
        margin-bottom:20px;
        height:350px;
      }
      #page4bgImg4 #box3{
        margin-bottom:20px;
        height:350px;
      }
      #bgImg5{
        margin-bottom:30px;
      }
      #bgImg5 #testimonials h1{
        margin-top:30px;
      }
      #bgImg5 #divMargin{
        margin-top:30px;
      }
      #bgImg5 #testimonials #testimonialBgimg{
        background-size:cover;height:360px;
      }
      #bgImg5 #testimonials #prevNextbtns{
        margin-top:30px;
      }
      #bgImg5 #testimonials #prev{
        margin-bottom:20px;
      }
      #downloadDiv{
        height:580px;
      }
      #downloadDiv p{
        padding-top:30px;
        font-size:30px;
        margin-top:0px;
      }
      #downloadDiv #firstBox{
        height:300px;
        /* margin-top:53px; */
      }
      #downloadDiv #secondBox{
        height: 257px;
        margin-left: 0%;
        right: 0;
        bottom: -3px;
        /* margin-top: 25%; */
        border-top-left-radius: 0px;
      }
    }
</style>


<div class="no_padding container-fluid ">
  <div class="" id="page4bgImg">
    <div class="col-md-10 col-md-offset-2" style="padding:30px 0px;">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <img src="/static/images/zigmasmall.svg" alt="" >

          </div>

        </div>
        <div class="row" >
          <div class="col-md-8">
            <h1 id="page4heading">Manage your Office from your Pocket</h1>

          </div>
        </div>
        <div class="row" id="page4description">
          <div class="col-md-8">
            <p>Product Delivery is Faster than Ever</p>

          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <button type="button" name="button" class="btn btn-block" id="btn1"></button>
          </div>
          <div class="col-md-3">
            <button type="button" name="button" class="btn btn-block" id="btn2"></button>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="" id="box" style="">

        </div>
      </div>
    </div>
  </div>

</div>
