{% extends 'base.html' %}

{% block header %}

{% include 'app.HR.header.html'%}

{% endblock %}
{% block content %}
<style media="screen">
@media only screen and (min-width : 250px) and (max-width : 600px) {

  .about_all_cards{
    padding:15px !important;
  }
  #page2bgImage{
    margin:15px !important;
  }
}
@media only screen and (min-width : 600px) and (max-width : 991px) {
  #page2bgImage{
    margin:15px !important;
  }
 </style>
<div class="row about_container_img">

  <div class="text-center" style="margin-top:170px;">
    <h3 id="about_head">Get to know  the people behind</h3>
  </div>
  <div class="col-lg-10 col-lg-offset-1 about_what_para">
    <div class="col-lg-5 about_cards about_all_cards">
      <p class="about_whiteblk_text about_white_text" style="font-size:18px;font-weight:bold;">what we do</p>
      <p class=" about_whiteblk_text about_white_text" style="font-size:16px;line-height:2">EpsilonAI is on a mission to transform the way our customers approach digital transformation using RPA. With many of our in house and properietry Components
        to make it easy to fully realize the potential of the RPA in 2020 we can help in more ways than you can think of. Easy to build , maintain and scale is the core philosophy for past, present and future work.
      </p>
    </div>
    <div class="col-lg-6 col-lg-offset-1 about_cards about_all_cards" style="padding-left:80px;">
      <p class="about_white_text" style="font-size:18px;font-weight:bold">why we do</p>
      <p class="about_white_text" style="font-size:16px;">In simple words : its fun. Why do any business exist ?. We do it to amaze people with the quality of the work. As of 2020 and few years in future, the need of fully automated IT infrastructure
        is one of the key parameters on which the success of an organization can be determined for the upcoming years and to take advantage of the opportunity it is importtant to choose the right partner. I rest my case here.
      </p>
    </div>
  </div>
</div>

<div class="row about_second_img">

</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 about_multi_head">
    <div class="col-lg-6" style="padding:0px">
      <h1 class="about_all_cards"> A Multi-disciplinary <br> <strong>Core</strong> </h1>
    </div>
    <div class="col-lg-6 about_all_cards" style="padding:0px;">
      <p style="letter-spacing:0.5px;font-size:16px;line-height:2"> The core team is built with people with wide range of previous experiences.Passion can not be transferred but born within and we feel we have got it just enough to build the next
        unicorn company.
      </p>
    </div>
    <div class="col-lg-4 about_all_cards" style="padding:0px;">
      <p style="letter-spacing:0.5px;font-size:16px;line-height:2">
      </p>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 about_all">

    <div class="col-lg-6 img_div">
      <div class="col-lg-6 steff_img" style="">

      </div>
      <div class="col-lg-4 img_details">
        <p style="font-size:16px;font-weight:bold">Raj</p>
        <span>Technology</span>
        <ul style="list-style:none;padding:0px;margin-top:15px;">
          <li style="padding-right:10px;font-size:20px"><a href="https://www.linkedin.com/in/raj-kumar-yadav-3633145b/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <!-- <li class="fa fa-facebook" style="padding-right:10px;font-size:20px"></li>
            <li class="fa fa-twitter" style="padding-right:10px;font-size:20px"></li> -->
        </ul>
      </div>
      <!-- <div class="col-lg-5 middle steff_middle">
          <p style="font-weight:bold;color:white">Raj</p>
          <p style="color:white">Technology</p>


        </div> -->
    </div>

  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 about_second_imgs" style="">
    <div class="col-lg-6 img_div" style="padding:0px">
      <div class="col-lg-6 about_cards_imgs">
        <div class="col-lg-6 Christian_middle" style="padding:15px;text-justify:contents;">
          <p style="font-weight:bold;color:white">Praveen</p>
          <p style="color:white">Finance</p>
          <!-- <p style="letter-spacing:0.5px;line-height:1.5;color:white">I am the Financial supporter & Co-Founder  of EpsilonAI</p> -->
        </div>
      </div>
      <div class="col-lg-4 img_details">
        <p style="font-size:16px;font-weight:bold">Praveen</p>
        <span>Finance</span>
        <ul style="list-style:none;padding:0px;margin-top:10px;">
          <!-- <li class="fa fa-linkedin" style="padding-right:10px;font-size:20px"></li> -->
          <!-- <li class="fa fa-facebook" style="padding-right:10px;font-size:20px"></li>
            <li class="fa fa-twitter" style="padding-right:10px;font-size:20px"></li> -->
        </ul>
      </div>
    </div>
    <div class="col-lg-6 img_div">
      <div class="col-lg-6 louise_img" style="">

      </div>
      <div class="col-lg-4 img_details">
        <p style="font-size:16px;font-weight:bold">Sowmya</p>
        <span>Marketing</span>
        <ul style="list-style:none;padding:0px;margin-top:10px">
          <li style="padding-right:10px;font-size:20px"><a href="https://www.linkedin.com/in/%E2%9C%85sowmya-n-68743a150/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <!-- <li class="fa fa-facebook" style="padding-right:15px;font-size:20px"></li>
            <li class="fa fa-twitter" style="padding-right:15px;font-size:20px"></li> -->
        </ul>
      </div>
      <!-- <div class="col-lg-5 louise_middle" style="padding:20px;">
          <p style="font-weight:bold;color:white">Sowmya</p>
          <p style="color:white">Marketing</p>

        </div> -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2" style="margin-top:100px;margin-bottom:50px">
    <div class="col-lg-6" style="padding:0px">
      <h1 class="about_all_cards"> A Multi-disciplinary <br> <strong>Team</strong></h1>
    </div>
    <div class="col-lg-6 about_cards about_all_cards">
      <p style="letter-spacing:0.5px;font-size:16px;line-height:2"> Architect , tech lead , consultants just to name a few and good team might not be enough to describe it well so lets call it <strong> Super Team </strong>
      </p>
    </div>
    <!-- <div class="col-lg-4 about_cards about_all_cards">
        <p style="letter-spacing:0.5px;font-size:16px;line-height:2">EpsilonAI is the world’s leading experimentation platform, enabling businesses to deliver continuous experimentation and personalization across websites, mobile apps and connected
          devices. EpsilonAI enables businesses to experiment deeply into their technology stack and broadly across the entire customer experience.
        </p>
      </div> -->
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 about_second_imgs">
    <div class="col-lg-6 about_all" style="padding:0px">
      <div class="col-lg-6 about_cards_imgs" style="background-image:url('/static/img/Team/ankita-min-min.png');">

      </div>
      <div class="col-lg-4 img_details">
        <p style="font-size:16px;font-weight:bold">Ankita</p>
        <span>Technology</span>
      </div>
    </div>
    <div class="col-lg-6 about_all">
      <div class="col-lg-6 about_cards_imgs" style="background-image:url('/static/img/team/abhishek-min.png');">

      </div>
      <div class="col-lg-4 img_details">
        <p style="font-size:16px;font-weight:bold">Abhishek</p>
        <span>Marketing</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 about_second_imgs">
    <div class="col-lg-6 about_all" style="padding:0px">
      <div class="col-lg-6 about_cards_imgs" style="background-image:url('/static/img/Team/vegnesh-min-min.png');">

      </div>
      <div class="col-lg-4 img_details">
        <p style="font-size:16px;font-weight:bold">Vignesh</p>
        <span>Technology</span>
      </div>
    </div>
    <div class="col-lg-6 about_all">
      <div class="col-lg-6 about_cards_imgs" style="background-image:url('/static/img/Team/neelu-min-min.png');">

      </div>
      <div class="col-lg-4 img_details">
        <p style="font-size:16px;font-weight:bold">Neelu</p>
        <span>Technology</span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 about_second_imgs">
    <div class="col-lg-6 about_all" style="padding:0px">
      <div class="col-lg-6 about_cards_imgs" style="background-image:url('/static/img/Team/deepak-min-min.png');">

      </div>
      <div class="col-lg-4 img_details">
        <p style="font-size:16px;font-weight:bold">Deepak</p>
        <span>Technology</span>
      </div>
    </div>
    <div class="col-lg-6 about_all">
      <div class="col-lg-6 about_cards_imgs" style="background-image:url('/static/img/team/shree-min.png');">

      </div>
      <div class="col-lg-4 img_details">
        <p style="font-size:16px;font-weight:bold">Sreeshma</p>
        <span>Technology</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 about_second_imgs">
    <div class="col-lg-6 about_all" style="padding:0px">
      <div class="col-lg-6 about_cards_imgs" style="background-image:url('/static/img/team/ShakthiGrey.png');">

      </div>
      <div class="col-lg-4 img_details">
        <p style="font-size:16px;font-weight:bold">Sakthi </p>
        <span>Technology</span>
      </div>
    </div>
    <div class="col-lg-6 about_all">
      <div class="col-lg-6 about_cards_imgs" style="background-image:url('/static/img/team/KaamRajGrey.png');">
      </div>
      <div class="col-lg-4 img_details">
        <p style="font-size:16px;font-weight:bold">Kamaraj</p>
        <span>Technology</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 about_second_imgs">
    <div class="col-lg-6 about_all" style="padding:0px">
      <div class="col-lg-6 about_cards_imgs" style="background-image:url('/static/img/team/PankajGrey.png');">

      </div>
      <div class="col-lg-4 img_details">
        <p style="font-size:16px;font-weight:bold">Pankaj </p>
        <span>Technology</span>
      </div>
    </div>
    <div class="col-lg-6 about_all">
      <div class="col-lg-6 about_cards_imgs" style="background-image:url('/static/img/team/SanghMeshGrey.png');">
      </div>
      <div class="col-lg-4 img_details">
        <p style="font-size:16px;font-weight:bold">Sangamesh</p>
        <span>Technology</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 about_second_imgs">
    <div class="col-lg-6 about_all" style="padding:0px">
      <div class="col-lg-6 about_cards_imgs" style="background-image:url('/static/img/Team/deepthi-min.png');">

      </div>
      <div class="col-lg-4 img_details">
        <p style="font-size:16px;font-weight:bold">Deepthi</p>
        <span>Technology</span>
      </div>
    </div>
    <div class="col-lg-6 about_all">
      <div class="col-lg-8" style="background-image:url('/static/img/WantToJoin.svg');background-size:contain;background-repeat:no-repeat;height:300px;background-position:center">
        <div class="col-lg-6 about_last_card">
          <p style="font-size:16px;color:white;letters-spcing:0.5px;line-height:1.5">Want to join the team? Take a look at our open positions</p>
          <button type="submit" class="btn btn-lg btn-default  " style="background-color:white;border:none;color:#31ca8bff;font-size:14px;font-weight:bold;border-radius:3px;margin-top:15px;"><a href="#"
              style="color:#31ca8bff">Seejobs</a></button>

        </div>
      </div>
      <div class="col-lg-4">


      </div>

    </div>
  </div>
</div>

<div class="row about_about_img" style="">
  <div class="col-lg-10 col-lg-offset-1 text-center about_few">
    <h2 style="color:white;font-weight:bold" class="about_all_cards">A few facts about EpsilonAI </h2>
    <div class="col-lg-4 about_cards">
      <h3 style="color:white">01</h3>
      <p style="font-size: 16px;letter-spacing: 0.5px;line-height: 1.5;color:white">We started our journey in 2017 with a team size of 3 and now we are 17. </p>
    </div>
    <div class="col-lg-4 about_cards">

      <h3 style="color:white;font-weight:bold">02</h3>
      <p style="font-size: 16px;letter-spacing: 0.5px;line-height: 1.5;color:white">EpsilonAI is a subsidiary of CIOC FMCG Pvt Ltd. </p>
    </div>
    <div class="col-lg-4 about_cards">

      <h3 style="color:white;font-weight:bold">03</h3>
      <p style="font-size: 16px;letter-spacing: 0.5px;line-height: 1.5;color:white">We use Linux to build web pages to machine learning models if you wish to know (linix Mint to be more precise and we are proud to do so). Microsoft windows is
        somewhat optional and is just a delivery platform. </p>
    </div>
  </div>

  <div class="col-lg-10 col-lg-offset-1 text-center about_second" style="">
    <div class="col-lg-4">
      <h3 style="color:white;font-weight:bold">04</h3>
      <p style="font-size: 16px;letter-spacing: 0.5px;line-height: 1.5;color:white">We are a bootstrapped startup and have served more than 70 customers in just 3 years </p>
    </div>
    <div class="col-lg-4 about_cards">

      <h3 style="color:white;font-weight:bold">05</h3>
      <p style="font-size: 16px;letter-spacing: 0.5px;line-height: 1.5;color:white">All our services are available in both One time cost and subscription model, On premise or cloud its your choice</p>
    </div>
    <div class="col-lg-4 about_cards">

      <h3 style="color:white;font-weight:bold">06</h3>
      <p style="font-size: 16px;letter-spacing: 0.5px;line-height: 1.5;color:white"> We dont release a product if its not easy to use [PERIOD]</p>
    </div>
  </div>
</div>

{% endblock %}
{% block footer %}

{% include 'app.HR.pagefooter.html'%}

{% endblock %}
