
  <style media="screen">
    body{
      overflow-x:hidden;
    }
    #page8Div2{
      margin-bottom:100px;
    }
   #page8Div2 #page8Div2bg {

      margin-top:80px;
    }
    /* #page8Div2 span{
      color:#20287D;
      font-size:48px;
      font-weight:500;
      line-height:56.25px;
    } */
    #page8Div2 #quoteBox{
      background-color:#F3F8FC;
      border-radius:20px;
    }
    #page8Div2 #quoteBox .fa-quote-right{
      color:#000000;
      font-size:60px;
      font-weight:700;
      text-align:center;
      position:absolute;
      top:-10%;
      left:45%;
    }
    #page8Div2 #quoteBox .fa-quote-right{
      color:#000000;
      font-size:60px;
      font-weight:700;
      text-align:center;
      position:absolute;
      bottom:-10%;
      left:45%;
    }
    #page8Div2 #Box{
      background-color:#F3F8FC;
      border-radius:30px;
      height:400px;
    }
    #page8Div2 #secondRow{
      margin-top:100px;


    }
    #page8Div2 #secondRow span{
      font-size:32px;
      line-height:37.5px;
      font-weight:700
    }
    #page8Div2 #secondRow p{
      font-size:22px;
      line-height:37.5px;
      font-weight:400
    }
    #page8Div2 #secondRow button{
    background: #6136C9;

    height:72px;
    border-radius:100px;
    margin-top:20px;
    }
    #page8Div2bg   #secondColumn{
      background-color:white;border-radius:20px;height:390px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 10px 20px 100px rgba(0,103,184,0.25);
  position: absolute;
  left: -40%;
  margin-top:18%;
  z-index:99;
    }
    #page8Div2 #circle1 {
      background: linear-gradient(180deg, #6E40E4 0%, #C042E2 100%);
      height: 260px;

  border-radius: 50%;


    }
    #page8Div2 #firsthr {
      position: absolute;
  bottom: -11%;
  width: 110%;
  left: -8%;
  border: 8px solid #eee;
  border-bottom: 10px solid
  transparent;
  border-left: 10px solid
  transparent;
  border-right: 10px solid
  transparent;
    }
    #page8Div2 #seconhr {
      position: absolute;
  bottom: -7%;
  width: 112%;
  left: -8%;
  border: 5px solid #eee;
  border-radius:10px;
    }
    #page8Div2 #circle2 {
      background: linear-gradient(180deg, #6E40E4 0%, #C042E2 100%);
      height: 135px;

  border-radius: 50%;
  position: absolute;
  right: 0;
  left: 78%;
  bottom: -82%;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
      .no_padding{
        padding:0px;
      }

      #page8Div2 #page8Div2bg{
        margin-top:0px;

      }
      #page8Div2 #secondRow{
        margin-top:0px;
        margin-bottom:100px;



      #page8Div2bg #secondColumn{
        margin-top: -30%;
        height:200px;
        left: 0;
      }
      #page8Div2 #circle1{
        height:200px;
      }
      #page8Div2 #circle2{
        height:110px;
        position: absolute;
        right: 0;
        left: 72%;
        bottom: -214%;
      }
      #page8Div2 #seconhr{
        bottom:-19%;
      }
      #page8Div2 #firsthr{
        bottom:-19%;
      }
      
    }

  </style>



<div class="container-fluid no_padding">
  <div class="row" id="page8Div2" >

    <div class="col-md-11 col-md-offset-1 " id="page8Div2bg">
      <div class="">
        <div class="col-md-4" id="secondRow">
          <span>Manage your Office from your Pocket</span>
          <p>Product delivery is faster than ever</p>
          <div class="col-md-4 no_padding">
            <button type="button" name="button" class="btn btn-block"> </button>

          </div>
        </div>
        <div class="col-md-2 col-xs-6" id="circle1">

        </div>
        <div class="col-md-5 col-xs-12" id='columnBorder'>
          <div class="" id="colBorder">

          </div>
          <div class="row">
            <div class="col-md-12 col-xs-8 col-xs-offset-2 " id="secondColumn"style="">
              <hr id="seconhr"style="">
              <hr id="firsthr"style="">

            </div>

          </div>

        </div>
        <div class="col-md-1 col-xs-3 pull-right" id="circle2">

        </div>
      </div>
    </div>

  </div>
  </div>
