{% extends 'base.html'%}
{% load staticfiles %}

{% block specific_css %}
<style media="screen">
  body {
    background-color: #fafafa;
  }

  #hidemeinallpage {
    display: none !important;
  }

  #logoinnav {
    height: 50px !important;
  }

  #wishicons {
    display: block !important;
  }

  #searchinnav {
    display: block !important;
  }

  .similarCard {
    padding: 20px;
    height: 310px;
    width: 100%;
    border-radius: 5px;
  }

  .similarCard:hover {
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    z-index: 10;
  }
</style>
{% endblock %}
{% block header %}
  <style media="screen">
    {{headerCss | safe}}
  </style>
  {{header | safe}}
{% endblock %}


{% block content %}


<div>
  <product-details></product-details>
  {% verbatim %}

  {% endverbatim %}
</div>


{% endblock %}

{% block pageJS %}

<script type="text/javascript">
  var PRODUCT = '{{product.pk}}'
  var DIVISION_APIKEY = '{{API_KEY}}'
</script>
{% if  div.enableChatbot   %}
<script src="/script/chatter-{{API_KEY}}.js?debugger=1"></script>
{% endif %}
{% endblock%}


{% block footer %}
  <style media="screen">
    {{footerCss | safe}}
  </style>
  {{footer | safe}}
{% endblock %}
