  <style media="screen">
    body{
      overflow-x:hidden;
    }
    #page7Div2{
      margin-bottom:100px;
    }
   #page7Div2 #page7Div2bg {

      margin-top:80px;
    }

    #page7Div2 #quoteBox{
      background-color:#F3F8FC;
      border-radius:20px;
    }
    #page7Div2 #quoteBox .fa-quote-left{
      color:#000000;
      font-size:60px;
      font-weight:700;
      text-align:center;
      position:absolute;
      top:-10%;
      left:45%;
    }
    #page7Div2 #quoteBox .fa-quote-right{
      color:#000000;
      font-size:60px;
      font-weight:700;
      text-align:center;
      position:absolute;
      bottom:-10%;
      left:45%;
    }
    #page7Div2 #Box{
      background-color:#F3F8FC;
      border-radius:30px;
      height:400px;
    }
    #page7Div2 #secondRow{
      margin-top:100px;


    }
    #page7Div2 #secondRow span{
      font-size:32px;
      line-height:37.5px;
      font-weight:700
    }
    #page7Div2 #secondRow p{
      font-size:22px;
      line-height:37.5px;
      font-weight:400
    }
    #page7Div2 #secondRow button{
    background: #6136C9;
    height:72px;
    border-radius:100px;
    margin-top:20px;
  }
  #page7Div2bg #columnBorder{
    border-bottom:10px solid #eee;
    padding: 0px 50px;;
  }
  #page7Div2bg #colBorder{
    border-bottom:10px solid #ccc;
    position: absolute;
bottom: -4%;
height: 50px;
width: 100%;
left: 0%;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
  }
#page7Div2bg   #secondColumn{
  background-color:white;border-radius:20px;height:390px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
box-shadow: 10px 20px 100px rgba(0,103,184,0.25);
}
    @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
      .no_padding{
        padding:0px;
      }


      #page7Div2{
        margin-bottom:30px;
      }
      #page7Div2 #page7Div2bg{
        margin-top:30px;

      }
      #page7Div2bg #columnBorder{
        padding:0px 15px;
      }
      #page7Div2bg #secondColumn{
        height:260px;
      }

    }

  </style>



<div class="container-fluid no_padding">
  <div class="row" id="page7Div2" >

    <div class="col-md-10 col-md-offset-1 " id="page7Div2bg">
      <div class="">
        <div class="col-md-6" id='columnBorder'>
          <div class="" id="colBorder">

          </div>
          <div class="col-md-12" id="secondColumn"style="">

          </div>

        </div>
        <div class="col-md-6" id="secondRow">
          <span>Manage your Office from your Pocket</span>
          <p>Product delivery is faster than ever</p>
          <div class="col-md-4 no_padding">
            <button type="button" name="button" class="btn btn-block"> </button>

          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
