<style media="screen">



  #page9Div3 span {
    font-size: 40px;
    font-weight: 700;
    color: #6136C9;

  }

  #page9Div3 p {
    font-size: 20px;
    font-weight: normal;
    color: #6136C9;

  }



  #page9Div3 #laptopText {
    margin-top: 150px;
  }

  .no_padding {
    padding: 0px;
  }

  #page9Div3 #laptop{
    background-image:url('/static/images/laptop.svg') ;
    background-size:contain;
    background-repeat:no-repeat;
    height: 600px;
    background-position:center
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {



    #page9Div3 {
      height: 30px
    }

    #page9Div3 #laptopText {

      margin-top: 30px;
      margin-bottom: 30px;
    }


  }
</style>


<div class="container-fluid no_padding">
  <div class="col-md-10 col-md-offset-1" id="page9Div3">
    <div class="col-md-8 col-xs-12">
        <div class="" id="laptop">

        </div>
    </div>
    <div class="col-md-4 col-xs-12" id="laptopText">
      <span>Scalable</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
    </div>
  </div>

</div>
