
  <style media="screen">
    #bgImg5{
      background: url('/static/images/bgimage3.png') no-repeat left;
      height: 830px;
      background-size: 15%;
      background-position-y: top;
      margin-bottom:150px;
    }

    #bgImg5 #page4testimonials{
      margin-bottom:80px;
    }
    #bgImg5 #page4testimonials #quote{
      background:url('/static/images/quote.svg') no-repeat left;
      background-size: contain;
      height: 49px;
      margin-top:45px;
    }
    #bgImg5 #page4testimonials #testimonialBgimg{
      background:url('/static/images/testimonials.svg') no-repeat center;
      background-size:contain;
      height:532px;
    }
    #bgImg5 #page4testimonials #prevNextbtns{
      margin-top:380px;
    }
    #bgImg5 #page4testimonials #prev{
      height:50px;
      border-radius:25px;
      border:2px solid #E8E8E8;
      background-color:white;
      color:#818181;
      font-size:20px;
      font-weight:400
    }
    #bgImg5 #page4testimonials #next{
      height:50px;
      border-radius:25px;
      border:2px solid #FF7981;
      background-color:#FF7981;
      color:white;
      font-weight:400;
      font-size:20px;
    }
    #bgImg5 #page4testimonials h1{
      font-size:48px;
      font-weight:400;
      color:#3c3c3c;
      line-height:56px;
      margin-top:150px;
      margin-top:150px;
    }
    #bgImg5 #divMargin{
      margin-top:150px;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
      body{
        overflow-x:hidden;
      }
      .no_paddingg{
        padding:0px;
      }

      #bgImg5 #page4testimonials h1{
        margin-top:30px;
      }
      #bgImg5 #divMargin{
        margin-top:30px;
      }
      #bgImg5 #page4testimonials #testimonialBgimg{
        background-size:cover;height:360px;
      }
      #bgImg5 #page4testimonials #prevNextbtns{
        margin-top:30px;
      }
      #bgImg5 #page4testimonials #prev{
        margin-bottom:20px;
      }
      
    }
</style>



<div class="container-fluid no_padding">
  <div class="col-md-12 " id="bgImg5">
    <div  id="page4testimonials" >
      <div class="row text-center">
        <h1>Testimonials</h1>

      </div>

      <div class="col-md-10 col-md-offset-1 no_paddingg" id="divMargin">
        <div class="col-md-5" id="testimonialBgimg">

        </div>
        <div class="col-md-7 ">
          <div class="row" style="margin:0px;">
            <div class="col-md-2 no_paddingg" id="quote">

            </div>

          </div>
          <div class="row" id="prevNextbtns">
            <div class="col-md-2 no_paddingg">
              <button type="button" name="button" id="prev" class="btn btn-block">Prev</button>
            </div>
            <div class="col-md-2 no_paddingg">
              <button type="button" name="button" id="next" class="btn btn-block">Next</button>
            </div>
          </div>

        </div>

      </div>
      </div

    </div>

  </div>
