{% extends 'base.html' %}

{% block specific_css %}
  <style media="screen">
    body{
      overflow-x:hidden;
      font-family:'Roboto'
    }


    #downloadDiv{
      background-color:#4278EF;
      border-top-left-radius:50px;
      border-top-right-radius:50px;
      height:500px;
      margin-bottom:70px;
    }
    #downloadDiv #downloadBtn{
      color:white;
      border:2px solid white;
      background-color:transparent;
      height:60px;
      border-radius:50px;
      margin-top:20px;
    }
    #downloadDiv #twoBoxes{
      margin-top:50px;
    }
    #downloadDiv p{
      font-size:50px;
      font-weight:700;
      line-height:58.59px;
      color:white;
      margin-top:100px;
    }
    #downloadBtn > i{
      font-size:30px;
    }
    #downloadDiv #firstBox{
      background:white;box-shadow:0px 0px 10px 0px #ccc;border-radius:42px;height:450px;z-index:999;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      bottom:0px;
      /* margin-top:50px; */

    }
    #downloadDiv #secondBox{
      background:white;box-shadow:0px 0px 10px 0px #ccc;border-radius:42px;height:380px;
      position: absolute;
      right: 25%;
      bottom: 0;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    #page6bgImg{
      background-image:url('/static/images/page6bgImg.png');
      height: 700px;
      background-size: 100% 95%;
      background-repeat: no-repeat;
    }
    .no_padding{
      padding:0px;
    }
    #page6Div1{
      padding:30px 15px;
    }
    #page6bgImg #text{
      font-size:32px;
      font-weight:700;
      line-height:37.5px;
      color:white;
    }
    #page6bgImg img{
      padding-right:20px;
    }
    #page6bgImg #twoDivs{
      margin-top:70px;
    }
    #page6bgImg #twoDivs span{
      font-size:50px;
      font-weight:700;
      line-height:58.59px;
      color:white;
    }
    #page6bgImg #twoDivs p{
      font-size:40px;
      font-weight:300;
      line-height:58.59px;
      color:white;
    }
    #page6bgImg #twoDivs button{
      background:transparent;
      border:1px solid white;
      font-size:22px;
      font-weight:400;
      line-height:25px;
      color:white;
      margin-top:50px;
      height:50px;
      border-radius:50px;
    }

    #page6Div2{
      margin-bottom:100px;
    }
   #page6Div2 #page6Div2bg {

      margin-top:80px;
    }

    #page6Div2 #quoteBox .fa-quote-left{
      color:#000000;
      font-size:60px;
      font-weight:700;
      text-align:center;
      position:absolute;
      top:-10%;
      left:45%;
    }
    #page6Div2 #quoteBox .fa-quote-right{
      color:#000000;
      font-size:60px;
      font-weight:700;
      text-align:center;
      position:absolute;
      bottom:-10%;
      left:45%;
    }
    #page6Div2 #Box{
      background-color:#F3F8FC;
      border-radius:30px;
      height:350px;
    }
    #page6Div2 #secondRow{
      margin:0px;


    }
    #page6Div2 #secondRow span{
      font-size:32px;
      line-height:37.5px;
      font-weight:700
    }
    #page6Div2 #secondRow p{
      font-size:22px;
      line-height:37.5px;
      font-weight:400
    }
    #page6Div2 #secondRow button{
    background: #4F68F2;
    height:72px;
    border-radius:100px;
    margin-top:20px;
    }
    #bgImg4{
    margin-bottom:100px;
    }
    #bgImg4 #commonDiv{
      margin-top:10%;
    }
    #bgImg4 #box1{
      background:white;box-shadow:10px 20px 100px rgba(0,103,184,0.25);border-radius:42px;height:550px;
    }
    #bgImg4 #box2{
      background:white;box-shadow:10px 20px 100px rgba(0,103,184,0.25);border-radius:42px;height:720px;margin-top:-80px;
    }
    #bgImg4 #box3{
      background:white;box-shadow:10px 20px 100px rgba(0,103,184,0.25);border-radius:42px;height:550px;
    }
    #bgImg4 #boxcircle1{
      height:60px;
      width:60px;
      border-radius:50%;
      background:#4F68F2;
      position: absolute;
      bottom: 8%;
      left: 40%;
      padding: 20px 0px;
    }
    #bgImg4 #boxcircle2{
      height:60px;
      width:60px;
      border-radius:50%;
      background:#4F68F2;
      position: absolute;
      bottom: 8%;
      left: 40%;
      padding: 20px 0px;
    }
    #bgImg4 #boxcircle3 button{
      height:60px;
      width:80%;
      background:#4F68F2;
      position: absolute;
      bottom: 8%;
      left: 10%;
      border-radius:30px;
      color:white;
      font-size:20px;
      line-height:23.44px;
      font-weight:400;
    }
    #page6bgImg #columnBorder{
      border-bottom:10px solid #eee;
      padding: 0px 50px;;
    }
    #page6bgImg #colBorder{
      border-bottom:10px solid #ccc;
      position: absolute;
bottom: -4%;
height: 50px;
width: 100%;
left: 0%;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
    }
  #page6bgImg   #secondColumn{
    background-color:white;border-radius:20px;height:500px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
box-shadow: 0px 0px 10px 0px #ccc;
  }
    @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
      .no_paddingg{
        padding:0px;
      }
      #page6bgImg{
        height:100%;
        background-size:100% 150%;
      }
      #page6bgImg #text{
        font-size:30px;
      }
      #page6bgImg #twoDivs{
        text-align:center;
        margin-top:35px;
      }
      #page6bgImg #columnBorder{
        padding:0px 15px;
        margin-top:50px;
      }
      #page6bgImg #secondColumn{
        height:240px;
      }
      #page6Div2 #secondRow button{
        margin-bottom:70px;
      }
      #bgImg4 #box1{
        height:350px;
        margin-bottom:20px
      }
      #bgImg4 #box2{
        height:350px;
        margin-bottom:20px;
        margin-top:0px;

      }
      #bgImg4 #box3{
        height:350px;
        margin-bottom:20px;

      }
      #downloadDiv{
        height:580px;
      }
      #downloadDiv #twoBoxes {
        margin-top:50px;
      }
      #downloadDiv p{
        padding-top:30px;
        font-size:30px;
      }
      #downloadDiv #firstBox{
        height:300px;
        bottom:-3px;
        /* margin-top:53px; */
      }
      #downloadDiv #secondBox{
        height: 257px;
        margin-left: 0%;
        right: 0;
        top: 46px;
        /* margin-top: 25%; */
        border-top-left-radius: 0px;
      }
    }
  </style>
{% endblock %}


{% block content %}

<div class="container-fluid no_padding">
  <div class="col-md-12 no_padding" id="page6bgImg">
      <div class="col-md-10 col-md-offset-1" id="page6Div1">
        <div >
          <p  id="text"  ><img src="/static/images/zigmasmall.svg" alt="" >Kloud ERP App Store</p>
        </div>
        <div class="row" >
          <div class="col-md-5" id="twoDivs">
            <span>APP Name</span>
            <p>Descriptions</p>
            <div class="col-md-4 no_padding">
              <button type="button" class="btn btn-block" name="button">Read More</button>

            </div>
          </div>
          <div class="col-md-7" id='columnBorder'>
            <div class="" id="colBorder">

            </div>
            <div class="col-md-12" id="secondColumn"style="">

            </div>

          </div>
        </div>
      </div>
  </div>
  <div class="row" id="page6Div2" >

    <div class="col-md-10 col-md-offset-1 " id="page6Div2bg">
      <div class="">
        <div class="col-md-6" id="secondRow">
          <span>Manage your Office from your Pocket</span>
          <p>Product delivery is faster than ever</p>
          <div class="col-md-4 no_padding">
            <button type="button" name="button" class="btn btn-block"> </button>

          </div>
        </div>
        <div class="col-md-3 col-md-offset-1" id="quoteBox">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <div class="" id="Box">

          </div>
          <i class="fa fa-quote-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>

  <div class="container-fluid no_padding" id="bgImg4">
    <div class="col-md-9 col-md-offset-2" id="commonDiv">
      <div class="col-md-3 no_paddingg">
        <div class="" id="box1" >
          <div class="text-center" id="boxcircle1">
            <img src="/static/images/arrow.png" alt="">
          </div>
        </div>

      </div>
      <div class="col-md-4 no_paddingg">
        <div class="" id="box2">
          <div class="text-center" id="boxcircle2">
              <img src="/static/images/arrow.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-3 no_paddingg">
        <div class="" id="box3">
          <div class="text-center" id="boxcircle3">
              <button type="button" name="button" class="btn">GET STARTED</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div >
    <div class="col-md-10 col-md-offset-1" id="downloadDiv">
      <div class="col-md-11 col-md-offset-1 no_paddingg" >
        <div class="col-md-5 text-left ">
          <p>Download APP for your device</p>
          <div class="col-md-6 no_paddingg">
            <button type="button" name="button" class="btn btn-block" id="downloadBtn"><i class="fa fa-cloud-download" aria-hidden="true"></i></button>

          </div>

        </div>
        <div class="col-md-7 no_paddingg" id="twoBoxes" >
          <div class="col-md-5 col-xs-7" id="firstBox">

          </div>
          <div class="col-md-6 col-xs-5" id="secondBox">

          </div>

      </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block footer %}

{% include 'app.HR.pagefooter.html'%}

{% endblock %}
