<style media="screen">




  #page9Div4 {
    margin-bottom: 70px;

  }

  #page9Div4 p {
    font-size: 20px;
    color: #5e5e5e;
    font-weight: normal;
  }

  #page9Div4 span {
    font-size: 22px;
    color: #5e5e5e;
    font-weight: 700;
  }

  #page9Div4 h6 img {
    height: 80px;
    width: 80px;
    border: 3px solid #3D2678;
    border-radius: 50%;

  }

  #page9Div4 h6 i {
    font-size: 60px;
    padding-right: 15px;
    color: #c8c8c8
  }



  @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {


  }
</style>


<div class="container-fluid no_padding">
  <div class="col-md-10 col-md-offset-1" id="page9Div4">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h6><i class="fa fa-quote-left"></i> <img src="/static/images/userIcon.png" alt=""></h6>
      <p>“It has been an absolute pleasure dealing with Scan during the lockdown. Our church began to livestream our services, and Scan had a great selection of hardware....”</p>
      <span>Judfy Dowson</span>
    </div>
  </div>

</div>
