
  <style media="screen">
    #page3testimonials{
      margin-bottom:80px;
    }
    #page3testimonials #quote{
      background:url('/static/images/quote.svg') no-repeat left;
      background-size: contain;
      height: 49px;
      margin-top:45px;
    }
    #page3testimonials #testimonialBgimg{
      background:url('/static/images/testimonials.svg') no-repeat center;
      background-size:contain;
      height:532px;
    }
    #page3testimonials #prevNextbtns{
      margin-top:380px;
    }
    #page3testimonials #prev{
      height:50px;
      border-radius:25px;
      border:2px solid #E8E8E8;
      background-color:white;
      color:#818181;
      font-size:20px;
      font-weight:400
    }
    #page3testimonials #next{
      height:50px;
      border-radius:25px;
      border:2px solid #FF7981;
      background-color:#FF7981;
      color:white;
      font-weight:400;
      font-size:20px;
    }
    #page3testimonials h1{
      font-size:48px;
      font-weight:400;
      color:#3c3c3c;
      line-height:56px;
      margin-bottom:150px;
    }
</style>


<div class="container-fluid" id="page3testimonials" >

  <div class="col-md-10 col-md-offset-1">
    <div class="row text-center">
      <h1>Testimonials</h1>

    </div>
    <div class="col-md-5" id="testimonialBgimg">

    </div>
    <div class="col-md-7 ">
      <div class="row" style="margin:0px;">
        <div class="col-md-2" id="quote">

        </div>

      </div>
      <div class="row" id="prevNextbtns">
        <div class="col-md-2 no_padding">
          <button type="button" name="button" id="prev" class="btn btn-block">Prev</button>
        </div>
        <div class="col-md-2 no_padding">
          <button type="button" name="button" id="next" class="btn btn-block">Next</button>
        </div>
      </div>

    </div>

  </div>
</div>
