{% extends 'base.html' %}
{% load staticfiles  %}
{% block specific_css %}
  <style media="screen">
    {{data.css | safe}}

  </style>
{% endblock %}
{% block content %}
  <div ng-app="app" ng-controller="main" ng-init='data = {{data.defaultData | safe}}'>
    {{data.template | safe}}
  </div>



{% endblock %}

{% block pageJS %}

<script type="text/javascript">

  var app = angular.module('app', [ 'ngSanitize', 'ui.bootstrap']);

  app.controller('main', function($scope, $http, $sce, $uibModal) {


  });




</script>
{% endblock %}
