{% extends 'base.html'%}

{% block header %}

{% include 'app.HR.header.html'%}

{% endblock %}

{% block content %}
<div class="container-fluid" >
  <div class="row" style="background: url('/static/images/BgBlue.png') no-repeat center center#002855;background-size: auto;  background-size: cover;height:30vh;color:#ffffff">
    <div class="col-md-12 col-xs-12 col-sm-12 text-center" style="padding-top:5%">
      <h1> <strong> Refund Policy </strong> </h1>
      <p style="font-size:22px"> Last Updated Nov 1, 2019 </p>
    </div>
  </div>
  <div class="row" style="background-color:#f4f4f4;">
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:5%;padding-bottom:30px;background-color:#ffffff;">
      <div class="row">
        <div class=" col-md-12 col-xs-12 col-sm-12">
          <div class="row" id="user">
            <div class="col-md-offset-2 col-md-8 col-xs-12 col-sm-12">
              <h4>The refund will be provided on the unused days in your subscription.</h4>
              <h4>Example: per month subscription cost of 2000 INR . if you send the refund request on 15th you will get 1000 INR refunded.</h4>
              <h4>Please reach out to us at payments@epsilonai.com via email to request refund.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock %}

{% block footer %}

  {% include 'app.HR.pagefooter.html' %}

{% endblock %}
