
<style media="screen">
  #page8Div3{
    margin-bottom:100px;
  }
  #page8Div3 #commonDiv{
    margin-top:5%;
  }
  #page8Div3 #box1{
    background:white;box-shadow:10px 20px 100px rgba(0,103,184,0.25);border-radius:42px;height:720px;width:95%
  }
  #page8Div3 #box2{
    background:white;box-shadow:10px 20px 100px rgba(0,103,184,0.25);border-radius:42px;height:720px;width:95%;margin-top:80px;
  }
  #page8Div3 #box3{
    background:white;box-shadow:10px 20px 100px rgba(0,103,184,0.25);border-radius:42px;height:720px;width:95%;margin-top:175px;
  }
  #page8Div3 #boxcircle1{
    height:60px;
    width:60px;
    border-radius:50%;
    background:#6136C9;
    position: absolute;
    bottom: 8%;
    left: 40%;
    padding: 20px 0px;
  }
  #page8Div3 #boxcircle2{
    height:60px;
    width:60px;
    border-radius:50%;
    background:#6136C9;
    position: absolute;
    bottom: 8%;
    left: 40%;
    padding: 20px 0px;
  }
  #page8Div3 #boxcircle3 button{
    height:60px;
    width:80%;
    background:#6136C9;
    position: absolute;
    bottom: 8%;
    left: 10%;
    border-radius:30px;
    color:white;
    font-size:20px;
    line-height:23.44px;
    font-weight:400;
  }
</style>



<div class="container-fluid no_padding" id="page8Div3">
  <div class="container-fluid no_padding">
    <div class="col-md-2"  id="sidecircle1">

    </div>
  </div>
  <div class="col-md-10 col-md-offset-1 text-center">
    <h2>App features</h2>
  </div>
  <div class="col-md-10 col-md-offset-1" id="commonDiv">
    <div class="col-md-10 col-md-offset-1 no_padding">
      <div class="col-md-4 no_padding">
        <div class="" id="box1" >
          <div class="text-center" id="boxcircle1">
            <img src="/static/images/arrow.png" alt="">
          </div>
        </div>

      </div>
      <div class="col-md-4 no_padding ">
        <div class="" id="box2">
          <div class="text-center" id="boxcircle2">
            <img src="/static/images/arrow.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-4 no_padding">
        <div class="" id="box3">
          <div class="text-center" id="boxcircle3">
            <button type="button" name="button" class="btn">GET STARTED</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
