  <style media="screen">
    body{
      overflow-x:hidden;
    }
    #page7bgImg4{
    margin-bottom:100px;
    }
    #page7bgImg4 #commonDiv{
      margin-top:10%;
    }
    #page7bgImg4 #box1{
      background:white;box-shadow:10px 20px 100px rgba(0,103,184,0.25);border-radius:42px;height:550px;
    }
    #page7bgImg4 #box2{
      background:white;box-shadow:10px 20px 100px rgba(0,103,184,0.25);border-radius:42px;height:720px;margin-top:-80px;
    }
    #page7bgImg4 #box3{
      background:white;box-shadow:10px 20px 100px rgba(0,103,184,0.25);border-radius:42px;height:550px;
    }
    #page7bgImg4 #boxcircle1{
      height:60px;
      width:60px;
      border-radius:50%;
      background:#6136C9;
      position: absolute;
      bottom: 8%;
      left: 40%;
      padding: 20px 0px;
    }
    #page7bgImg4 #boxcircle2{
      height:60px;
      width:60px;
      border-radius:50%;
      background:#6136C9;
      position: absolute;
      bottom: 8%;
      left: 40%;
      padding: 20px 0px;
    }
    #page7bgImg4 #boxcircle3 button{
      height:60px;
      width:80%;
      background:#6136C9;
      position: absolute;
      bottom: 8%;
      left: 10%;
      border-radius:30px;
      color:white;
      font-size:20px;
      line-height:23.44px;
      font-weight:400;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
      .no_padding{
        padding:0px;
      }


      #page7bgImg4 #box1{
        height:350px;
        margin-bottom:20px
      }
      #page7bgImg4 #box2{
        height:350px;
        margin-bottom:20px;
        margin-top:0px;

      }
      #page7bgImg4 #box3{
        height:350px;
        margin-bottom:20px;

      }

    }

  </style>



<div class="container-fluid no_padding" id="page7bgImg4">
  <div class="col-md-9 col-md-offset-2" id="commonDiv">
    <div class="col-md-3 no_padding">
      <div class="" id="box1" >
        <div class="text-center" id="boxcircle1">
          <img src="/static/images/arrow.png" alt="">
        </div>
      </div>

    </div>
    <div class="col-md-4 no_padding">
      <div class="" id="box2">
        <div class="text-center" id="boxcircle2">
            <img src="/static/images/arrow.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-3 no_padding">
      <div class="" id="box3">
        <div class="text-center" id="boxcircle3">
            <button type="button" name="button" class="btn">GET STARTED</button>
        </div>
      </div>
    </div>
  </div>

</div>
