<style media="screen">
  body {
    font-family: 'Roboto';
    overflow-x: hidden
  }

  #page10Div1 {
    margin-bottom: 30px;
  }



  #page10Div1 {
    margin-bottom: 30px;
  }

  #page10Div1 #firstVideo {
    text-align: center;
    border: 2px solid #ccc;
    color: #ccc;
    height: 230px;
    padding: 20px;
  }




#page10Div1 #firstVideo #play {
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 50px;
  }

  #page10heading {
    color: #ccc;
    margin-bottom:50px;
  }
  #page10Div1 p {
    color: #ccc;
    font-size:20px;
  }
  span{

    color: #ccc;
    font-size:20px;
  }

  #page10Div1 ul li {
    color: #ccc;
    font-size:20px;
  }



  @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
    #page10Div1 {
      margin-left: -30px;
      margin-right: -30px
    }

    #page10Div1 p {
      color: #ccc
    }

    #page10Div1 ul li {
      color: #ccc
    }

    #page10Div1 #firstVideo {
      margin-bottom: 20px;
    }
  }
</style>

<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2" id="page10heading">
    <h3 contenteditable="true">Video Tutorials</h3>
  </div>
  <div class="col-md-9 col-md-offset-3">
    <div class="row" id="page10Div1">
      <div class="col-md-6">
        <div class="col-md-8">
          <div class="" id="firstVideo">
            <i class="fa fa-play text-center" id="play"></i>
            <p class="text-right" contenteditable="true">3.02 min</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <p contenteditable="true">1. Intorduction <br></p> <span style="padding-left:25px;"> Learn how to</span>
        <ul type="a" contenteditable="true">
          <li > do task 1</li>
          <li> do task 2</li>
          <li> download form 3</li>

        </ul>
      </div>

    </div>
    </div>
    </div>
