{% extends 'base.html'%}

{% block header %}

{% include 'app.HR.header.html'%}

{% endblock %}

{% block content %}
<div class="container-fluid" >
  <div class="row" style="background: url('/static/images/BgBlue.png') no-repeat center center#002855;background-size: auto;  background-size: cover;height:30vh;color:#ffffff">
    <div class="col-md-12 col-xs-12 col-sm-12 text-center" style="padding-top:5%">
      <h1> <strong> Refund Policy </strong> </h1>
      <p style="font-size:22px"> Last Updated Nov 1, 2019 </p>
    </div>
  </div>
  <div class="row" style="background-color:#f4f4f4;">
    <div class="col-md-8 col-sm-12 col-xs-12" style="padding-top:5%;padding-bottom:30px;background-color:#ffffff;">
      <div class="row">
        <div class="col-md-offset-4 col-md-8 col-xs-12 col-sm-12">
          <div class="row" id="user">
            <div class="col-md-12 col-xs-12 col-sm-12 policy_details">
              <h4> REFUND WILL NOT BE PROVIDED </h4>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock %}

{% block footer %}

  {% include 'app.HR.pagefooter.html' %}

{% endblock %}
