  <style media="screen">
    body{
      overflow-x:hidden;
    }
    #page7Div4{
      padding-top:120px;
      padding-bottom:150px;
    }
    #page7Div4 i{
      color:rgba(94,94,94,0.25);
      font-size:50px;

    }
    #page7Div4 p{
      font-size:16px;
      /* line-height:18.75px; */
      font-weight:400;
      color:black;
      margin-top:25px

    }
    #page7Div4 #secondCarousel p{
      font-size:16px;
      /* line-height:18.75px; */
      font-weight:400;
      color:white;
      margin-top:25px

    }
    #page7Div4 #secondCarousel i{

      color:#9260ff;

    }
    #page7Div4 #firstCarouselimg{
      background:url('/static/images/userIcon.png') no-repeat center;
      height: 80px;
      background-size: contain;
      position: absolute;
      left: 0%;
      z-index: 99;
      bottom: -12%;
      width: 100%;
    }
    #page7Div4 #thirdCarouselimg p{
      line-height: 9;
      color:black;
      font-weight: 400;
      font-size:16px;
    }
    #page7Div4 #secondCarouselimg p{
      line-height: 9;
      color:black;
      font-weight: 400;
      font-size:16px;
    }
    #page7Div4 #firstCarouselimg p{
      line-height: 9;
      color:black;
      font-weight: 400;
      font-size:16px;
    }
    #page7Div4 #secondCarouselimg{
      background:url('/static/images/userIcon.png') no-repeat center;
      height: 80px;
      background-size: contain;
      position: absolute;
      left: 0%;
      z-index: 99;
      bottom: -12%;
      width: 100%;
    }
    #page7Div4 #thirdCarouselimg{
      background:url('/static/images/userIcon.png') no-repeat center;
      height: 80px;
      background-size: contain;
      position: absolute;
      left: 0%;
      z-index: 99;
      bottom: -12%;
      width: 100%;
    }
    #page7Div4 #firstCarousel{
      background:white;
      box-shadow: 0px 0px 10px 0px #ccc;
      height: 300px;
      padding: 40px;
      border-radius:5px;
    }
    #page7Div4 #secondCarousel{
      background:#6136C9;
      border-radius:5px;
      box-shadow: 0px 0px 10px #ccc;
      height: 300px;
      padding: 40px;
      position: absolute;
      z-index: 9999;
      width: 115%;
      left: -8%;
      bottom: -220px;
    }
    #page7Div4 #thirdCarousel{
      border-radius:5px;
      background:white;
      box-shadow: 0px 0px 10px #ccc;
      height: 300px;
      padding: 40px;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
      .no_padding{
        padding:0px;
      }


      #page7Div4{
        padding:0px 15px;
      }
      #page7Div4 #secondCarousel{
        position:inherit;
        left:0px;
        width:inherit;
        bottom:0px;
        margin:90px 0px;
      }

    }

  </style>



<div class="container-fluid text-center" id="page7Div4">
  <div class="col-md-10 col-md-offset-1 no_padding">
    <div class="col-md-4 no_padding">
      <div class="" id="firstCarousel">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <p>
        “It has been an absolute pleasure dealing with Scan during the lockdown. Our church began to livestream our services, and Scan had a great selection of hardware....”
      </p>
      <div class="" id="firstCarouselimg">
        <p>Judy Dowson</p>

      </div>
      </div>

    </div>
    <div class="col-md-4 no_padding" >
      <div class="" id="secondCarousel">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <p>
        “It has been an absolute pleasure dealing with Scan during the lockdown. Our church began to livestream our services, and Scan had a great selection of hardware....”
      </p>
      <div class="" id="secondCarouselimg">

        <p>Judy Dowson</p>
      </div>
      </div>
    </div>
    <div class="col-md-4 no_padding" >

      <div class="" id="thirdCarousel">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <p>
        “It has been an absolute pleasure dealing with Scan during the lockdown. Our church began to livestream our services, and Scan had a great selection of hardware....”
      </p>
      <div class="" id="thirdCarouselimg">
        <p>Judy Dowson</p>
      </div>
      </div>
    </div>

  </div>
</div>
