
  <style media="screen">
    #page4downloadDiv #twoBoxes{
      padding-top:50px;
    }
    #page4downloadDiv{
      background-color:#FF7981;
      border-top-left-radius:50px;
      border-top-right-radius:50px;
      height:500px;
      margin-bottom:70px;
    }
    #page4downloadDiv #downloadBtn{
      color:white;
      border:2px solid white;
      background-color:#FF7981;
      height:60px;
      border-radius:50px;
      margin-top:20px;
    }
    #page4downloadDiv p{
      font-size:50px;
      font-weight:700;
      line-height:58.59px;
      color:white;
      margin-top:100px;
    }
    #downloadBtn > i{
      font-size:30px;
    }
    #page4downloadDiv #firstBox{
      background:white;box-shadow:0px 0px 10px 0px #ccc;border-radius:42px;height:450px;z-index:999;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      bottom:-3px;
      /* margin-top:50px; */

    }
    #page4downloadDiv #secondBox{
      background:white;box-shadow:0px 0px 10px 0px #ccc;border-radius:42px;height:380px;
      position: absolute;
      right: 25%;
      bottom: 0;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
      body{
        overflow-x:hidden;
      }
      .no_paddingg{
        padding:0px;
      }
      #bgImg4{
        background: url('/static/images/bgimage2.png'),url('/static/images/bgimage3.png');
        background-position: right,left;
        background-size: 60%;
        background-position-y: top,bottom;
        background-repeat: no-repeat;
      }
      #bgImg5{
        background:none;
      }
      #page4bgImg{
        background-size:cover;
        height:100%;
      }
      #page4bgImg #btn1{
        margin-bottom:20px;
      }
      #page4bgImg #box{
        transform: rotate(0deg);
        height: 440px;
        width:100%;
        margin-top:30px;
      }
      #bgImg2{
        background-image:none;
        height:100%;

      }
      #bgImg2 #page4bgImg2{
        background-position:right;
        background-size:contain;

      }
      #bgImg2 #heading2{
        margin-top:30px;
      }
      #bgImg4 #box1{
        height:350px;
        margin-bottom:20px;
      }
      #bgImg4 #box2{
        margin-top:0px;
        margin-bottom:20px;
        height:350px;
      }
      #bgImg4 #box3{
        margin-bottom:20px;
        height:350px;
      }
      #bgImg5{
        margin-bottom:30px;
      }
      #bgImg5 #testimonials h1{
        margin-top:30px;
      }
      #bgImg5 #divMargin{
        margin-top:30px;
      }
      #bgImg5 #testimonials #testimonialBgimg{
        background-size:cover;height:360px;
      }
      #bgImg5 #testimonials #prevNextbtns{
        margin-top:30px;
      }
      #bgImg5 #testimonials #prev{
        margin-bottom:20px;
      }
      #page4downloadDiv{
        height:580px;
      }
      #page4downloadDiv p{
        padding-top:30px;
        font-size:30px;
        margin-top:0px;
      }
      #page4downloadDiv #firstBox{
        height:300px;
        /* margin-top:53px; */
      }
      #page4downloadDiv #secondBox{
        height: 257px;
        margin-left: 0%;
        right: 0;
        bottom: -3px;
        /* margin-top: 25%; */
        border-top-left-radius: 0px;
      }
    }
</style>



<div class="container-fluid no_padding">
  <div class="col-md-10 col-md-offset-1 " id="page4downloadDiv">
    <div class="col-md-11 col-md-offset-1 no_paddingg" >
      <div class="col-md-5 col-xs-12 text-left ">
        <p>Download APP for your device</p>
        <div class="col-md-6 no_paddingg">
          <button type="button" name="button" class="btn btn-block" id="downloadBtn"><i class="fa fa-cloud-download" aria-hidden="true"></i></button>

        </div>
      </div>
      <div class="col-md-6 col-md-offset-1 col-xs-12 no_paddingg" id="twoBoxes" >
        <div class="col-md-5 col-xs-7" id="firstBox">

        </div>
        <div class="col-md-6 col-xs-5" id="secondBox">

        </div>

    </div>

    </div>
  </div>

</div>
