{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" charset="utf-8">
  <link rel="stylesheet" href="/static/css/font-awesome.min.css" charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/owl.carousel.css" charset="utf-8">
  <link rel="stylesheet" href="/static/css/owl.theme.default.css" charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/angular-ui-switch.min.css' %}" charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/app.HR.css' %}" charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/app.HR.ecommerce.css' %}" charset="utf-8">
</head>

{% block specific_css %}
<style media="screen">
{{footerCss | safe}}
{{headerCss | safe}}
</style>


{% endblock %}

{% block header %}
  {{ header | safe}}


{% endblock %}
{% block content %}

<body ng-app="app"ng-controller="main" style="background-color:#f7f7f7;">
  {% verbatim %}
      <terms>  </terms>
  {% endverbatim %}


  {% endblock %}



  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/jquery.cookie-1.4.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/angular.min.js"></script>
  <script src="/static/js/angular-flash.js"></script>
  <script src="/static/js/angular-ui-router.min.js"></script>
  <script src="/static/js/ui-bootstrap-tpls-0.14.3.min.js"></script>
  <script src="/static/js/angular-sanitize.min.js"></script>
  <script src="/static/js/ngDraggable.js"></script>


  <!-- <script src="/static/js/app.pageEditor.js"></script> -->
  <script type="text/javascript">
    var app = angular.module('app', ['ui.router', 'flash', 'ngSanitize', 'ngDraggable', 'ui.bootstrap', 'angular-owl-carousel-2', 'uiSwitch']);
    app.config(function($httpProvider, $stateProvider, $urlRouterProvider, $provide) {

      $httpProvider.defaults.xsrfCookieName = 'csrftoken';
      $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
      $httpProvider.defaults.withCredentials = true;


    });

    app.controller('main', function($scope, $http, $sce, $uibModal) {







    });
  </script>


  {% block specific_js %}
  <script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>

  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/angular-owl-carousel-2.js' %}"></script>
  <script src="{% static 'js/custom/directives.js' %}"></script>
  <script src="{% static 'js/custom/directives.native.js' %}"></script>
  <script src="{% static 'js/custom/nativeJS.js' %}"></script>
  <script src="{% static 'js/custom/services.js' %}"></script>
  <script src="{% static 'js/custom/ecommerce.directive.js' %}"></script>
  <script src="{% static 'js/angular-ui-switch.min.js' %}"></script>
  <script>
    function animate(elem, style, unit, from, to, time, prop) {
      if (!elem) {
        return;
      }
      var start = new Date().getTime(),
        timer = setInterval(function() {
          var step = Math.min(1, (new Date().getTime() - start) / time);
          if (prop) {
            elem[style] = (from + step * (to - from)) + unit;
          } else {
            elem.style[style] = (from + step * (to - from)) + unit;
          }
          if (step === 1) {
            clearInterval(timer);
          }
        }, 25);
      if (prop) {
        elem[style] = from + unit;
      } else {
        elem.style[style] = from + unit;
      }
    }

    function getView(getId) {
      var target = document.getElementById(getId);
      animate(document.scrollingElement || document.documentElement, "scrollTop", "", 0, target.offsetTop, 200, true);
    }

    var h = window.innerHeight;
    console.log(h);
  </script>
  {% block pageJS %}
  <script type="text/javascript">
    var DIVISION_APIKEY = '{{apiKey}}'
    var DIVISION = '{{div.pk}}'
  </script>
  {% if  div.enableChatbot   %}
  <script src="/script/chatter-{{apiKey}}.js?debugger=1"></script>
  {% endif %}

  {% endblock %}
  {% endblock %}

  {% block footer %}


  <div class="">

    <style media="screen">
    {{footerCss | safe}}
    </style>
    {{ footer | safe}}
  </div>

  {% endblock %}

</body>

</html>
