
  <style media="screen">
    body{
      overflow-x:hidden;
    }
    #page8bgImg{

    }
    /* .no_padding{
      padding:0px;
    } */
    #page8Div1{
      padding:30px 15px;
    }
    #page8bgImg #text{
      font-size:32px;
      font-weight:700;
      line-height:37.5px;
      color:white;
    }
    #page8bgImg img{
      padding-right:20px;
    }
    #page8bgImg #twoDivs{
      margin-top:50px;
    }
    #page8bgImg #twoDivs span{
      font-size:50px;
      font-weight:700;
      line-height:58.59px;
      color:black;
    }
    #page8bgImg #twoDivs p{
      font-size:40px;
      font-weight:300;
      line-height:58.59px;
      color:black;
;
    }
    #page8bgImg #twoDivs button{
      background:#6136C9;
      border:2px solid  white;

      font-size:22px;
      font-weight:400;
      line-height:25px;
      color:white;

      margin-top:50px;
      height:50px;
      border-radius:50px;
    }
    #page8bgImg #columnBgimg{
      background-image:url('/static/images/page8bgImg1.png');
      height: 700px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
      .no_padding{
        padding:0px;
      }

      #page7bgImg #twoDivs{
        margin-top:20px;
      }
      #page7bgImg #columnBgimg{
        height:360px;
        background-size:cover;
        margin-top:30px;
      }

    }

  </style>



<div class="container-fluid no_padding">
  <div class="col-md-12 no_padding" id="page8bgImg">
      <div class="col-md-10 col-md-offset-1" id="page8Div1">
        <div >
          <p  id="text"  ><img src="/static/images/zigmasmall.svg" alt="" >Kloud ERP App Store</p>
        </div>
        <div class="row" >
          <div class="col-md-6" id="twoDivs">
            <span>APP Name</span>
            <p>Descriptions</p>
            <div class="col-md-4 no_padding">
              <button type="button" class="btn btn-block" name="button">Read More</button>

            </div>
          </div>
          <div class="col-md-6" id="columnBgimg">


          </div>
        </div>
      </div>
  </div>
  </div>
