{% load staticfiles%} {% load staticfiles %} {% load socialaccount %}



<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Login</title>
  {% if useCDN %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" charset="utf-8"> {% else %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" charset="utf-8"> {% endif %}
  <link rel="stylesheet" href="{% static 'css/signin.css' %}" charset="utf-8">
  <style media="screen">

    .loginPageInput{
      border:none !important;
      border-radius:10px !important;
      margin-bottom:20px !important;
      padding:15px !important;
      background:#f2f2f2
    }
    .loginPageInput:focus{
      box-shadow:none !important;
    }
    .loginBtn{
      margin-bottom:20px;margin-top:5px;display:block;border-radius:10px;border:none;box-shadow: 0px 26px 62px rgba(0, 0, 0, 0.21);
      padding:15px;
    }
    @media screen and (min-width : 360px) and (max-width : 740px) {
      #imageErp{
        display:none !important;
      }
      #scancode{
        width:250px !important;
      }
    }

  </style>
</head>

<body>
  <div class="col-md-8 " style="height:100%;position:absolute;left:0px;padding-top:100px;background:#F5F5F5;">
    <div class="col-md-6" style="padding-top: 200px;" id="imageErp">

      {% if brandLogo %}
      <img style="width:200px;margin-bottom:80px;" src="{{brandLogo}}" alt=""> <br>
      {% endif %}
      {% now "H" as current_time %}


      <span style="color:orange;font-size:18px;">
      {% if current_time > 12 %}
          Good Afternoon
      {% else %}
          Good Morning
      {% endif %}
      </span>
      <h1 style="font-size: 49px;color:#dfdfdf">Welcome to your personal cloud ERP</h1>
    </div>
    <div class="col-md-6 text-center">
      <img src="/static/images/loginPage.png" style="width:500px;" alt="">
    </div>
  </div>
  <div class="col-md-4 col-xs-12 " style="background-color:white;height:100%;position:absolute;right:0px;">


    <div class="row text-center " style="padding-top:40px;" >
      <img id="scancode" src="/api/ERP/qrcode/?text={{token}}" alt="" width="250px">
    </div>



    <form method="post" class="form-signin" action="">{% csrf_token %}
      <h2 class="form-signin-heading" style="color:black;margin-top:100px;margin-bottom:40px;">Login</h2> {% if authStatus.status != 'default' %}
      <div class="alert alert-{{authStatus.status}}">{{authStatus.message}}</div>
      {% endif %}

      <div id="alerts">

      </div>


      <!-- <label for="username" class="sr-only">Username/Email</label> -->
      <input id="id" name="mobile" type="text" class="form-control loginPageInput" placeholder="Mobile Number" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input id="password" name="password" type="password" class="form-control loginPageInput" placeholder="Password" style="display:none" required>
      <button id="login" style="display:none;" class="loginBtn btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <button id="requestOTP"  style="" class="loginBtn btn btn-lg btn-primary btn-block "  >Get OTP</button>
      <div style="cursor:pointer" id="changetologin"> Login using password </div>
      <!-- <a style="color:black;" href="/accounts/password/reset/">Forgot password?</a>
      <a href="/customer/login" class="pull-right"><i class="fa fa-user"></i> Customer Login</a>
      Username/Email/Mobile
      <div id="requestOTP" style="width:100px;height:100px;background-color:#0a9199;border-radius:50px; padding-top:10px;margin:auto;margin-top:50px;cursor:pointer;" class="text-center">
        <span style="color:white;">
            <i class="fa fa-mobile fa-3x" ></i> <br>
            <span id="otptxt">Send OTP</span>
          </span>
      </div>
      <a href="/exEmployee/login" style="position:fixed;bottom:5px;right:10px"><i class="fa fa-user"></i> Ex-employee Login</a> -->
    </form>


  </div>
  <!-- /container -->
  {% if useCDN %}
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  {% else %}
  <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'js/jquery.cookie-1.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% endif %}
  <script src="{% static 'js/autobahn.min.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {

      connection = new autobahn.Connection({url: '{{wampServer}}', realm: 'default'});

      onevent = function(args) {
        console.log(args)
        window.location.href = args[0]
      }

      connection.onopen = function (session) {
        console.log("connection opned , subscribing" +  '{{token}}' )
        session.subscribe('service.login.' + '{{token}}', onevent);
      };

      connection.open();



      $('#requestOTP').click(function(e) {

        $('#alerts').empty();


        var id = $('#id').val()
        if (id.length == 0) {
          $('#alerts').append('<div class="alert alert-warning">Please enter your Mobile number or Email or Username</div>')
        } else {

          var csrf = $.cookie("csrftoken")
          $.ajax({
            url: '/generateOTP/',
            data: {
              mobile: id,
              csrfmiddlewaretoken :csrf
            },
            beforeSend: function(request) {
              request.setRequestHeader("X-CSRFToken", csrf);
            },
            type: 'GET',
            success: function(data, status, jqXHR) {
              console.log(data.newReg, jqXHR.status );
              if (jqXHR.status == 200) {
                $('#alerts').append('<div class="alert alert-success">OTP Has been sent</div>')
                $("#password").attr("style", "display:block")
                $('#password').attr("placeholder", "OTP");
                $('#password').attr("name", "otp");
                $('#password').attr("type", "text");
                $("#login").attr("style", "display:block")
                $("#login").attr("style", "margin-top:5px")
                $("#requestOTP").attr("style", "display:none")
                parent.location.hash = '/'+id
              } else if (jqXHR.status == 400) {
                $('#alerts').append('<div class="alert alert-danger">No account</div>')
              }
              // else if (jqXHR.status == 200 && data.newReg == true) {
              //    window.location.href='/otplogin/' +id
              //  }
              else {
                $('#alerts').append('<div class="alert alert-danger">Error while sending OTP</div>')
              }

              $('#otptxt').empty();
              $('#otptxt').append("Resend OTP");


            },
            error: function(e) {
              $('#alerts').append('<div class="alert alert-danger">Error while sending OTP</div>')
            }
          });

        }

      });
    });

    $(document).ready(function() {
      $('#changetologin').click(function(e) {
        $("#password").attr("style", "display:block")
        $('#id').attr("placeholder", "Username/Email/Mobile");
        $('#password').attr("placeholder", "Password");
        $('#password').attr("name", "password");
        $('#password').attr("type", "password");
        $("#login").attr("style", "display:block")
        $("#requestOTP").attr("style", "display:none")
        $("#id").attr("name", "username")
        $("#changetologin").attr("style", "display:none")
      });
    });
  </script>
</body>

</html>
