<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 text-center" style="margin-top:5px">
          <h4>ADD LET OUT HOUSE PROPERTY</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right" style="margin-top:5px">
          <label>Tenant Name</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="rented.tenantName" style="border: none;border-radius: 10px;background-color: #eee;" placeholder="Tenant Name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right" style="margin-top:5px">
          <label>Tenant PAN</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="rented.tenantPan" style="border: none;border-radius: 10px;background-color: #eee;" placeholder="Tenant PAN">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right" style="margin-top:5px">
          <label>Property Number</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="rented.title" style="border: none;border-radius: 10px;background-color: #eee;" placeholder="Property Number" ng-change="calc()">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right" style="margin-top:5px">
          <label>Annual Rent</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="rented.annualRent" style="border: none;border-radius: 10px;background-color: #eee;" placeholder="Annual Rent" ng-change="calc()">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right" style="margin-top:5px">
          <label>Municipal Tax</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="rented.muncipalTax" style="border: none;border-radius: 10px;background-color: #eee;" placeholder="Municipal Tax" ng-change="calc()">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right" style="margin-top:5px">
          <label>Unrealized Rent</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="rented.unrealizedTax" style="border: none;border-radius: 10px;background-color: #eee;" placeholder="Unrealized Rent" ng-change="calc()">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right" style="margin-top:5px">
          <label>Net Annual Value</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="rented.netAnnualValue" style="border: none;border-radius: 10px;background-color: #eee;" placeholder="Net Annual Value" ng-change="calc()" disabled>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right" style="margin-top:5px">
          <label>Standard Deduction</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="rented.standardDeduction" style="border: none;border-radius: 10px;background-color: #eee;" placeholder="Standard Deduction" ng-change="calc()" disabled>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right" style="margin-top:5px">
          <label>Interest On Housing Loan</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="rented.interestOnLoan" style="border: none;border-radius: 10px;background-color: #eee;" placeholder="Interest On Housing Loan" ng-change="calc()" >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right" style="margin-top:5px">
          <label>Total Amount</label>
        </div>
        <div class="col-md-6">
          <!-- <div class="form-group">
            <input type="text" class="form-control" ng-model="rented.amount" style="border: none;border-radius: 10px;background-color: #eee;" placeholder="Total Amount" ng-change="calc()" >
          </div> -->
          <i class= "fa fa-inr" > </i>  {{rented.amount}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right" style="margin-top:5px">
          <button class="btn btn-default" ng-click="addRentedData()"> SAVE </button>
        </div>
      </div>
    </div>
  </div>
</div>
