<div>
  <div class="row" style="background:var(--themeMain);color:#ffffff;padding:10px 30px">
    <span ng-if="!createPermission" style="font-size:16px"> <strong> {{form.notes}} </strong> </span>
    <i class="fa fa-arrow-circle-o-right fa-2x pull-right" ng-click="close()"></i>
  </div>
  <div class="container-fluid">
    <div class="row" >
      <div class="col-md-offset-3 col-md-6" ng-if="createPermission">
        <h3 ng-if="mode == 'edit'">Edit Expense : <strong>{{form.notes}}</strong></h3>
        <h3 ng-if="mode == 'new'">Create a Expense</h3>
        <div class="form-group" style="padding-top: 19px;">
          <label>Title</label>
          <input type="text" class="form-control" ng-model="form.notes"  ng-if="mode=='new'||mode=='edit'" >
          <div ng-if="mode=='view'"> {{form.notes}} </div>
        </div>
        <!-- <div class="form-group" style="padding-top: 19px;" ng-if="editStage">
          <label>Stage</label>
          <select class="form-control" ng-model="form.stage">
            <option value="created" ng-if="form.stage=='created'">Created</option>
            <option value="submitted" ng-if="form.stage=='created'||form.stage=='submitted'">Submitted</option>
            <option value="approved" ng-if="form.stage=='submitted'||form.stage=='approved'">Approved</option>
              <option value="cancelled" ng-if="form.stage=='created'||form.stage=='cancelled'">Cancelled</option>
          </select>
        </div> -->
        <!-- <div class="form-group">
          <label>Project</label>
          <input type="text" class="form-control" ng-model="form.projects" uib-typeahead="p as p.title for p in projectSearch($viewValue)" placeholder="Search For Project"   ng-if="mode=='new'||mode=='edit'">
            <div ng-if="mode=='view'"> {{form.projects.title}} </div>
        </div> -->
        <div class="form-group">
          <label>Project</label>
          <div class="{{form.newProject?'input-group':''}}">
            <input uib-typeahead="prj as prj.title for prj in projectSearch($viewValue)" ng-model="form.projects" type="text" class="form-control" placeholder="Search By Project Title">
            <span ng-click="openProjectPopup()" ng-if="form.newProject" class="input-group-addon btn btn-primary" >New <i class="fa fa-plus-circle"></i></span>
          </div>
        </div>
        <div class="form-group" ng-if="form.projects.pk">
          <strong>Description:</strong><span ng-bind-html="form.projects.description"> </span>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-danger" ng-click="resetForm()" ng-if="mode=='new'">
            Reset
          </button>
          <button ng-if="mode=='new'||mode=='edit'"  type="button" class="btn btn-success" ng-click="saveExpenseSheet()">Save</button>
        </div>
      </div>
      <div class="{{createPermission?'':'col-md-offset-9'}} col-md-3 text-center" style="padding-top: 19px;">
        <button ng-if="form.stage=='created'"  mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No"
          on-confirm="sentForApproval()" confirm-button-type="default" cancel-button-type="default" class="btn btn-success"> Send For Approval </button>
          <button ng-if="form.stage=='submitted'&&!canApprove" class="btn btn-success"> Sent For Approval </button>
        <button ng-if="form.stage=='submitted'&&canApprove"  mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No"
          on-confirm="approve()" confirm-button-type="default" cancel-button-type="default" class="btn btn-success" class="btn btn-primary"> Approve </button>
          <button ng-if="form.stage=='submitted'&&canApprove"  mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No"
            on-confirm="reject()" confirm-button-type="default" cancel-button-type="default" class="btn btn-danger" class="btn btn-danger"> Reject </button>
          <button ng-if="form.stage=='approved'" style="color:green;border:1px solid green"> <i class="fa fa-check"> </i>Approved </button>
            <button ng-if="form.stage=='cancelled'" style="color:red;border:1px solid red"> <i class="fa fa-check"> </i>Rejected </button>
            <a ng-if="form.stage=='approved'&&canApprove" class="btn btn-primary" href="/api/finance/downloadSheet/?pkVal={{form.pk}}"><i class="fa fa-download"></i> </a>
      </div>
    </div>
    <div class="row" style="margin:20px">
      <div class="col-md-12" ng-if="mode=='edit'||mode=='view'" style="margin-bottom:20px">
        <h3>Invoice</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Invoice No</th>
              <th scope="col">Particular</th>
              <th scope="col">Invoice Value</th>
              <th scope="col">GST Amount</th>
              <th scope="col">Claim Amount</th>
              <th scope="col">Remark</th>
              <!-- <th scope="col">Currency</th> -->
              <!-- <th scope="col">GST IN</th> -->
              <!-- <th scope="col">Attachment</th> -->
              <th scope="col" class="text-center" ng-if="mode=='edit'">Options</th>
            </tr>
            <!-- <tr>
              <th scope="col">Title</th>
              <th scope="col">Invoice No</th>
              <th scope="col">Dated</th>
              <th scope="col">Description</th>
              <th scope="col">Currency</th>
              <th scope="col">Amount</th>
              <th scope="col">Invoice Amount</th>
              <th scope="col">GST Amount</th>
              <th scope="col">GST IN</th>
              <th scope="col">Attachment</th>
              <th scope="col" class="text-center" ng-if="mode=='edit'">Options</th>
            </tr> -->
          </thead>
          <tbody>
            <!-- <tr ng-repeat="d in form.invoices">
              <th scope="row">{{d.code}}</th>
              <th>{{d.invNo}}</th>
              <td>{{d.dated}}</td>
              <td>{{d.description}}</td>
              <td>{{d.currency}}</td>
              <th>{{d.amount}}</th>
              <th>{{d.invoiceAmount}}</th>
              <td>{{d.gstVal}}</td>
              <td>{{d.gstIN}}</td>
              <td><a href="{{d.attachment}}" target="_blank"><i class="fa fa-paperclip fa-2x" ng-if="d.attachment"> </a></td>
              <td ng-if="mode=='edit'" class="text-center"><i class="fa fa-pencil fa-lg" style="color:var(--themeMain);cursor:pointer" ng-click="editInvoice($index,d.pk)"></i>
                <i class="fa fa-trash  fa-lg" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="deleteInvoice($index,d.pk)" confirm-button-type="danger" cancel-button-type="default"
                  style="color:red;cursor:pointer"></i></td>
            </tr> -->
            <tr ng-repeat="d in form.invoices">
              <td  scope="row">{{d.dated}}</td>
              <th>{{d.invNo}}</th>
              <th>{{d.code}}</th>
              <th>{{d.invoiceAmount}}</th>
              <td>{{d.gstVal}}</td>
              <th>{{d.amount}}</th>
              <td>{{d.description}}</td>
              <!-- <td>{{d.gstIN}}</td>
              <td>{{d.currency}}</td>
              <td><a href="{{d.attachment}}" target="_blank"><i class="fa fa-paperclip fa-2x" ng-if="d.attachment"> </a></td> -->
              <td ng-if="mode=='edit'" class="text-center"><i class="fa fa-pencil fa-lg" style="color:var(--themeMain);cursor:pointer" ng-click="editInvoice($index,d.pk)"></i>
                <i class="fa fa-trash  fa-lg" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="deleteInvoice($index,d.pk)" confirm-button-type="danger" cancel-button-type="default"
                  style="color:red;cursor:pointer"></i></td>
            </tr>
            <tr ng-if="!showEdit&&mode=='edit'">
              <th scope=" row">
              </th>
              <!-- <td></td>
              <td></td>
              <td></td> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center"> <i class="fa fa-plus fa-2x" ng-click="show()" style="cursor:pointer"></i></td>
            </tr>
            <tr ng-if="showEdit">
              <td scope="row">
                <div class="input-group">
                  <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="invoiceForm.dated" is-open="statusDue.opened" ng-init="today" disabled />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="statusDue.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </td>
              <td>
                <input type="text" class="form-control" ng-model="invoiceForm.invNo" placeholder="Invoice No">
              </td>
              <td >
                <input type="text" class="form-control" ng-model="invoiceForm.code" uib-typeahead="p as p.title for p in codeSearch($viewValue)" placeholder="Particular">
              </td>
              <td>
                <input type="tel" class="form-control" ng-model="invoiceForm.invoiceAmount" placeholder="Invoice Value">
              </td>
              <td>
                <input type="text" class="form-control" ng-model="invoiceForm.gstVal" placeholder="GST Amount">
              </td>
              <td>
                <input type="tel" class="form-control" ng-model="invoiceForm.amount" placeholder="Amount">
              </td>
              <td>
                <input type="text" class="form-control" ng-model="invoiceForm.description" placeholder="Remark">
              </td>
              <!-- <td>
                <select class="form-control" ng-model="invoiceForm.currency">
                  <option value="INR">INR</option>
                  <option value="USD">USD</option>
                </select>
              </td> -->


              <!-- <td>
                <input type="text" class="form-control" ng-model="invoiceForm.gstIN" placeholder="GST IN">
              </td> -->
              <!-- <td>
                <input type="file" file-model="invoiceForm.attachment">
              </td> -->
              <td class="text-center">
                <i class="fa fa-floppy-o fa-2x" style="color:var(--themeMain)" ng-click="saveInvoice()"></i>
                <i ng-if="!invoiceForm.pk" class="fa fa-close fa-2x" ng-click="cancel()"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
