<style media="screen">
  .taskMenuItem:hover {
    background: white;
    cursor: pointer;
  }

  .taskTicker {
    border-radius: 20px;
    width: 30px;
    height: 30px;
    border: solid 1px #c4c4c4;
    cursor: pointer;
    padding: 6px;
  }

  .taskTicker:hover,
  .completedTask {
    border: solid 1px rgb(59, 179, 36);
    background: rgb(59, 179, 36);
    color: white;
  }

  .newTaskTicker {
    border: solid 1px rgb(59, 179, 36);
    padding: 2px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    border: solid 1px #c4c4c4;
    cursor: pointer;
  }

  .taskTickerBlue {
    padding: 2px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    border: solid 1px rgb(42, 60, 136);
    cursor: pointer;
    background: rgb(42, 60, 136);
    color: white;
  }

  .todoAdd {
    border: none;
  }

  .datePill {
    border: solid 1px #eee;
    padding: 6px;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    color: #9d9d9d;
    cursor: pointer;
  }

  .taskDatePicker .btn {
    border: none;
  }

  .timeLabel {
    color: orange;
    font-size: 13px;
    margin-left: 15px;
    border-radius: 100px !important;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(255, 251, 243);
    border: none;
  }

  .timeLabel:hover {
    background: orange !important;
    color: white !important;
    cursor: pointer;

  }


  .projectLabel {
    padding: 8px;
    color: rgb(42, 60, 136);
    font-size: 13px;
    margin-left: 15px;
    border-radius: 100px !important;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(239, 246, 251);
  }

  .projectLabel:hover {
    background: rgb(42, 60, 136) !important;
    color: white !important;
    cursor: pointer;
  }

  .fileLabel {
    padding: 8px;
    color: grey;
    font-size: 13px;
    margin-left: 15px;
    border-radius: 100px !important;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(247, 247, 247);
  }

  .fileLabel:hover {
    background: grey !important;
    color: white !important;
    cursor: pointer;
  }

  .addLabel {
    padding: 0px;
    border: solid 3px grey;
    border-radius: 30px;
    color: grey;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    margin-left: 15px;
    height: 30px;
  }

  .activeMenuItem {
    background: white;
  }

  .user-search .list-group-item.active {
    color: white;
  }

  body {
    background-color: #d9dbd4
  }

  .scrollView {
    overflow-y: scroll;
    height: 82.5vh;
    scrollbar-color: rgba(0, 0, 0, .2) hsla(0, 0%, 100%, .1);
    scrollbar-width: thin;
  }

  .bgImg {
    background-image: url('/static/images/bg_chat.PNG');
    background-color: #e5ddd5;
    background-size: cover;
    background-repeat: no-repeat;
    height:92.5vh;
    /* opacity:0.06 */
  }

  .mainChatdiv {
	   /* background-image: linear-gradient(90deg, #3bd17a 26.75%,#e1e1e1 25%); */
    position: relative;
  }

  .wholeWindow {
    /* background-color: #fff; */
    /* border: 1px solid #ccc; */
    background-image: linear-gradient(90deg, #3bd17a 26%,#e1e1e1 25%);
    padding: 40px;
    position: absolute;
    width: 100%;
    padding-bottom:0px;
    height:100vh;
  }

  .chatThreads {
    overflow-y: scroll;
    overflow-x: hidden;
    background: white;
    scrollbar-color: rgba(0, 0, 0, .2) hsla(0, 0%, 100%, .1);
    scrollbar-width: thin;
  }
  .Messenger_groupInfo{
    background-color:white;border-left:1px solid #ccc;height:92.5vh
    /* background-color:#ececec;border-left:1px solid #ccc;height:92.5vh */
  }

  /* .greenDiv {
    background-color: #009688;
    height: 100px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 15px;
    background-color:#3bd17a;height:100px
  } */

  .White_div{
    background-color:white;padding:10px 0px;margin-top:10px;margin-bottom:10px;color:#3bd17a;font-size:17px;height:150px
  }
  @media screen and (min-width: 1441px) and (max-width:1620px) {
    .White_div{
      height:0px
      padding:0px;
    }

    .Messenger_groupInfo{
      height:87.5vh !important;

    }
    .display_picture_view{
      width:45px !important;
      height:45px !important;
    }
    .wholeWindow {
      background-image: linear-gradient(90deg, #3bd17a 27%,#e1e1e1 25%);
      padding:50px;
    }
    .bgImg{
      height:88vh
    }

    .Messenger_contactsList{
      height:100% !important;
    }
    .Messenger_groupInfo{
      height:100vh;
    }
  }

  @media screen and (min-width: 1200px) and (max-width: 1440px) {
    .White_div{
      height:90px
    }

    .display_picture_view{
      width:45px !important;
      height:45px !important;
    }
    .Messenger_groupInfo{
      height:100vh;
    }
    .Messenger_contactsList{
      height:100% !important;
    }
    .wholeWindow{
      width: 100%;
      padding:0px;
    }
    .bgImg{
      height:100vh
    }

  }


  .display_picture{
    border-radius:50%;
    background-position: center;
    background-size:cover;
    height:150px;
    width:150px;
    text-align:center
  }


.display_picture:hover  .highlight{
  display:block;
  color:#ffffff;
  padding-top:40px
}

.display_picture_view{
  border-radius:50%;
  background-position: center;
  background-size:cover;
  height:45px;
  width:45px;
  text-align:center;
  margin-left:15px
}
.Messenger_contactsList{
    padding:0rem;background-color:white;height:92.5vh;border-top-left-radius: 20px;
overflow: hidden;
border-bottom-left-radius: 20px;
box-shadow: 0px 8px 18px rgb(45, 117, 75) !important;
}
.pinned{
  display:none
}
.allChat:hover .pinned{
  display:block
}
/* style="padding:0rem;background-color:#f6f6f6;border-right:1px solid #ccc" */
</style>

<div class="container-fluid mainChatdiv" id="mainChat">
  <div class="row greenDiv" style="background-image: linear-gradient(90deg, #3bd17a 27%,
#e1e1e1 25%);
height: 100%;" >
<div class="col-md-12 wholeWindow ">

  <div class="col-md-3 col-sm-4 Messenger_contactsList " style="">
    <div class="row" ng-if="showUsers!='groupDetails'" style="background-color:#f6f6f6;margin:0px;">
      <div class="col-md-10">
        <div class="contact-search" style="padding:1.35rem 1rem;">
          <div class="form-group" style="margin:0px;">
            <i class="fa fa-search " style="position:absolute;padding:11px;color: #777;font-size: 14px;"></i>
            <input class="form-control searchInp" type="text" ng-change="searchAll()" ng-model="search.searchTxt" placeholder="Search..." style="border:none;padding:1rem 4rem ; border-radius:20px;width:100%;">
          </div>
        </div>
      </div>
      <div class="col-md-2 " style="padding-top:15px;padding-left:0px">
        <img src="/static/images/chat.svg" alt="" ng-click="changeType('users')" ng-show="showUsers=='chats'" style="height: 35px;padding: 5px;">
        <i class="fa fa-close fa-2x" ng-click="changeType('chats')" ng-show="showUsers=='users'||showUsers=='group'"></i>
      </div>
    </div>
    <div class="" style="height:100%;overflow-y:scroll;scrollbar-width:thin;scrollbar-behavior:smooth;scrollbar-color:rgba(0, 0, 0, .2) hsla(0, 0%, 100%, .1)">
      <div class="chatThreads" style="">
        <div ng-if="showUsers=='chats'"  class="allChat row contact userMenuItem {{ $state.is('home.messenger.explore') && $state.params.id == u.pk   ? 'activeUserItem':''}}" ng-click="$state.go('home.messenger.explore' , {id : u.pk});updateMessage(u.pk)"        style="padding:10px 15px;padding-bottom:0px;" ng-repeat="u in chatthreads">
        <div class="col-md-3 col-sm-2 text-right" style="padding:0px;">
          <!-- <img ng-src="{{u.dp}}" src="/static/images/userIcon.png" onerror="this.src='/static/images/userIcon.png'" style="width:40px;" class="img img-circle"> -->
          <!-- <div class="" style="clip-path:circle(50%);background:#2edd2e;width:15px;height:15px;position: absolute;bottom: -5px;right: -5px;"></div> -->
          <div  class="display_picture_view" style="background-image:url({{u.dp?u.dp:'/static/images/userIcon.png'}})">
          </div>
        </div>
        <div class="col-md-7 col-sm-9 col-xs-2" style="font-size: 1vw;">
          <div class="row" style="margin:0px;border-bottom:1px solid #f5f5f5;height:60px;">
            <div class="">
              <h5>
                {{u.name.name}}
              </h5>
            </div>
            <div class="">
              <p class="font10" ng-if="u.lastmsg.fileType == null">
                {{u.lastmsg.message | limitTo:35}}
              </p>
              <p ng-if="u.lastmsg.fileType == 'image'" class="font14">
                <i class="fa fa-camera"></i> Photo
              </p>
              <p ng-if="u.lastmsg.fileType == 'xl' || u.lastmsg.fileType == 'pdf' || u.lastmsg.fileType == 'word' || u.lastmsg.fileType == 'ppt' " class="font12">
                <i class="fa fa-file-text-o"></i> {{u.lastmsg.fileName | limitTo:35}}
              </p>
              <p ng-if="u.lastmsg.fileType == null && u.lastmsg.fileType == 'image'">
                {{u.lastmsg.message | limitTo:35}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-1" style="padding:10px 0px" ng-if="u.unreadMsgs>0">
          <div class="text-center" style="width:25px;height:25px;background-color:#3bd17a;border-radius:50%;padding:3px;">
            <span style="color:white;"><b>{{u.unreadMsgs}}</b></span>
          </div>
        </div>
        <div class="col-md-1 col-sm-1 " style="padding:10px 0px;">
            <!-- <i class="fa fa-star"> </i> -->
            <img ng-if="u.is_pin" src="/static/images/icons8-star-filled-48.png" style="height:20px" ng-click="u.is_pin=!u.is_pin;updatePinned(u.pk,u.is_pin);">
            <img class="pinned" ng-if="!u.is_pin" src="/static/images/icons8-star-filled-50.png" style="height:20px" ng-click="u.is_pin=!u.is_pin;updatePinned(u.pk,u.is_pin);">
        </div>
      </div>
      <div class="row" ng-if="showUsers=='users'">
        <div class="col-md-12">

          <div class=" row contact userMenuItem " style="padding:10px 15px;padding-bottom:0px;" ng-click="changeType('group')">
            <div class="col-md-2 col-sm-2 text-right" style="padding:0px;">
              <div class="pull-right" style="height:40px;width:40px;background-color:#3bd17a;border-radius: 50%;padding: 10px;">
                <i class="fa fa-users" aria-hidden="true" style="font-size:20px;color:white;"></i>
              </div>
              <!-- <div class="" style="clip-path:circle(50%);background:#2edd2e;width:15px;height:15px;position: absolute;bottom: -5px;right: -5px;"></div> -->
            </div>
            <div class="col-md-10 col-sm-10 col-xs-2" style="font-size: 1vw;">
              <div class="row" style="margin:0px;border-bottom:1px solid #f5f5f5;height:60px;">
                <div class="">
                  <h5>
                    New group
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class=" row contact userMenuItem " style="padding:10px 15px;padding-bottom:0px;border-bottom:1px solid #f5f5f5;" ng-repeat="u in allUsers track by u.pk" ng-click="startnewChat(u.pk)">
            <div class="col-md-2 col-sm-2 text-right" style="padding:0px;">
              <!-- <img ng-src="{{u.profile.displayPicture}}" src="/static/images/userIcon.png" onerror="this.src='/static/images/userIcon.png'" style="width:40px;" class="img img-circle"> -->
              <div  class="display_picture_view" style="background-image:url({{u.profile.displayPicture?u.profile.displayPicture:'/static/images/userIcon.png'}})">
              </div>
              <!-- <div class="" style="clip-path:circle(50%);background:#2edd2e;width:15px;height:15px;position: absolute;bottom: -5px;right: -5px;"></div> -->
            </div>
            <div class="col-md-10 col-sm-10 col-xs-2" style="font-size: 1vw;">
              <div class="row" style="margin:0px;height:60px;">
                <div class="">
                  <h5>
                    {{u.first_name}} {{u.last_name}}
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="showUsers=='group'">
        <div class="col-md-12">
          <div class=" row contact userMenuItem " style="padding:10px 15px;padding-bottom:0px;">
            <div class="col-md-12">
              <div ng-repeat="p in participants track by $index" style="padding:5px;border-radius:25px;background:#e6e6e6;margin:5px;margin-bottom:15px">
                {{p.first_name}} {{p.last_name}} <i class="fa fa-close pull-right" ng-click="remove($index)"></i>
              </div>
            </div>
          </div>
          <div class=" row contact userMenuItem " style="padding:10px 15px;padding-bottom:0px;border-bottom:1px solid #f5f5f5 !important;" ng-repeat="u in allUsers" ng-click="addtochatList($index)">
            <div class="col-md-2 col-sm-2 text-right" style="padding:0px;">
              <!-- <img ng-src="{{u.profile.displayPicture}}" src="/static/images/userIcon.png" onerror="this.src='/static/images/userIcon.png'" style="width:40px;" class="img img-circle"> -->
              <div  class="display_picture_view" style="background-image:url({{u.profile.displayPicture?u.profile.displayPicture:'/static/images/userIcon.png'}})">
              </div>
              <!-- <div class="" style="clip-path:circle(50%);background:#2edd2e;width:15px;height:15px;position: absolute;bottom: -5px;right: -5px;"></div> -->
            </div>
            <div class="col-md-10 col-sm-10 col-xs-2" style="font-size: 1vw;">
              <div class="row" style="margin:0px;height:60px;">
                <div class="">
                  <h5>
                    {{u.first_name}} {{u.last_name}}
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row" ng-if="participants.length>0" ng-click="changeType('groupDetails')">
            <div class="col-md-12" style="position:fixed;bottom:41px">
              <div class="text-center" style="height:60px;width:60px;background-color:#3bd17a;border-radius: 50%;padding: 10px;margin-left: 254px;">
                <i class="fa fa-arrow-right fa-2x" aria-hidden="true" style="color:white;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="showUsers=='groupDetails'">
        <div class="col-md-12">
          <div class="row" style="background:#3bd17a;min-height:100px;color:#ffffff;padding-top:50px">
            <div class="col-md-2 text-right">
              <h4> <i class="fa fa-arrow-left fa-lg" ng-click="changeType('group')"></i> </h4>
            </div>
            <div class="col-md-10">
              <h4>  New group </h4>
            </div>
          </div>
          <div class="row"  style="margin-top:60px">
            <div class="col-md-offset-3 col-md-6">
              <div  class="display_picture" style="background-image:url({{form.dp.length>0?form.dp:'/static/images/userIcon.png'}})" id="image1">
                <!-- <img ng-src="{{user.dp}}"  onerror="this.src='/static/images/userIcon.png'" style="width:150px;height:150px;" class="img img-circle"> -->
                <input type="file" class="file_upload" ng-model="form.dp" onchange="angular.element(this).scope().fileNameChanged(this.files)" />
                <div class="highlight" >
                  <i class="fa fa-camera fa-3x"></i> <br/> ADD GROUP ICON
                </div>

              </div>
            </div>
          </div>
          <div class="row"  style="margin-top:30px;padding-right:15px;padding-left:15px">
            <div class="col-md-12">
              <input type="text" class="form-control" ng-model="form.title" name=""  value="" style="border:none;border-bottom:2px solid #3bd17a">
            </div>
          </div>
          <div class="row" ng-if="form.title.length>0" style="margin-top:30px">
            <div class="col-md-2 col-md-offset-5 text-center" >
              <div class="text-center" style="height:50px;width:50px;background-color:#009688;border-radius: 50%;padding: 10px" ng-click="createGroupChat()">
                <i class="fa fa-check fa-2x" aria-hidden="true" style="color:white;"></i>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div style="position: absolute;bottom: 0px;width: 100%;height: 50px;background:#ffffff" id="openchatwindow" onclick="openwindow()">
      <div class="" style="background: red;height: 50px;color:#ffffff;padding:5px;">
      <h4>  New Chats </h4>
      </div>
    </div>
    </div>

</div>
<div>
  <ui-view> </ui-view>
</div>


</div>

  </div>

</div>


<script>
function openwindow() {
  chatWindow = document.getElementById("openchatwindow")
  if (chatWindow.style.height == '50px') {
    chatWindow.style.height = '500px'
  }
  else{
    chatWindow.style.height = '50px'
  }

  chatWindow.style.transition =  "0.7s";
  chatWindow.style.transform =  "translateY(-1%)";
}
</script>

<style media="screen">
  .contact_search {
    width: 90%;
    height: 50%;
    margin: auto;
    border: 1px solid #f4f4f4;
    border-radius: 6px;
    font-size: 1vw;
  }

  .chat-top-img {
    max-width: 100%;
    clip-path: circle(50%);
  }

  .chat {
    background-color: #FAFAFA;
    border: 1px solid #f4f4f4;
    width: 25.9%;
  }

  .send-btn {
    border: none;
    background-color: #fff;
  }

  .chat-page {
    width: fit-content;
  }

  .chat-input {
    position: absolute;
    background-color: #ededed;
    height: 60px;
    box-shadow: 0px 8px 15px rgba(213, 213, 213, 0.5) !important;
    padding: 10px;
    bottom: 0px;

  }

  .chat-box {
    position: relative;
    background-color: #FFF;
    border-left: 0.5px solid #f4f4f4;


  }

  .sent-text {
    /* background-color: #cfe9ba; */
    background-color: #dcf8c6;
    color: black;
    padding: 10px 20px;
    font-size: 14px;
    max-width: 80%;
    line-height: 1.5vw;
    border-radius: 8px;
  }

  .recived-text {
    background-color: #fff;
    color: #000;
    padding: 10px 30px;
    font-size: 14px;
    max-width: 80%;
    border-radius: 6px;
  }

  .img-recived {
    border-radius: 6px;
    background-color: #fff;
  }

  .img-sent {
    border-radius: 6px;
    background-color: #cfe9ba;
  }


  .file-card {
    border-radius: 6px;
  }

  .file-recived {
    background-color: #fff;
  }

  .file-sent {
    background-color: #cfe9ba;
    color:black!important
  }

  * {
    padding: 0;
    margin: 0;
  }

  h1 {
    margin: 0 !important;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .chat-dropdown a {
    list-style: none;
    color: #000;
    text-decoration: none !important
  }

  /* margin */

  .m-right-2 {
    margin-right: 0.50rem !important;
  }

  .m-left-2 {
    margin-left: 0.50rem !important;
  }

  .m-bottom-2 {
    margin-bottom: 0.50rem !important;
  }

  .m-top-3 {
    margin-top: 1rem !important;
  }

  .m-left-3 {
    margin-left: 1rem !important;
  }

  .m-right-4 {
    margin-right: 1.50rem !important;
  }

  .m-left-4 {
    margin-left: 1.50rem !important;
  }

  .m-top-5 {
    margin-top: 3rem !important;
  }

  .m-right-5 {
    margin-right: 3rem !important;
  }

  .m-bottom-5 {
    margin-bottom: 3rem !important;
  }

  .margin-auto {
    margin: auto;
  }

  .margin-l-auto {
    margin-left: auto !important;
  }

  .margin-r-auto {
    margin-right: auto !important;
  }

  .margin-y-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .userMenuItem:hover {
    background: #f5f5f5;
    cursor: pointer;
  }

  .userMenuItem {
    /* background: #fff */
    background: #ffffff
  }

  .activeUserItem {
    background: #f5f5f5
      /* background: #F3F6FB */
  }

  /* padding */

  .padding-2 {
    padding: 0.50rem !important;
  }

  .padding-x-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  /* @media (min-width:1900px) {
  .ico{
    left:40px !important;
  }
} */
</style>
