<div class="" style="position:relative;">

  <div class="col-md-6" style="height:100vh;background:linear-gradient(135deg, #F5515F 0%,#A1051D 100%);;padding:20px;">

    <div class="row">
      <div class="col-md-3" style="padding-top:150px;">
        <h1 class="font36" style="color:white;margin-bottom:55px;" ng-show="!isActive" ng-click="isActive=!isActive" ng-init="isActive=false">{{date | date:'yyyy'}}</h1>
        <select ng-if="isActive" class="form-control bookInput font36 " name="" ng-model="form.selectYear" ng-options="k for k in years" style="background:transparent;color:white;padding: 0px;outline: none;" ng-change="changeCalendar()">

        </select>
        <br>
        <h3 class="font24" style="{{index==$index?'font-weight:700':'font-weight:normal'}};color:#FF9A91;cursor:pointer" ng-repeat="m in allMonths track by $index" ng-click="showMonthwise($index,date)">{{m}}</h3>



      </div>
      <div class="col-md-9 datePicker" style="padding-top:50px;">
        <div class="row text-right" style="margin-bottom:100px;color:white;padding-right:20px;">
          <h1 class="font36">
            {{date | date : 'dd MMMM'}}
          </h1>
          <h3 class="font24">{{date | date :'EEEE'}}</h3>

        </div>

        <div uib-datepicker ng-model="date" ng-click="fetchCalenderEvents()" show-weeks="false" month-columns="true" class="pull-right"></div>

      </div>
    </div>
      <div class="row" style="position:absolute;right:0px;bottom:70px" ng-if="!me.profile.zoom_token">
      <div class="col-md-12">
        <img src="/static/images/icons8-zoom-30.png" class="pull-right" style="width:60px" ng-click="openAuthenticator('zoom')" >
      </div>
    </div>
    <div class="row" style="position:absolute;right:0px;bottom:0px">
    <div class="col-md-12">
      <img src="/static/images/icons8-gear-60.png" class="pull-right" style="width:60px" ng-click="openSlots()" >
    </div>
  </div>
  </div>
</div>
<div class="col-md-6" style="position:absolute; height:100%;top:0px;right:0px;">



  <div class="container-fluid">
    <div class="col-md-10 col-md-offset-2" style="padding-top:40px;padding-right:0px;">
      <span ng-if="data.items.length == 0" style="font-size: 25px;text-align:center;padding: 5px;"> No meeting today &#128515</span>
      <ul class="timeline timeline-inverse" ng-repeat="item in data.items">
        <div>
          <div style="position:absolute;padding-top:20px" class="">
            <span class="text-right" style="font-size:25px;margin-left:-50px;;">
              {{item.data.time}}
              <br>
              <span style="font-size:16px;;margin-left:-50px;">{{item.data.remainingHours}}</span>
            </span>
          </div>
          <li data="feed" class=" ">

            <div class="timeline-item">

              <h3 class="timeline-header" style="font-size: 25px;text-align:center;padding: 5px;color: black;">
                {{item.data.text}}
              </h3>
              <div ng-if="item.data.data == null" class="timeline-body ">
                <h4>{{item.data.data}}</h4>
              </div>

            </div>
          </li>

        </div>
      </ul>
      <!-- <div class="row" >
        <div class="col-md-12">

        <appoint-user></appoint-user>
        </div>
      </div> -->
    </div>


  </div>



</div>






<span class="ripple" ng-click="openForm()" style="position:fixed;bottom:30px;right:200px;background: black;
  color: white;
  border: none !important;
  border-radius: 64px !important;
  padding: 17px;
  font-size: 16px;
  z-index: 10;
  box-shadow: 0px 42px 127px rgba(0, 0, 0, 0.94) !important;
  padding-left:20px;padding-right:20px;cursor:pointer;
  ">Create New Meeting <i class="fa fa-plus noselect" style="margin-left: 30px;"></i></span>
