<style media="screen">
  .taskMenuItem:hover {
    background: white;
    cursor: pointer;
  }

  .taskTicker {
    border-radius: 20px;
    width: 30px;
    height: 30px;
    border: solid 1px #c4c4c4;
    cursor: pointer;
    padding: 6px;
  }

  .taskTicker:hover,
  .completedTask {
    border: solid 1px rgb(59, 179, 36);
    background: rgb(59, 179, 36);
    color: white;
  }

  .newTaskTicker {
    border: solid 1px rgb(59, 179, 36);
    padding: 2px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    border: solid 1px #c4c4c4;
    cursor: pointer;
  }

  .taskTickerBlue {
    padding: 2px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    border: solid 1px rgb(42, 60, 136);
    cursor: pointer;
    background: rgb(42, 60, 136);
    color: white;
  }

  .todoAdd {
    border: none;
  }

  .datePill {
    border: solid 1px #eee;
    padding: 6px;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    color: #9d9d9d;
    cursor: pointer;
  }

  .taskDatePicker .btn {
    border: none;
  }

  .timeLabel {
    color: orange;
    font-size: 13px;
    margin-left: 15px;
    border-radius: 100px !important;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(255, 251, 243);
    border: none;
  }

  .timeLabel:hover {
    background: orange !important;
    color: white !important;
    cursor: pointer;

  }


  .projectLabel {
    padding: 8px;
    color: rgb(42, 60, 136);
    font-size: 13px;
    margin-left: 15px;
    border-radius: 100px !important;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(239, 246, 251);
  }

  .projectLabel:hover {
    background: rgb(42, 60, 136) !important;
    color: white !important;
    cursor: pointer;
  }

  .fileLabel {
    padding: 8px;
    color: grey;
    font-size: 13px;
    margin-left: 15px;
    border-radius: 100px !important;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(247, 247, 247);
  }

  .fileLabel:hover {
    background: grey !important;
    color: white !important;
    cursor: pointer;
  }

  .addLabel {
    padding: 0px;
    border: solid 3px grey;
    border-radius: 30px;
    color: grey;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    margin-left: 15px;
    height: 30px;
  }

  .activeMenuItem {
    background: white;
  }

  .user-search .list-group-item.active {
    color: white;
  }

  body {
    background-color: #d9dbd4
  }

  .scrollView {
    overflow-y: scroll;
    height: 80vh;
    scrollbar-color: rgba(0, 0, 0, .2) hsla(0, 0%, 100%, .1);
    scrollbar-width: thin;
  }

  .bgImg {
    background-image: url('/static/images/bg_chat.PNG');
    height: 89.75vh;
    background-color: #e5ddd5;
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity:0.06 */
  }

  .mainChatdiv {
    padding: 0px 150px;
    padding-top: 60px;
    height: 90vh;
    position: relative;
  }

  .wholeWindow {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0px;
    position: absolute;
    width: 82%
  }

  .chatThreads {
    overflow-y: scroll;
    overflow-x: hidden;
    background: white;
    scrollbar-color: rgba(0, 0, 0, .2) hsla(0, 0%, 100%, .1);
    scrollbar-width: thin;
    height: 84vh;
  }

  .greenDiv {
    background-color: #009688;
    height: 100px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 15px;
  }

  @media screen and (max-width: 1200px) {
    .mainChatdiv {
      padding: 0px;
      padding-top: 0px;
      height: 100vh;
      position: relative;
    }

    .wholeWindow {
      width: 100%;
    }

    .scrollView {
      height: 90vh;
    }



    .chatThreads {
      height: 94vh;
    }

    .bgImg {
      height: initial;
    }

  }

  /* @media screen and (min-width: 1200px) and (max-width: 1440px) {
    .mainChatdiv {
      padding:0px;
      padding-top: 0px;
      height: 100vh;
      position: relative;
    }
    .wholeWindow{
      width: 100%;
    }
    .scrollView {
      height: 90vh;
    }



    .chatThreads {
      height: 94vh;
    }
    .bgImg{
      height:initial;
    }
  } */

  /* @media screen and (min-width: 1366px) and (max-width:1440px) { */
  @media screen and (min-width: 1200px) and (max-width:1440px) {

    .mainChatdiv {
      padding: 0px;
      padding-top: 0px;
      height: 100vh;
      position: relative;
    }

    .wholeWindow {
      width: 100%;
    }

    .scrollView {
      height: 90vh;
    }



    .chatThreads {
      height: 94vh;
    }

    .bgImg {
      height: initial;
    }
  }

  @media screen and (min-width: 1441px) and (max-width:1620px) {

    .mainChatdiv {
      padding: 0px 30px;
      padding-top: 30px;
      height: 100vh;
      position: relative;
    }

    .scrollView {
      height: 90vh;
    }

    .wholeWindow {

      width: 95.5%;

    }

    .chatThreads {
      height: 94vh;
    }

    .bgImg {
      height: initial;
    }
  }
  .display_picture{
    border-radius:50%;
    background-position: center;
    background-size:cover;
    height:150px;
    width:150px;
    text-align:center
  }


.display_picture:hover  .highlight{
  display:block;
  color:#ffffff;
  padding-top:40px
}

</style>

<div class="container-fluid mainChatdiv">
  <div class="row greenDiv" style="background-color:#009688;height:100px">

  </div>
  <div class="col-md-12 wholeWindow ">

    <div class="col-md-3 col-sm-4 " style="padding:0rem;background-color:#f6f6f6;border-right:1px solid #ccc">
      <div class="row" ng-if="showUsers!='groupDetails'">
        <div class="col-md-10">
          <div class="contact-search" style="padding:1.35rem 1rem;background-color:#f6f6f6;">
            <div class="form-group" style="margin:0px;">
              <i class="fa fa-search " style="position:absolute;padding:11px;color: #777;font-size: 14px;"></i>
              <input class="form-control searchInp" type="text" ng-enter="getUsers()" ng-model="form.searchTxt" placeholder="Search..." style="border:none;padding:1rem 4rem ; border-radius:20px;width:100%;">
            </div>
          </div>
        </div>
        <div class="col-md-2 " style="padding-top:15px;padding-left:0px">
          <i class="fa fa-comment fa-2x" ng-click="changeType('users')" ng-show="showUsers=='chats'"></i>
          <i class="fa fa-close fa-2x" ng-click="changeType('chats')" ng-show="showUsers=='users'||showUsers=='group'"></i>
        </div>
      </div>
      <div class="chatThreads" style="">
        <div ng-if="showUsers=='chats'" class=" row contact userMenuItem {{ $state.is('home.messenger.explore') && $state.params.id == u.pk   ? 'activeUserItem':''}}" ng-click="$state.go('home.messenger.explore' , {id : u.pk})"
          style="padding:10px 15px;padding-bottom:0px;" ng-repeat="u in chatthreads">
          <div class="col-md-2 col-sm-2 text-right" style="padding:0px;">
            <img ng-src="{{u.dp}}" src="/static/images/userIcon.png" onerror="this.src='/static/images/userIcon.png'" style="width:40px;" class="img img-circle">
            <!-- <div class="" style="clip-path:circle(50%);background:#2edd2e;width:15px;height:15px;position: absolute;bottom: -5px;right: -5px;"></div> -->
          </div>
          <div class="col-md-10 col-sm-10 col-xs-2" style="font-size: 1vw;">
            <div class="row" style="margin:0px;border-bottom:1px solid #f5f5f5;height:60px;">
              <div class="">
                <h5>
                  {{u.name}}
                </h5>
              </div>
              <div class="">
                <p>
                  {{u.msg}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="showUsers=='users'">
          <div class="col-md-12">

            <div class=" row contact userMenuItem " style="padding:10px 15px;padding-bottom:0px;" ng-click="changeType('group')">
              <div class="col-md-2 col-sm-2 text-right" style="padding:0px;">
                <div class="pull-right" style="height:40px;width:40px;background-color:#009688;border-radius: 50%;padding: 10px;">
                  <i class="fa fa-users" aria-hidden="true" style="font-size:20px;color:white;"></i>
                </div>
                <!-- <div class="" style="clip-path:circle(50%);background:#2edd2e;width:15px;height:15px;position: absolute;bottom: -5px;right: -5px;"></div> -->
              </div>
              <div class="col-md-10 col-sm-10 col-xs-2" style="font-size: 1vw;">
                <div class="row" style="margin:0px;border-bottom:1px solid #f5f5f5;height:60px;">
                  <div class="">
                    <h5>
                      New group
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row contact userMenuItem " style="padding:10px 15px;padding-bottom:0px;" ng-repeat="u in allUsers" ng-click="startnewChat($index)">
              <div class="col-md-2 col-sm-2 text-right" style="padding:0px;">
                <img ng-src="{{u.profile.displayPicture}}" src="/static/images/userIcon.png" onerror="this.src='/static/images/userIcon.png'" style="width:40px;" class="img img-circle">
                <!-- <div class="" style="clip-path:circle(50%);background:#2edd2e;width:15px;height:15px;position: absolute;bottom: -5px;right: -5px;"></div> -->
              </div>
              <div class="col-md-10 col-sm-10 col-xs-2" style="font-size: 1vw;">
                <div class="row" style="margin:0px;border-bottom:1px solid #f5f5f5;height:60px;">
                  <div class="">
                    <h5>
                      {{u.first_name}} {{u.last_name}}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="showUsers=='group'">
          <div class="col-md-12">
            <div class=" row contact userMenuItem " style="padding:10px 15px;padding-bottom:0px;">
              <div class="col-md-12">
                <div ng-repeat="p in participants track by $index" style="padding:5px;border-radius:25px;background:#e6e6e6;margin:5px;margin-bottom:15px">
                  {{p.first_name}} {{p.last_name}} <i class="fa fa-close pull-right" ng-click="remove($index)"></i>
                </div>
              </div>
            </div>
            <div class=" row contact userMenuItem " style="padding:10px 15px;padding-bottom:0px;" ng-repeat="u in allUsers" ng-click="addtochatList($index)">
              <div class="col-md-2 col-sm-2 text-right" style="padding:0px;">
                <img ng-src="{{u.profile.displayPicture}}" src="/static/images/userIcon.png" onerror="this.src='/static/images/userIcon.png'" style="width:40px;" class="img img-circle">
                <!-- <div class="" style="clip-path:circle(50%);background:#2edd2e;width:15px;height:15px;position: absolute;bottom: -5px;right: -5px;"></div> -->
              </div>
              <div class="col-md-10 col-sm-10 col-xs-2" style="font-size: 1vw;">
                <div class="row" style="margin:0px;border-bottom:1px solid #f5f5f5;height:60px;">
                  <div class="">
                    <h5>
                      {{u.first_name}} {{u.last_name}}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" ng-if="participants.length>0" ng-click="changeType('groupDetails')">
              <div class="col-md-12" style="position:fixed;bottom:41px">
                <div class="text-center" style="height:60px;width:60px;background-color:#009688;border-radius: 50%;padding: 10px;margin-left: 254px;">
                  <i class="fa fa-arrow-right fa-2x" aria-hidden="true" style="color:white;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="showUsers=='groupDetails'">
          <div class="col-md-12">
            <div class="row" style="background:#009688;min-height:100px;color:#ffffff;padding-top:50px">
              <div class="col-md-2 text-right">
                <h4> <i class="fa fa-arrow-left fa-lg" ng-click="changeType('group')"></i> </h4>
              </div>
              <div class="col-md-10">
                <h4>  New group </h4>
              </div>
            </div>
            <div class="row"  style="margin-top:60px">
              <div class="col-md-offset-3 col-md-6">
                <div  class="display_picture" style="background-image:url({{form.dp.length>0?form.dp:'/static/images/userIcon.png'}})">
                  <!-- <img ng-src="{{user.dp}}"  onerror="this.src='/static/images/userIcon.png'" style="width:150px;height:150px;" class="img img-circle"> -->
                  <input type="file" class="file_upload" ng-model="form.dp" onchange="angular.element(this).scope().fileNameChanged(this.files)" />
                  <div class="highlight" >
                        <i class="fa fa-camera fa-3x"></i> <br/> ADD GROUP ICON
                  </div>

                </div>
              </div>
            </div>
            <div class="row"  style="margin-top:30px;padding-right:15px;padding-left:15px">
              <div class="col-md-12">
                <input type="text" class="form-control" ng-model="form.title" name=""  value="" style="border:none;border-bottom:2px solid #009688">
              </div>
            </div>
            <div class="row" ng-if="form.title.length>0" style="margin-top:30px">
              <div class="col-md-2 col-md-offset-5 text-center" >
                <div class="text-center" style="height:50px;width:50px;background-color:#009688;border-radius: 50%;padding: 10px" ng-click="createGroupChat()">
                  <i class="fa fa-check fa-2x" aria-hidden="true" style="color:white;"></i>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div>
      <ui-view> </ui-view>
    </div>


  </div>

</div>

<style media="screen">
  .contact_search {
    width: 90%;
    height: 50%;
    margin: auto;
    border: 1px solid #f4f4f4;
    border-radius: 6px;
    font-size: 1vw;
  }

  .chat-top-img {
    max-width: 100%;
    clip-path: circle(50%);
  }

  .chat {
    background-color: #FAFAFA;
    border: 1px solid #f4f4f4;
    width: 25.9%;
  }

  .send-btn {
    border: none;
    background-color: #fff;
  }

  .chat-page {
    width: fit-content;
  }

  .chat-input {
    position: absolute;
    background-color: #ededed;
    height: 60px;
    box-shadow: 0px 8px 15px rgba(213, 213, 213, 0.5) !important;
    padding: 10px;
    bottom: 0px;

  }

  .chat-box {
    position: relative;
    background-color: #FFF;
    border-left: 0.5px solid #f4f4f4;


  }

  .sent-text {
    background-color: #1A233B;
    color: white;
    padding: 1rem;
    font-size: 14px;
    font-weight: lighter;
    max-width: 80%;
    line-height: 1.5vw;
    border-radius: 8px;
  }

  .recived-text {
    background-color: #fff;
    color: #000;
    padding: 10px;
    font-size: 14px;
    font-weight: lighter;
    max-width: 80%;
    border-radius: 6px;
  }

  .img-recived {
    border-radius: 6px;
    background-color: #fff;
  }

  .img-sent {
    border-radius: 6px;
    background-color: #1A233B;
  }


  .file-card {
    border-radius: 6px;
  }

  .file-recived {
    background-color: #fff;
  }

  .file-sent {
    background-color: #1A233B;
  }

  * {
    padding: 0;
    margin: 0;
  }

  h1 {
    margin: 0 !important;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .chat-dropdown a {
    list-style: none;
    color: #000;
    text-decoration: none !important
  }

  /* margin */

  .m-right-2 {
    margin-right: 0.50rem !important;
  }

  .m-left-2 {
    margin-left: 0.50rem !important;
  }

  .m-bottom-2 {
    margin-bottom: 0.50rem !important;
  }

  .m-top-3 {
    margin-top: 1rem !important;
  }

  .m-left-3 {
    margin-left: 1rem !important;
  }

  .m-right-4 {
    margin-right: 1.50rem !important;
  }

  .m-left-4 {
    margin-left: 1.50rem !important;
  }

  .m-top-5 {
    margin-top: 3rem !important;
  }

  .m-right-5 {
    margin-right: 3rem !important;
  }

  .m-bottom-5 {
    margin-bottom: 3rem !important;
  }

  .margin-auto {
    margin: auto;
  }

  .margin-l-auto {
    margin-left: auto !important;
  }

  .margin-r-auto {
    margin-right: auto !important;
  }

  .margin-y-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .userMenuItem:hover {
    background: #f5f5f5;
    cursor: pointer;
  }

  .userMenuItem {
    /* background: #fff */
    background: #ffffff
  }

  .activeUserItem {
    background: #f5f5f5
      /* background: #F3F6FB */
  }

  /* padding */

  .padding-2 {
    padding: 0.50rem !important;
  }

  .padding-x-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  /* @media (min-width:1900px) {
  .ico{
    left:40px !important;
  }
} */
</style>
