<div class="modal-body">
  <div class="row">
    <div class="col-md-11">
      <div class="form-group ">
        <label> Monthly Rent </label>
        <input type="text" class="form-control" ng-model="form.rent" style="border: none;border-radius: 10px" placeholder="Rent">
      </div>
    </div>
    <div class="col-md-1 text-right">
      <i class="fa fa-close fa-lg" ng-click="close()"></i>
    </div>
  </div>
  <div class="row">
    <div class=" col-md-3">
      <button class="btn btn-default btn-block" ng-click="save()"> Save </button>
    </div>
  </div>
</div>
