<style media="screen">
  .CodeMirror, .CodeMirror-scroll {
  	min-height: 75vh;
  }
</style>

<div class="container">
  <div class="row" style="margin-top:20px">
    <div class="col-md-1 col-md-offset-10">
      <button type="button" style="border : none !important;border-radius:10px !important;background:#1E334C;color:white;padding:13px;padding-left:15px;padding-right:15px;" class="btn btn-sm btn-primary btn-block" ng-click="save()">Save</button>
    </div>
    <div class="col-md-1">
      <button type="button" style="border : none !important;border-radius:10px !important;background:#1E334C;color:white;padding:13px;padding-left:15px;padding-right:15px;" class="btn btn-sm btn-primary btn-block" ng-click="share(noteData)">Share</button>
    </div>
  </div>
</div>

<div class="row" style="padding-right:15px;margin-top:50px;">
  <div class="col-md-12" style="z-index: 100;">
    <h5><b>Source</b></h5>
    <textarea name="name" style="width:100%" simplemde='{spellChecker: false}' ng-model="noteData.source"></textarea>
    <span mathjax-bind="noteData.source"></span>
  </div>
</div>
