<div class="container-fluid" style="margin-top:10px;">
  <div class="row" style="margin-top:10px;">
    <div class="col-md-12">
      <span style="font-size: 180%;"><b>Share Note</b></span>
    </div>
  </div>
  <hr>
  <div class="row" style="margin-bottom:20px;">
    <div class="col-md-12">
      <users-Field data="data.shares" url="/api/HR/userSearch/" col="4" label="Users"></users-Field>
    </div>
  </div>
  <div class="row" style="margin:auto;height:50px;background:#CDDEEE">
    <div class="col-md-10">
      <h5>{{data.user.first_name}} {{data.user.last_name}}</h5>
    </div>
    <div class="col-md-2">
      <h6>Owner</h6>
    </div>
  </div>
  <br>
  <div class="row" ng-if="form.user">
    <div class="col-md-12">
      <input type="checkbox" name="" value=""> Notify people
      <br>
      <br>
      <textarea name="name" placeholder="Message" style="width:100%"></textarea>
    </div>
  </div>

  <div class="row" style="margin-top:25px;margin-bottom:25px" ng-if="form.user">
    <div class="col-md">

    </div>

  </div>

  <div class="row" style="margin-top:25px;margin-bottom:25px" ng-if="form.user">
    <div class="col-md-2 col-md-offset-8">
      <button ng-click="saveNote()" type="button" class="btn btn-primary" style="float:right">
        Cancel
      </button>
    </div>
    <div class="col-md-2">
      <button ng-click="saveNote()" type="button" class="btn btn-primary" style="float:right">
        Send
      </button>
    </div>
  </div>

  <div class="row" style="margin-top:25px;margin-bottom:25px" ng-if = "!form.user">
    <div class="col-md-12">
      <button ng-click="saveNote()" type="button" class="btn btn-primary" style="float:right">
      Done
      </button>
    </div>
  </div>
</div>
