<div class="container-fluid">
  <div class="row pull-right">
  <button type="button"  class="btn btn-primary"name="button" ng-click="createProcess()"><i class="fa fa-plus"></i> Create A Process</button>
  </div><br><br><br>
  <div class="row" style="margin:10px;">
  <table style="width:80%">
    <tr>
      <th>Name</th>
      <th>URI</th>
      <th>env</th>
      <th>Action</th>           
    </tr>
    <tr ng-repeat="item in processList track by $index" style="padding:10px;">
      <td>{{item.name}}</td>
      <td>{{item.uri}}</td>
      <td>{{item.env}}</td>
      <td>
        <a ng-click="createProcess(item)" style="cursor:pointer;">Edit</a>
        <a ng-click="deleteProcess(item.pk)" style="cursor:pointer;">Delete</a>
      </td>

    </tr>

</table> 
  </div>

  
</div>
