<div class="container-fluid">

<div class="" style="padding:30px;">
  <h4 class="text-center">{{form.pk?'EDIT':'CREATE'}}</h4>

  <div class="from-group">
    <label for="">Name</label>
    <input class="form-control websiteInput" type="text" name="" value="" placeholder="Enter the name" ng-model="form.name">
  </div>
  <br>
  <div class="from-group">
    <label for="">Enabled</label><br>
      <switch ng-model="form.enabled"></switch>

  </div>
  <br>
  <div class="row pull-right" style="margin:20px 0px;">
    <button type="button" class="btn newBtn" name="button" ng-click="save()">Save</button>
  </div>

</div>
</div>
