<style media="screen">
  .box {
    background: white;
    padding: 10px;
    font-weight: 400;
    color: #000000;
    box-shadow: 0px 0px 10px #ccc;
    /* height: 150px; */
  }

  .websiteInput {
    background:
      #F2F3F7;
    color:
      #555;
    border-radius: 25px !important;
    padding: 10px 20px;
    border: none !important;
    margin-top: 10px;
    height: 45px;
  }

  .newBtn {
    border: none !important;
    border-radius: 10px !important;

    padding: 15px;

    font-size: 16px;
    background: #E01B22;
    color: white !important;
  }

  .defaultBtn {
    border: none !important;
    border-radius: 10px !important;

    padding: 15px;

    font-size: 16px;
    background: #F2F3F7;
    color: black !important;
  }

  .highlight {
    margin-bottom: 15px;
    background: #f1f1f1;
    padding: 19px;
    /* position: absolute; */
    z-index: 1;
    height:330px;
  }

  .nonhighlight {
    padding: 19px;
    background: transparent;
    height:330px;
  }
</style>

<div class="container-fluid">
  <div class="row text-center" style="margin:0px;">
    <h3 class="font24">Catalog Maker</h3>
  </div>
  <div class="col-md-12" style="margin-top:50px;">
    <div class="row">
      <div class="col-md-5">

      </div>
      <div class="col-md-3">
        <div class="form-group">
          <span class="font18" style="position:absolute;right: 25px;padding: 15px;" ng-click="getAll()">
            <i class="fa fa-search"></i></span>
          <input type="text" class="form-control websiteInput" placeholder="Search" ng-model="search" ng-enter="getPages()" style="height:55px;margin-top:0px;">

        </div>

      </div>
      <div class="col-md-2">

        <a type="button" class="btn newBtn btn-block" ng-click="addInventory()"> New <i class="fa fa-plus"></i> </a>
      </div>
      <div class="col-md-2 pull-right" style="margin-bottom:20px;">
        <a href="/api/finance/ProductsCatalog/?id={{category}}" type="button" class="btn newBtn btn-block">Download </a>
      </div>
    </div>
    <div class="row" style="margin:0px;">
      <div class="col-md-4">
        <div class="row" style="margin:0px;">
        </div>
        <br><br>

      </div>
      <div class="col-md-10 col-md-offset-1 ProCatalog_mainDiv" style="height: 75vh;overflow-y: scroll;">
        <div class="">
          <div class="row" style="margin-bottom:60px;">
            <div class="col-md-3">
              <img src="{{inventoryData[0].division.logo}}" style="height:85px" alt="">
            </div>
            <div class="col-md-8 text-center">
              <h3 class="font24">{{inventoryData[0].division.name}}</h3>
            </div>
          </div>
        </div>
        <div class="row" style="margin:10px 0px">
          <div class="col-md-3 " ng-repeat="k in inventoryData track by $index">

            <div class="{{k.show?'highlight':'nonhighlight'}}" style="margin-bottom:15px" ng-init="k.show=false" ng-mouseover="k.show=true" ng-mouseleave="k.show=false">
              <div class="" style="background-image:url({{k.img1}});background-size:contain;height:150px;margin-bottom:15px;background-repeat:no-repeat;background-position:center">

              </div>
              <p><b>{{k.name}}</b> </p>
              <p>Price :<i class="fa fa-inr" style="font-size:13px;padding-right:5px;"></i>{{k.rate}} <span> <i class="fa fa-inr" style="font-size:13px;padding-right:5px;text-decoration-line: line-through;">{{k.mrp}}</i></span></p>
              <p style="color:gray">{{k.richtxtDesc}}</p>
              <div class="row" ng-if="k.show" >
                <div class="col-md-6">
                  <!-- <i class="fa fa-trash" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="deleteData($index)" confirm-button-type="danger"
                  cancel-button-type="default" style="cursor:pointer;"></i> -->
                  <i class="fa fa-trash"  ng-click="deleteData($index)" style="cursor:pointer;"></i>
                </div>
                <div class="col-md-6 text-right">
                  <i class="fa fa-pencil" ng-click="postData($index)"></i>

                </div>

              </div>

            </div>

          </div>

        </div>
        <!-- <iframe id="catalog" src="{{dataURL}}" id="catalog"width="100%" style="height:90vh" frameBorder="0"></iframe> -->
      </div>
    </div>
  </div>
</div>
