<div class="container-fluid">
  <div class="" style="padding:30px;">
    <div class="row text-center">
      <h3>{{form.pk?'Edit':'Create'}} Feedback</h3>
    </div>
    <br><br>
    <div class="row">
      <div class="form-group">
        <label >Fullname:</label>
        <input type="text" class="form-control websiteInput" ng-model="form.name" placeholder="Enter the fullname" >
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group">
        <label >Rating:</label>
        <input type="number" class="form-control websiteInput"  ng-model="form.star" placeholder="Give  the rating">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group">
        <label >Feedback:</label>
        <textarea name="name" rows="8" cols="80" class="form-control websiteInput" ng-model="form.text" placeholder="Give the feedback " ></textarea>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-2 pull-right">
        <button type="button" class="btn newBtn btn-block" name="button" ng-click="save()">Save</button>
      </div>
    </div>

  </div>
</div>
