{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>admin</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" charset="utf-8">
    <link rel="stylesheet" href="/static/css/angular-chart.min.css" charset="utf-8">
      <link rel="stylesheet" href="/static/css/angular-ui-switch.min.css" charset="utf-8">
    <style>
      .menuItems {
        padding: 20px;
        font-size: 16px;
        cursor: pointer;
        border-right: solid 4px #F2F3F7;
        padding-bottom: 15px;
        padding-top: 15px;
      }

      .menuItems:hover {
        background: #fbfbfb;
        border-right: solid 4px red !important;
      }

      .activeMenu {
        border-right: solid 4px red !important;
        background: #fbfbfb !important;
      }
    </style>
  </head>
  <body ng-app="app"  >



  <div flash-message="4000" style="position:fixed;top:70px;right:10px;z-index:9999;min-width:300px;"></div>
    {% verbatim %}
      <div class="col-md-2" style="background:#eee;margin:0px;min-height:100vh;position:absolute;">
        <div class="row text-center menuItems {{$state.is('companies') ? 'activeMenu' : ''}}" ng-click="$state.go('companies')" style="padding:20px">
          Companies
        </div>
        <div class="row text-center menuItems {{$state.is('apps') ? 'activeMenu' : ''}}" ng-click="$state.go('apps')" style="padding:20px">
          Apps
        </div>
        <div class="row text-center menuItems {{$state.is('templates') ? 'activeMenu' : ''}}" ng-click="$state.go('templates')" style="padding:20px">
          Templates
        </div>
        <div class="row text-center menuItems {{$state.is('HSNandSACcodes') ? 'activeMenu' : ''}}" ng-click="$state.go('HSNandSACcodes')" style="padding:20px">
          HSN/SAC Codes
        </div>
        <div class="row text-center menuItems {{$state.is('holidays') ? 'activeMenu' : ''}}" ng-click="$state.go('holidays')" style="padding:20px">
          Holidays
        </div>
        <div class="row text-center menuItems {{$state.is('language') ? 'activeMenu' : ''}}" ng-click="$state.go('language')" style="padding:20px">
          Language Translation
        </div>
        <div class="row text-center menuItems {{$state.is('version') ? 'activeMenu' : ''}}" ng-click="$state.go('version')" style="padding:20px">
          Version Management
        </div>
        <div class="row text-center menuItems {{$state.is('analytics') ? 'activeMenu' : ''}}" ng-click="$state.go('analytics')" style="padding:20px">
          Analytics
        </div>
        <div class="row text-center menuItems {{$state.is('chitchat') ? 'activeMenu' : ''}}" ng-click="$state.go('chitchat')" style="padding:20px">
          Chit Chat
        </div>
        <!-- <div class="row text-center menuItems {{$state.is('analytics') ? 'activeMenu' : ''}}" ng-click="$state.go('version')" style="padding:20px">
          Analytics
        </div> -->
        <div class="row text-center " style="margin-top:100px;">
          <a href="/logout" class="btn btn-danger">Logout</a>
        </div>

      </div>

      <div class="col-md-10" style="margin:0px;padding:0px;position:absolute;right:0px;overflow:auto;height:100vh;">
        <ui-view></ui-view>
      </div>

    {% endverbatim %}

    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/Chart.min.js"></script>
    <script src="/static/js/jquery.cookie-1.4.1.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-ui-router.min.js"></script>
    <script src="/static/js/angular-flash.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="/static/js/angular-bootstrap-confirm.min.js"></script>
    <script src="{% static 'js/angular-ui-switch.min.js' %}"></script>
    <script src="/static/js/angular-chart.min.js"></script>
    <script src="/static/js/custom/app.adminView.js"></script>
    <script src="{% static 'js/autobahn.min.js' %}"></script>
    <script src="{% static 'js/custom/wampProcessors.js' %}"></script>
    <script src="{% static 'js/tinymce.min.js' %}"></script>
    <script src="{% static 'js/ng-tinymce.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>

    <!-- <script src="scripts/Chart_Module/tc-angular-chartjs.min.js"></script> -->
    <script src="{% static 'js/custom/directives.js' %}"></script>
    <script src="{% static 'js/custom/directives.native.js' %}"></script>
    <script src="{% static 'js/custom/nativeJS.js' %}"></script>
    <script src="{% static 'js/custom/services.js' %}"></script>
    <script src="{% static 'js/custom/ecommerce.directive.js' %}"></script>
    <script type="text/javascript">
      var wamp_prefix = '{{wamp_prefix}}';
    </script>


  </body>
</html>
