<style media="screen">
  .darkInput{
    background: black;
    color: white;
    border-radius: 10px;
    padding: 23px;
    border: none !important;
    margin-top:10px;
  }
  .darkInput:disabled{
    background: black;
    color: white;
    border-radius: 10px;
    padding: 23px;
    border: none !important;
    margin-top:10px;
  }
  #mceu_21{
    border-width: 0px;border-radius: 10px !important;overflow: hidden !important;
  }
</style>
<div class="container-fluid"  style="background:#393C45;">
  <div class="row" >

    <div class="col-md-3" style="position:absolute;left:0px;background:#393C45;height:100vh;overflow-y:scroll;scroll-behaviour:smooth;scrollbar-width:none;color:white;padding-top:30px;padding-right:30px;">

      <div class="row">
        <div class="col-md-2" onclick="window.history.back();">
          <img onclick="window.history.back();" src="/static/images/icons8-left-48.png"  style="width:50px;" alt="">
        </div>
        <div class="col-md-3 text-right" style="padding-right:0px;">
          <img ng-src="{{form.profile.displayPicture}}" onerror="this.src = '/static/images/img_avatar_card.png'" src="/static/images/img_avatar_card.png" class="img img-rounded" style="width:50px;border-radius:50%">
        </div>
        <div class="col-md-7">
          <h3 class="font24">  {{form.first_name}} {{form.last_name}} <h3>
        </div>
      </div>

      <div class="row text-center">
        <h2 class="font30" style="color:rgb(152, 152, 152)">Applications Installed</h2>
      </div>
      <div class="row" style="margin-top:40px;">
        <div class="col-md-6" ng-repeat="installedApp in form.apps" style="position:relative;margin-bottom:30px;">
          <div ng-click="remove(installedApp, $index)" style="position: absolute;top:-5px;right:35px;background:red;border-radius: 30px;color:white;padding-left: 7px;padding-right: 7px;font-size: 18px;box-shadow: 5px 10px 20px #e3e3e3;cursor:pointer;">
              <i class="fa fa-times"></i>
          </div>
          <div class="row text-center">
            <img ng-src="{{installedApp.app.icon}}" style="width:80px;border-radius:40px;"> <br>
            <p style="height:30px;">

              {{installedApp.app.displayName}}
            </p>
          </div>
        </div>

        <div class="col-md-6" style="margin-bottom:30px;">
          <div class="row text-center" ng-click="addApplication()">
            <div src="/static/icons/contacts.png" style="width:80px;border-radius:20px;background:black;height:80px;margin:auto;padding-top:10px;font-size:40px;color:white;cursor:pointer;" class="text-center">
              +
            </div>
            Install New App
          </div>
        </div>
      </div>



      <button type="button" class="btn btn-primary font16" style="background: rgb(28, 172, 103);color: white;position: fixed;width: 20.5%;
left: 11%;;bottom: 13px;border: none !important;border-radius: 10px !important;padding: 15px;" ng-click="updateUser()">Save</button>


    </div>


    <div class="col-md-9 HR_exploreUser" style="">






      <div class="row" style="margin-top:50px;">
        <div class="col-md-3 text-right">
          <h2 style="color:rgb(152, 152, 152)">Basic</h2>
        </div>
        <div class="col-md-9">


        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="empID">Employee ID</label>
              <input type="text" class="form-control darkInput" ng-model="form.basic.empID" id="empID" placeholder="Employee ID">
            </div>
          </div>
          <div class="col-md-4" ng-if="!form.simpleMode">
            <div class="form-group">
              <label>Role</label><br>
              <select  class="form-control darkInput" style="padding:0px;height:45px;padding-left:15px" ng-model="form.designation.role" ng-options="role.name for role in roleList track by role.pk" >
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="form-control text-center"  style="cursor:pointer;background:red;color:white;padding:15px;border:none;border-radius:10px;margin-top: 35px;padding-bottom: 30px;" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="toggleActive($index)"
                confirm-button-type="default" cancel-button-type="default">
                Disable Account
              </div>
            </div>
          </div>
          <div class="col-md-2" style="padding:25px 15px;" ng-if="form.canChangeStaffStatus">
            <div class="form-group">
              <label >Is_staff ? <input type="checkbox" ng-model="form.is_staff"value=""></label>
            </div>

          </div>
        </div>


        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <label>{{form.simpleMode ? '':'First'}} Name</label>
              <input type="text" class="form-control darkInput font30" ng-model="form.first_name" required style="text-transform: capitalize;">
            </div>

          </div>
          <div class="col-md-6" ng-if="!form.simpleMode">
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control darkInput font30" ng-model="form.last_name" required >
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control darkInput" ng-model="form.email" >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Mobile</label>
              <input type="text" class="form-control darkInput font30" ng-model="form.basic.mobile" >
            </div>
          </div>
        </div>

        <div class="row" ng-if="!simpleMode">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <label>Reporting To </label>
              <select  class="form-control darkInput" style="margin-top:15px;padding:0px;height:45px;padding-left:15px" ng-model="form.designation.reportingTo" ng-options="item.first_name for item in reportingList track by item.pk" >
              </select>
            </div>
          </div>
          <div class="col-md-6" ng-if="!form.simpleMode">
            <div class="form-group">
              <label>Work Location</label>

              <select class="form-control darkInput" ng-model="form.designation.unit"  ng-options="unit.name for unit in unitList track by unit.pk" style="margin-top:15px;padding:0px;height:45px;padding-left:15px"></select>
            </div>
          </div>
        </div>


      </div>
    </div>

      <div class="row" >
        <div class="col-md-3 text-right">
          <h2 style="color:rgb(152, 152, 152)">CTC</h2>
        </div>
        <div class="col-md-9" >

          <div class="row" ng-if="!form.enablePayroll">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <input type="number" ng-enter="checkCTC()" class="form-control darkInput font26" ng-model="form.ctc" style="height: 68px;">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="form-group">
                <label>Activate Payroll? </label>
                <switch ng-model="form.payroll.activatePayroll" class="green pull-right"></switch>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9" ng-if="form.enablePayroll">

          <div class="row font20 text-center" ng-if="form.enablePayroll" style="padding:20px;background: orange;margin: 0px;border-radius: 20px;margin-bottom: 45px;margin-top: 33px;">
            {{form.ctc}} is above the income tax slab of 2,50,000, Please fill the CTC breakup instead in the below form. or You can autocalculate by clicking <span ng-click="calculateCTCBreakup()" class="label label-primary" style="cursor:pointer;">Auto Calculate</span> or re enter the CTC again by clicking <span ng-click="form.enablePayroll = false;" class="label label-success" style="cursor:pointer;">Re - Enter</span>
          </div>




          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <label>HRA</label>
                <input type="tel" class="form-control darkInput" ng-change="calculateCTC()" ng-model="form.payroll.hra" >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Special Allowance</label>
                <input type="tel" class="form-control darkInput" ng-change="calculateCTC()" ng-model="form.payroll.special" >
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <label>LTA</label>
                <input type="tel" class="form-control darkInput" ng-change="calculateCTC()" ng-model="form.payroll.lta">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Basic + DA</label>
                <input type="tel" class="form-control darkInput" ng-change="calculateCTC()" ng-model="form.payroll.basic">
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <label>Fixed Variable</label>
                <input type="tel" class="form-control darkInput" ng-change="calculateCTC()" ng-model="form.payroll.adHoc" >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Statutory Bonus</label>
                <input type="text" class="form-control darkInput" ng-change="calculateCTC()" ng-model="form.payroll.bonus" >
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Company Contribution ( PF )</label>
                <input type="text" class="form-control darkInput" ng-change="calculateCTC()" ng-model="form.payroll.pfAdmin" required placeholder="in INR">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <label>Employee Contribution ( PF )</label>
                <input type="text" class="form-control darkInput" ng-change="calculateCTC()" ng-model="form.payroll.pfAmnt" required placeholder="in INR">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <label>Professional Tax</label>
                <input type="text" class="form-control darkInput" ng-change="calculateCTC()" ng-model="form.payroll.pTax" required placeholder="in INR">
                <p>Various states apply a 200 INR professional tax on salaried employees, Please check with your CA for more info</p>
              </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <div class="form-group">
                <h4>Total CTC</h4>
                <h3>{{form.payroll.ctc | number}}</h3>
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top:30px">
               <h4 ng-click="openItDeclaration()" style="cursor:pointer;color:#337ab7"> Month wise CTC </h4>
            </div>
          </div>

        </div>
      </div>

      <div class="row" ng-if="form.enablePayroll">
        <div class="col-md-3 text-right">
          <h2 style="color:rgb(152, 152, 152)">PF Details</h2>
        </div>
        <div class="col-md-9">

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label>PF Universal Account Number</label>
                <input type="text" class="form-control darkInput" ng-model="form.payroll.PFUan" required >
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>PF Account No</label>
                <input type="text" class="form-control darkInput" ng-model="form.payroll.pfAccNo" required >
              </div>
            </div>

          </div>

        </div>
      </div>



      <div class="row" >
        <div class="col-md-3 text-right">
          <h2 style="color:rgb(152, 152, 152)">Leaves</h2>
        </div>
        <div class="col-md-9">

          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <label>Annual Leaves</label>
                <input type="tel" class="form-control darkInput" ng-model="form.payroll.al" required >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Medical Leaves</label>
                <input type="tel" class="form-control darkInput" ng-model="form.payroll.ml" required >
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row" style="padding:30px;padding-right:15px;" ng-if="form.telephony">
          <div class="col-md-9 col-md-offset-3 text-right" style="border-radius:15px;background:rgb(9, 182, 9);background-image: url(/static/images/icons8-sip-dialer-80.png);background-repeat: no-repeat;background-size: contain;padding:20px;">
            <div class="form-group">
              <label for="empID">SIP Username</label>
              <h3>{{form.profile.sipUserName}}</h3>
            </div>
            <div class="form-group">
              <label for="empID">SIP Extension</label>
              <h3>{{form.profile.sipExtension}}</h3>
            </div>
            <!-- <div class="form-group">
              <label for="empID">SIP Password</label>
              <h3>{{form.basic.sipPassword}}</h3>
            </div> -->
          </div>
      </div>


      <div class="row" style="margin-bottom:300px;">
        <div class="col-md-3"></div>
        <div class="col-md-9" ng-if="!form.profile.onboarding">
          <div style="border-radius:20px;background:#d99718;padding:30px;" class="text-center">
            <h3>{{form.first_name}} has not filled the Onboarding Form yet, We have already sent an email with link when you created this account.</h3>
            <h4 style="margin-top:80px;">Would you like to send him a reminder ? Please click <span class="label label-primary" style="cursor:pointer;" ng-click="sendWelcomeKit()">Send Reminder</span>  </h4>
          </div>
        </div>
        <div class="col-md-9" ng-if="form.profile.onboarding">
          <div style="border-radius:20px;background:#393c45;padding:30px;">

            <div class="row">
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <label>Emergency Contact Name</label>
                {{form.profile.emergency}}dd
                <h4>{{form.profile.emergency.split('::')[0]}}</h4>
                <label>Emergency Contact Number</label>
                  <h4>{{form.profile.emergency.split('::')[1]}}</h4>
                <label>Blood Group</label>
                <h3>{{form.profile.bloodGroup}}</h3>

                <div class="row">
                  <div class="col-md-6">
                    <label>Gender</label>
                    <h4 ><span ng-if="form.profile.gender">{{form.profile.gender==M?'Male':'Female'}}</span></h4>
                  </div>
                  <div class="col-md-6">
                    <label>Married ?</label>
                    <h4>{{form.profile.married==false?'No':'Yes'}}</h4>
                  </div>
                </div>
                <label>Local Address</label>
                <h4>{{form.profile.localAddressStreet}} {{form.profile.localAddressCity}}, {{form.profile.localAddressState}} , {{form.profile.localAddressCountry}} - {{form.profile.localAddressPin}}</h4>


              </div>
              <div class="col-md-4" style="background-image: url('{{form.profile.displayPicture}}');background-size:cover;height:300px;">

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
