<div class="container-fluid">
<div class="row" style="margin-top:20px;margin-bottom:20px;">
  <div class="col-md-5">

  </div>
  <div class="col-md-1">
    <div class="btn-group">
      <a ng-click="openDocForm()" type="button" class="btn btn-sm btn-primary " style="padding:8px 18px">New</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="searchForm.search" placeholder="Search with Title" ng-change="allDoclist(true,searchForm.search)">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit" ng-click="allAccounts(true,searchForm.search)">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-sm btn-primary btn-block" style="padding:8px 18px" ng-click="prevDoc()">Prev</button>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-sm btn-primary btn-block " style="padding:8px 18px" ng-click="nextDoc()">Next</button>

  </div>

</div>
<div class="">
  <table class="table table-hover" >
    <thead>
      <tr>
        <th ng-click="allDoclist()"><span><i class="fa fa-refresh"></i></span></th>
        <!-- <th>S.No</th> -->
        <th>Title</th>
        <th>Version</th>
        <th>Description</th>
        <th>File</th>
        <th>File Type</th>
        <th>Created by</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "doc in docData">

        <td>{{$index+1}}</td>
        <td>{{doc.title}}</td>
        <td>{{doc.version}}</td>
        <td>{{doc.description}}</td>
        <td>
          <a href="{{doc.docFile}}"><i class="fa fa-file"></i></a>
        </td>
       <td>{{doc.file_typ}}</td>
        <td>{{doc.user.first_name}} {{doc.user.last_name}}</td>
        <td>{{doc.created | date}}</td>
        <td>{{doc.updated | date}}</td>
        <td>
          <span class="fa-stack" ng-if="doc.active" style="color:green">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-check fa-stack-1x fa-inverse"></i>
          </span>
          <span class="fa-stack" ng-if="!doc.active" style="color:red">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-times fa-stack-1x fa-inverse"></i>
          </span>
        </td>
        <td  ><span ng-click="openDocForm(doc)" ><i class="fa fa-pencil" style="font-size:15px;"></i></span></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
