<style media="screen">
  .darkInput{
    background: black;
    color: white;
    border-radius: 10px;
    padding: 23px;
    border: none !important;
    margin-top:10px;
  }
</style>

<div class="col-md-2">
  <img src="/static/images/icons8-left-48.png" onclick="window.history.back();" style="width:30px;" alt="">
</div>
<div class="col-md-8 ">

  <h3 style="color:white;margin-bottom:30px;">Add a team member  </h3>

  <!-- <div class="form-group" >
    <label>Username</label>
    <input type="text" class="form-control darkInput" ng-model="form.username" required  >
  </div> -->
  <form name="empForm">
  <div class="form-group">
    <label>First Name*</label>
    <input type="text" name = "first_name" class="form-control darkInput" ng-model="form.first_name" required >
    <span style = "color:red" ng-show = "empForm.first_name.$dirty ">
    <span ng-show = "empForm.first_name.$error.required">First Name is required.</span>
  </span>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control darkInput" ng-model="form.last_name" name = "last_name"  >
  </div>
  <div class="form-group">
    <label >Email*</label>
    <input type = "email" name = "email" class="form-control darkInput" ng-model="form.email" required >
    <span style = "color:red" ng-show = "empForm.email.$dirty && empForm.email.$invalid">
     <span ng-show = "empForm.email.$error.required">Email is required.</span>
     <span ng-show = "empForm.email.$error.email">Invalid email address.</span>
  </span>
  </div>
  <div class="form-group">
    <label >Mobile*</label>
    <input type="number" class="form-control darkInput" ng-model="form.mobile" name = "mobile" required >
    <span style = "color:red" ng-show = "empForm.mobile.$dirty && empForm.mobile.$invalid">
     <span ng-show = "empForm.mobile.$error.required">Mobile is required.</span>
     <span ng-show = "empForm.mobile.$error.number">Invalid mobile number.</span>
  </span>
  </div>

<div class="form-group" ng-if="!simpleMode">
  <label>Role</label>
  <!-- <input uib-typeahead="div as div.name for div in roleSearch($viewValue)" ng-model="form.role" type="text" class="form-control darkInput" placeholder="Add division name"> -->
  <select class="form-control darkInput" ng-model="form.role"  ng-options="div.name for div in roles" style="margin-top:15px;padding:0px;height:45px;padding-left:15px">
  </select>
</div>
<div class="form-group" ng-if="!simpleMode">
  <label>Reporting To </label>
  <!-- <input uib-typeahead="Reporting as Reporting.username for Reporting in Reporting($viewValue)" ng-model="form.reportingTo" type="text" class="form-control darkInput" placeholder="Select Reporting To"> -->

  <select class="form-control darkInput" ng-model="form.reportingTo"  ng-options="Reporting.first_name + ' ' + Reporting.last_name for Reporting in reportingToUsers" style="margin-top:15px;padding:0px;height:45px;padding-left:15px">
  </select>
</div>
<div class="form-group" ng-if="!simpleMode">
  <label>Work Location</label>
  <!-- <input uib-typeahead="units as units.name for units in unitSearch($viewValue)" ng-model="form.designation.unit" type="text" class="form-control darkInput" placeholder="Work Location"> -->
  <select class="form-control darkInput" ng-model="form.unit"  ng-options="unit.name for unit in units" style="margin-top:15px;padding:0px;height:45px;padding-left:15px">
  </select>
</div>

<button class="btn btn-default" ng-disabled = "empForm.first_name.$error.required || empForm.email.$invalid || empForm.mobile.$invalid"  ng-click="save()" style="background:#461482;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;padding-right: 30px;padding-left: 30px" ng-if="!viewProfile" type="submit()">Create</button>
<button ng-if="viewProfile" class="btn btn-default" ng-click="$state.go('workforceManagement.profile',{'id':userPk})" style="background:#461482;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;padding-right: 30px;padding-left: 30px;margin-left:15px">View Profile</button>
<button ng-if="viewProfile" type="button" class="btn btn-default" ng-click="reload()" style="background:#461482;color:white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;padding-right: 30px;padding-left: 30px;margin-left:15px">Reset</button>
</form>
</div>
