<!-- <div class="container-fluid" style="padding:10px;">
  <div class="form-group">
    <label>Team Title</label>
    <input type="text" class="form-control" id="" placeholder="" ng-model="form.team">
  </div>
  <div class="form-group">
    <label>Team Manager</label>
    <input type="text" class="form-control" id="" placeholder="" uib-typeahead="Reporting as Reporting.first_name + ' ' +Reporting.last_name  for Reporting in Reporting($viewValue)" ng-model="form.manager">
  </div>
  <button type="button" class="btn btn-primary pull-right" ng-click="saveTeam()">
    Save
  </button>
</div> -->


<div class="modal-body" style="background: #F3F3F3;padding: 40px;">
<div class="row">
  <div class="col-md-12">

    <h3>Create a new Team</h3>

    <div class="form-group">
      <label>Team Name</label>
      <input type="text" class="form-control" id="" placeholder="Team Name" ng-model="form.title" placeholder="Add Team Name" style="padding: 29px;border: none;border-radius: 10px;margin-top:5px;margin-bottom:30px;font-size:20px;">
    </div>
    <div class="form-group">
      <label>Team Lead</label>
      <input type="text" class="form-control" id="" placeholder="Team Lead" uib-typeahead="Reporting as Reporting.first_name + ' ' +Reporting.last_name  for Reporting in Reporting($viewValue)" ng-model="form.manager" style="padding: 29px;border: none;border-radius: 10px;margin-top:5px;margin-bottom:30px;font-size:20px;">
    </div>
    <div class="form-group" ng-init="form.unit = units[0]" ng-if="!simpleMode && units.length > 1">
      <label>Team Unit</label>
      <!-- <input type="text" class="form-control" id="" placeholder="Team Unit" uib-typeahead="units as units.name for units in unitSearch($viewValue)" ng-model="form.unit" style="padding: 29px;border: none;border-radius: 10px;margin-top:5px;margin-bottom:30px;font-size:20px;"> -->
      <select class="form-control darkInput" ng-model="form.unit" ng-options="u.name for u in units"  style="height: 40px;border: none;border-radius: 10px;margin-top:5px;margin-bottom:30px;font-size:20px;">
      </select>
    </div>

    <div class="form-group">
      <label>Is Support Team? </label>
      <switch ng-model="form.isOnSupport" class="green pull-right"></switch>
    </div>
    <button class="btn btn-primary" ng-click="saveTeam()" style="background: #461482;color: white;border: none !important;border-radius: 64px !important;padding: 17px;width: 112px;font-size: 16px;"> {{form.pk?'Save':'Create'}} </div>
  </div>
</div>
</div>
