<div class="container-fluid" style="padding-top:20px;background:#FAFAFA;min-height:100vh">
  <div class="row" style="padding:15px">
    <div class="col-md-2 pull-right">
      <button class="btn btn-primary btn-block" style="border-radius:10px!important" ng-click="$state.go('workforceManagement.newJob')">
        New
      </button>
    </div>
  </div>
  <div class="row" style="padding:15px; margin-top:3%">
    <div class="col-md-12">
      <div class="row card" ng-repeat="j in allJobs" style="margin-bottom:15px;padding:15px;border-radius:15px;height: 84px;" ng-click="$state.go('workforceManagement.exploreJob',{'id' : j.pk})">
        <div class="col-md-5">
          <h3 style="font-size:1.8rem;margin:auto;">{{j.role.name}}</h3>
          <h5>{{j.unit.city}}, {{j.unit.country}}  </h5>
        </div>
        <div class="col-md-3" style="margin-top:7px">
          <h4 style="font-size:1.8rem">{{j.created | date}}</h4>
        </div>
        <div class="col-md-3" style="margin-top:7px">
          <h4 style="font-size:1.8rem">{{j.total_app}} Candidates</h4>
        </div>
        <div class="col-md-1" style="margin-top:7px">
          <i class="fa fa-pencil fa-2x pull-down" style="cursor:pointer;" ng-click="$state.go('workforceManagement.editJob',{'id' : j.pk});$event.stopPropagation()"></i>
          <!-- <i class="fa fa-sticky-note fa-2x text-primary pull-right" style="cursor:pointer;" ng-click="action(j.pk ,'selected')" ng-if="data.screening.length>0"></i> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top:15px;padding-bottom:15px" ng-if="count>allJobs.length">
    <div class="col-md-12 text-center">
      <button class="btn btn-primary" ng-click="loadMore()">Load More</button>
    </div>
  </div>
</div>
