<style>
  .adv_input {
    border: none !important;
    background: #EAEAEA;
    border-radius: 10px;
    padding: 15px;
  }

  .adv_select {
    border: none !important;
    background: #EAEAEA;
    border-radius: 10px;
    /* padding: 15px; */
  }
</style>
<div class="container-fluid" >
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <h3 ng-if="form.pk" class="text-center">Edit Job: <strong>{{form.jobtype}}</strong></h3>
    <h3 ng-if="!form.pk" class="text-center">Create a new job</h3>
    <div class="form-group">
      <label>Job Type</label>
      <select class="form-control adv_select" ng-model="form.jobtype">
        <option value="Full Time">Full Time</option>
        <option value="Contract">Contract</option>
        <option value="Intern">Intern</option>
      </select>
    </div>

    <div class="form-group" ng-if="allUnits.length>1">
      <label>Unit</label>
      <!-- <input type="text " class="form-control " ng-model="form.unit" uib-typeahead="d as d.name for d in unitsSearch($viewValue)" placeholder="Search By Unit"> -->
      <select class="form-control adv_select" ng-model="form.unit"  ng-options="u.name for u in allUnits" >
      </select>
    </div>

    <!-- <div class="form-group" >
      <label>Department</label>
      <input type="text " class="form-control" ng-model="form.department"  uib-typeahead="d as d.dept_name for d in departmentSearch($viewValue)" placeholder="Search By Department">
    </div> -->

    <div class="form-group" >
      <label>Position</label>
      <input type="text " class="form-control adv_input" ng-model="form.role"  placeholder=" Position">
    </div>

    <!-- <div class="form-group" >
      <label>Contact</label>
      <input type="text " class="form-control" ng-model="form.contact" >
    </div> -->
      <!-- <users-Field data="form.contacts" url="/api/HR/userSearch/" col="4" label="Contacts"></users-Field> -->

    <!-- <div class="form-group" >
      <label>Maximum CTC</label>
      <input type="text " class="form-control"  ng-model="form.maximumCTC">
    </div> -->

    <div class="form-group">
      <label>Skills Required</label>
      <textarea ui-tinymce="tinymceOptions" ng-model="form.skill" ></textarea>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea ui-tinymce="tinymceOptions" ng-model="form.description" ></textarea>
    </div>

    <div class="btn-group pull-right">
      <button type="button" ng-if="!form.pk" class="btn btn-default" ng-click="resetForm()" style="background: #461482;color: white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;box-shadow: 0px 8px 18px rgba(157, 157, 157, 0.94) !important;padding-right: 30px;padding-left: 30px;margin-right:20px">
          Reset
        </button>
      <button type="button" class="btn btn-primary pull-right" ng-click="saveJobs()" style="background: #461482;color: white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;z-index: 10;box-shadow: 0px 8px 18px rgba(157, 157, 157, 0.94) !important;padding-right: 30px;padding-left: 30px;">Save</button>
    </div>
  </div>

</div>


</div>
