<div class="container-fluid" style="padding-top:20px;background:#FAFAFA;min-height:100vh">
  <div class="row" style="padding:15px">
    <div class="col-md-2 pull-right">
      <button class="btn btn-primary btn-block" style="border-radius:10px!important" ng-click="$state.go('workforceManagement.newJob')">
        New
      </button>
    </div>
  </div>
  <div class="row" style="padding:15px; margin-top:3%">
    <div class="col-md-4" ng-repeat="j in allJobs">
      <div class="row" style="margin: 15px;">
        <div class="pullOnHover col-md-12" style="background-color:white;padding:30px;height:250px;margin-bottom:20px;border-radius:30px;" ng-click="$state.go('workforceManagement.exploreJob.allJob',{'id' : j.pk})">
          <div class="row">

            <div class="col-md-6">
              <span style="font-size:22px;">  {{j.jobtype}} </span>
            </div>
            <div class="col-md-6 text-right">
              <span style="font-size:22px;">{{j.created|date}}</span>
            </div>
          </div>
          <div class="row" style="margin-top:15px;">

            <div class="col-md-6 text-left" style="position:absolute;bottom:30px">
              <h3> {{j.total_app}} </h3>
              <h2>Selected</h2>
            </div>
            <div class="col-md-6 text-right" style="position:absolute;bottom:30px;right:0px">
              <h3> {{j.total_pending}} </h3>
              <h2>Pending</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top:15px;padding-bottom:15px" ng-if="count>allJobs.length">
    <div class="col-md-12 text-center">
      <button class="btn btn-primary" ng-click="loadMore()">Load More</button>
    </div>
  </div>
</div>
