<div class="container-fluid">
  <div class="row" style="margin-top:60px;margin-bottom:60px">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="font30">Candidate Details</h2>
        </div>
      </div>
      <div class="row">
        <div class="Hiring_Details">
          <div class="row">
            <div class="col-md-2 text-right">
              <h4 class="font18"> Name : </h4>
            </div>
            <div class="col-md-10">
              <h4 class="font18">{{candidateDetails.firstname}} {{candidateDetails.lastname}} </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 text-right">
              <h4 class="font18"> Email : </h4>
            </div>
            <div class="col-md-10">
              <h4 class="font14">{{candidateDetails.email}} </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 text-right">
              <h4 class="font18"> Phone : </h4>
            </div>
            <div class="col-md-10">
              <h4 class="font18">{{candidateDetails.mobile}} </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <object data='{{candidateDetails.resume}}' type='application/pdf' width='100%' style="height:800px" />
            </div>
          </div>
          <!-- <div class="row Hiring_btns" style="margin-top:15px" ng-if="candidateDetails.status != 'Rejected'" >
            <div class="col-md-3 text-right">
              <button type="button" name="button" style="background: #103F8D;color: white;border: none !important;border-radius: 10px !important;padding: 15px;" class="btn-block" ng-click="sendViaMail()"> Schdule Interview</button>
            </div>
            <div class="col-md-3">
                <button ng-if="candidateDetails.status == 'Shortlisted'" type="button" name="button" style="background: #103F8D;color: white;border: none !important;border-radius: 10px !important;padding: 15px;" class="btn-block" ng-click="addasSelected()">Select</button>
                <a ng-if="candidateDetails.status == 'Selected'"  href="/api/recruitment/downloadCallLeter/?value={{candidateDetails.pk}}" target="_blank" type="button" name="button" style="background: #103F8D;color: white;border: none !important;border-radius: 10px !important;padding: 15px;" class="btn-block text-center">Download Offer letter</a>
            </div>
            <div class="col-md-3 text-right">
              <button type="button" name="button" style="background: #c70c00;color: white;border: none !important;border-radius: 10px !important;padding: 15px;" class="btn-block"   mwl-confirm title="Reject" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" data-placement="bottom"  on-confirm="reject()" confirm-button-type="default" cancel-button-type="default">Reject</button>
            </div>
            <div class="col-md-3">
              <div  style="background:white;color:#16ca16;padding:20px;padding-top: 10px;padding-bottom: 10px;font-size:20px;cursor:pointer;" ng-click="call(dialer.editor)">
                <i class="fa fa-phone" aria-hidden="true"></i> Call
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
