<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="height:100vh;background:#FAFAFA">
      <div class="container-fluid" style="padding-top:20px;margin-top:5%">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2> {{jobDetails.jobtype}} </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-right">
          <h3>  <strong>Unit :</strong></h3>
          </div>
          <div class="col-md-8">
            <h3>{{jobDetails.unit.name}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4  text-right">
            <h3><strong>Position :</strong></h3>
          </div>
          <div class="col-md-8">
            <h3>{{jobDetails.role}}</h3>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-5 text-right">
            <strong>Maximum CTC :</strong>
          </div>
          <div class="col-md-7">
            {{jobDetails.maximumCTC}}
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-4 text-right">
            <h3><strong>Skill :</strong></h3>
          </div>
          <div class="col-md-8">
            <h3 ng-bind-html="jobDetails.skill"></h3>
          </div>
        </div>
        <!-- <div class="row">
                  <label>Description</label>
                </div> -->
      </div>

      <div class="row" style="position:absolute;bottom:10px;width:100%">
          <div class=" col-md-12" >
            <button class="btn btn-default btn-block" ng-click="newApplicant()" style="background: #103F8D;color: white;border: none !important;border-radius: 10px !important;padding: 15px;"> <img src="/static/images/download-from-cloud.png" style="width: 25px;margin-right: 40px;" > Add Candidate </button>
          </div>
        </div>

          <div class="row" style="position:absolute;bottom:75px;width:100%">
          <div class=" col-md-12" >
            <button class="btn btn-default btn-block" ng-click="bulkupload()"  style="background: #ffffff;border: none !important;border-radius: 10px !important;padding: 15px;">  <img src="/static/images/download-from-cloud.png" style="width: 25px;margin-right: 40px;" > Bulk Upload</button>
          </div>
        </div>

      </div>
    <div class="col-md-9">
      <ui-view >
      </ui-view>
      </div>
    </div>
  </div>
