<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>[SUBJECT]</title>
</head>
<body cz-shortcut-listen="true">
  <table style="background-color:#E9E9E9;border-collapse:collapse;margin:0;padding:0;font-family:'Open Sans',Verdana, Arial, Helvetica,sans-serif;" width="100%" height="100%" cellspacing="0" cellpadding="20" border="0" align="center">
    <tbody>
      <tr>
        <td valign="top" align="center" style="padding-top:95px">
          <table style="border-collapse:collapse;max-width:600px" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
            <tbody>
              <tr>
                <td style="background: #fff; padding: 40px 40px 40px 40px; text-align: center; border-radius: 10px;">
                  <p style="font-family:'Open Sans',Verdana, Arial, Helvetica,sans-serif; font-size: 18px; color: #000; text-align: center; line-height: 25px; margin:0 0 0 15px;padding:0;"> Feedback <br></p>
                  <table cellpadding="0" cellspacing="0" border="0"  width="100%" class="container">
                     <tr>
                       <td width="15%" colspan="3"  style="padding-bottom:10px;padding-top:25px;">
                         <div>
                             <b>Name : </b>

                         </div>
                       </td>
                       <td width="85%" colspan="3"  style="padding-bottom:10px;padding-top:25px;text-align: left;">
                         <div>
                             <p>{{name}} </p>
                         </div>
                       </td>
                     </tr>
                     <tr>
                       <td width="15%" colspan="3"  style="padding-bottom:10px;padding-top:0px; ">
                         <div>
                             <b>Subject : </b>
                         </div>
                       </td>
                       <td width="85%" colspan="3"  style="padding-bottom:10px;padding-top:0px;text-align: left;">
                         <div>
                             <p>{{sub}} </p>
                         </div>
                       </td>
                     </tr>
                     <tr>
                       <td width="15%" colspan="3"  style="padding-bottom:10px;padding-top:0px;">
                         <div>
                             <b>Details : </b>
                         </div>
                       </td>
                       <td width="85%" colspan="3"  style="padding-bottom:10px;padding-top:0px;text-align: left;">
                         <div>
                             <p>{{details}} </p>
                         </div>
                       </td>
                     </tr>
                     <tr>
                       {% if company != None %}
                       <td width="15%" colspan="3"  style="padding-bottom:10px;padding-top:0px;">
                         <div>
                             <b>Company : </b>
                         </div>
                       </td>
                       <td width="85%" colspan="3"  style="padding-bottom:10px;padding-top:0px;text-align: left;">
                         <div>
                             <p>{{company}} </p>
                         </div>
                       </td>
                     </tr>
                     <tr>
                       {% endif %}
                       <td width="15%" colspan="3"  style="padding-bottom:10px;padding-top:0px;">
                         <div>
                             <b>User : </b>
                         </div>
                       </td>
                       <td width="85%" colspan="3"  style="padding-bottom:10px;padding-top:0px;text-align: left;text-align: left;">
                         <div>
                             <p>{{user}} </p>
                         </div>
                       </td>
                     </tr>
                     <tr>
                       <td width="15%" colspan="3"  style="padding-bottom:10px;padding-top:0px;">
                         <div>
                             <b>URL : </b>
                         </div>
                       </td>
                       <td width="85%" colspan="3"  style="padding-bottom:10px;padding-top:0px;text-align: left;">
                         <div>
                             <p>{{location}} </p>
                         </div>
                       </td>
                     </tr>
                     <tr>
                       <td width="15%" colspan="3"  style="padding-bottom:10px;padding-top:0px;">
                         <div>
                             <b>IP : </b>
                         </div>
                       </td>
                       <td width="85%" colspan="3"  style="padding-bottom:10px;padding-top:0px;text-align: left;">
                         <div>
                             <p>{{IPAddr}} </p>
                         </div>
                       </td>
                     </tr>
                   </table>
                  <hr>
                  <p style="font-size: 13px;" align="left">Please visit the <a href="">portal</a> for complete details.<br><br> Regrads,
                    <br> EpsilonAI</p>
                </td>
              </tr>
            </tbody>
          </table><br><br><br><br></td>
      </tr>
    </tbody>
  </table>
</body>



</html>
