<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script>
  // scriptVal = '{{scriptData}}'
  url = '{{companySrc}}'

  // function decodeHTML(str){
  //   var doc = new DOMParser().parseFromString(str, "text/html");
  //   return doc.documentElement.textContent;
  //   };

  // var scriptTxt = decodeHTML(scriptVal)
  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires +";path=/"
  window.location.href = url
  }
  uid ='{{uid}}'
  setCookie("uid", uid, 365);
  </script>
<body>
</body>
</html>
