'<div style="margin:0px 0px 10px; box-sizing:border-box;" >'+
  '<div style="text-align:center;clear: both; float:left; background-color:#f6f6f6 !important; padding:10px;margin:8px; box-sizing:border-box;font-size:14px!important; ">'+
  '<p style="line-height: 1.75; margin:0px; word-wrap: break-word; font-size:12px !important; color:rgba(0,0,0,0.5) !important; box-sizing:border-box;">Please provide your feedback below:</p>'+
  '<form>'+
    '<div class="stars">'+
      '<form id="stars">'+
        '<input class="star star-5" id="star-5" type="radio" name="star"/>'+
        '<label class="star star-5" for="star-5"></label>'+
        '<input class="star star-4" id="star-4" type="radio" name="star"/>'+
        '<label class="star star-4" for="star-4"></label>'+
        '<input class="star star-3" id="star-3" type="radio" name="star"/>'+
        '<label class="star star-3" for="star-3"></label>'+
        '<input class="star star-2" id="star-2" type="radio" name="star"/>'+
        '<label class="star star-2" for="star-2"></label>'+
        '<input class="star star-1" id="star-1" type="radio" name="star"/>'+
        '<label class="star star-1" for="star-1"></label>'+
      '</form>'+
    '</div>'+
    '<input type="text" id="emailId" placeholder="Email (Optional)"  style="width:100%; padding:5px;border:none; margin-bottom:10px;">'+
     '<textarea id="feedbackText" style="width:100%;outline:none;padding:5px; resize:none;border:none; box-shadow:.3px .3px #fff; box-sizing:border-box;" rows="3" placeholder="Feedback"></textarea>'+
     '<button id="submitCancel" type="button" style="margin-top:10px; padding:4px 8px; border-radius:8px; background-color:var(--fontAndIconColor) !important; color:var(--windowColor) !important; text-transform:none; font-size:11px !important; cursor:pointer;" >'+
       'Cancel'+
     '</button>'+
     '<button id="submitStars" type="button" style="margin-top:10px;margin-left:10%; padding:4px 8px; border-radius:8px; background-color:var(--windowColor) !important ; color:var(--fontAndIconColor) !important; text-transform:none; font-size:11px !important; cursor:pointer;" >'+
       'Submit'+
     '</button>'+
    '</form>'+
  '</div> '+
'</div>'
