<div class="modal-body">
  <h2 style="margin:10px;" class="modal-title">Department</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="form.dept_name" style="background:#F3F6FB;padding:25px !important;font-size:20px;border-radius:10px !important;border:none !important;">
        </div>

        <br>
        <button type="button"  class="btn btn-primary pull-right cutebuttonplain" style="background:rgb(13, 45, 88);color:white;" ng-click="save()">Save</button>
      </div>
    </div>
  </div>

</div>
