<style media="screen">
  .navigationBtn , .navigationBtn:hover{
    padding: 10px;
    border:none !important;
    border-radius:10px !important;
  }

  .contactList input ,.contactList button , .contactList .btn, .contactList .btn-primary{
   border:none !important;
 }
 .contactList input, .contactList .form-control{
   padding: 20px;
   border-radius: 23px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
 }

 .fixedNavTabs .nav-tabs {
   width: 100% !important;
 }

 .menuItems {
   padding: 20px;
   font-size: 16px;
   cursor: pointer;
   border-right: solid 4px #F2F3F7;
   padding-bottom: 15px;
   padding-top: 15px;
 }

 .menuItems:hover {
   background: #fbfbfb;
   border-right: solid 4px red !important;
 }

 .activeMenu {
   border-right: solid 4px red !important;
   background: #fbfbfb !important;
 }

 .square-box {
   padding-top: 15px;
   position: relative;
   width: 100%;
   overflow: hidden;
   background: #e3e3e3;
   height: 15em;
 }

 .box {
   position: relative;
   width: 100%;
   overflow: hidden;
   background: #e3e3e3;
   height: 15em;
 }

 .box h3 {
   font-size: 50px;
   font-weight: bold;
   margin: 0px 0px 0px;
   margin-left: 10px;
   white-space: nowrap;
   padding: 10px;
   color: #fff;
 }

 .box .header {
   text-align: center;
   padding: 3px 0px;
   color: white;
   display: block;
   background: #e3e3e3 none repeat scroll 0% 0%;
 }

 .square-box::after {
   content: "";
   display: block;
   padding-top: 30%;
 }

 .square-box h3 {
   font-size: 50px;
   font-weight: bold;
   margin: 0px 0px 0px;
   margin-left: 10px;
   white-space: nowrap;
   padding: 10px;
   color: #000000;
 }

 .square-box .header {
   text-align: center;
   padding: 3px 0px;
   color: white;
   display: block;
   background: #e3e3e3 none repeat scroll 0% 0%;
 }

 /* .bottom {
   position: absolute;
   bottom: 0px;
 } */

 .caret1:before {
   content: "";
   position: absolute;
   width: 0;
   height: 0;
   left: 110px;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-bottom: 30px solid #8FC564;
 }

 .caret2:before {
   content: "";
   position: absolute;
   width: 0;
   height: 0;
   left: 110px;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-top: 30px solid #E3524F;
 }

 .caret3:before {
   content: "";
   position: absolute;
   width: 0;
   height: 0;
   left: 110px;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-top: 30px solid #8FC564;
 }

 .carettext {
   font-size: 50px;
   font-weight: bold;
   margin: 0px 0px 0px;
   color: rgb(141, 195, 110);
   position: absolute;
   bottom: 40px;
   left: 3em;
 }

 .subtext {
   font-size: 30px;

 }

</style>

<div class="container-fluid" style="padding:0px;">
  <div class="col-md-2" style="margin:0px;margin-bottom:15px;background:#F2F3F7;height:100vh;overflow:auto;">



    <div class="row" style="margin-top:20px;">
      <div class="col-md-12">
        <img onclick="window.history.back();" src="/static/images/back-arrow-icon-png-6.png " style="width: 35px;" alt="">
      </div>
    </div>

    <div class="row" style="margin-top:20px;">
      <div class="col-md-12 text-center">
        <img ng-src="{{appInfo.logo}}" class="img" alt="" width="100px">
      </div>
    </div>

    <div style="margin-top:30px;" class="row menuItems {{$state.is('businessManagement.KloudERP')? 'activeMenu' : ''}}" ng-click="$state.go('businessManagement.KloudERP')">
      <strong> Users </strong>
    </div>
    <div class="row menuItems {{$state.is('businessManagement.KloudERP.apps')? 'activeMenu' : ''}}" ng-click="$state.go('businessManagement.KloudERP.apps')">
      <strong> Apps </strong>
    </div>
    <div class="row menuItems {{$state.is('businessManagement.KloudERP.templates')? 'activeMenu' : ''}}" ng-click="$state.go('businessManagement.KloudERP.templates')">
      <strong> Templates </strong>
    </div>
    <div class="row menuItems {{$state.is('businessManagement.KloudERP.HSNandSACcodes')? 'activeMenu' : ''}}" ng-click="$state.go('businessManagement.KloudERP.HSNandSACcodes')">
      <strong> HSN / SAC Codes </strong>
    </div>
    <div class="row menuItems {{$state.is('businessManagement.KloudERP.holidays')? 'activeMenu' : ''}}" ng-click="$state.go('businessManagement.KloudERP.holidays')">
      <strong> Holidays </strong>
    </div>



  </div>
  <div class="col-md-10" style="height:100vh;overflow:auto;padding:15px;">

    <ui-view>

      <div class="container-fluid contactList"  style="background:#FAFAFA;min-height:100vh;">


        <div class="row" style="background:rgb(18, 46, 99);padding:15px;padding-top:20px;padding-bottom:20px;">
          <div class="col-md-2">

          </div>
          <div class="col-md-10">
            <div class="col-md-2 col-md-offset-2">
              <button type="button" class=" btn defaultBtn btn-block " name="button" ng-click="createDivision()">New</button>
            </div>
            <div class="col-md-4">
              <!-- <div class="input-group">
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Search" ng-model="searchForm.searchValue" ng-enter="getallCompanies()">
                <div class="input-group-btn">
                  <button class="btn btn-default" ng-click="getallContacts()" style="border-top-right-radius:23px !important;border-bottom-right-radius:23px !important;padding: 10px;padding-right:20px;">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div> -->
              <div class="input-group" >
                <input type="text" class="form-control websiteInput" ng-model="searchForm.searchValue" placeholder="Search" ng-enter="getallCompanies()" style="border-top-right-radius:0px !important;border-bottom-right-radius:0px !important;margin-top:0px;height:54px;" >
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit" ng-click="getallCompanies()"  style="padding:6px 20px;height:54px;border:0px;border-top-right-radius: 25px !important;    border-bottom-right-radius: 25px !important;outline:none;background-color:#F2F3F7;">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>


            </div>
            <div class="col-md-2">
              <button type="button" class="btn defaultBtn btn-block " name="button" ng-click="prev()">Prev</button>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn defaultBtn btn-block " name="button" ng-click="next()">Next</button>

            </div>
          </div>
        </div>

        <div class="row" style="background:rgb(18, 46, 99);color:white;padding-bottom:20px;padding:30px;">
          <div class="col-md-1 col-md-offset-1"></div>
          <div class="col-md-4">Name</div>
          <div class="col-md-1">No. of Users</div>
          <div class="col-md-2">Last used</div>
          <div class="col-md-1">No. of Apps</div>
          <div class="col-md-2 text-right">Activation Status</div>
        </div>

        <div class="row" >

          <div ng-click="$state.go('businessManagement.KloudERP.delails' , {id: data.pk })" class="col-md-12" style="border-top:solid 2px #eee;padding:20px;padding-top:30px;padding-bottom:30px;" ng-repeat="data in divisions track by $index" ng-click="viewDivision(data)">
            <div class="container-fluid" >
              <div class="col-md-1 col-md-offset-1" style="padding:0px;">
                <img style="width:80px;" ng-src="{{data.logo}}"> {{data.pk}}
              </div>
              <div class="col-md-4" style="position:relative;display:block;">
                <div class="row" style="padding-left:10px;">
                  <span style="font-size:20px">{{data.name}}</span> <br>
                  <span style="font-size:15px;" class="fa fa-globe"> <a href="{{data.website}}" target="_blank">{{data.website}}</a> </span><br>
                </div>
              </div>
              <div class="col-md-1">24</div>
              <div class="col-md-2">1 min ago</div>
              <div class="col-md-1">{{data.installationsCount}}</div>
              <div class="col-md-2 text-right">
                Active <br>
                <span class="text-success">Expires on 24th Dec 2020</span>
                <br>
              </div>
            </div>

        </div>
      </div>



    </ui-view>

  </div>
</div>
