<div class="container-fluid">
  <div class="mobile-header text-center" style="border:none !important">
    <h4><b>Create Course Activity</b></h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" ng-model="form.title" name="" value="">
      </div>
      <div class="form-group">
        <label for="">Description</label>
        <textarea name="name" rows="8" cols="80" class="form-control" ng-model="form.description"></textarea>
      </div>
    </div>
    <div class="row">
      <button type="button" class="createTestBtn pull-right" name="button" ng-click="save()" >Save</button>
    </div>
  </div>
</div>
