<div class="container-fluid" style="background-color:#fafafa;height:100%">

  <div class="row" style="margin:30px 30px;">
    <div class="col-md-2">
      <img onclick="window.history.back();" src="/static/images/back-arrow-icon-png-6.png " style="width: 35px;" />

    </div>
    <div class="col-md-4 text-left">
      <span ng-if="!form.pk" style="font-size: 180%;padding-left:30px; "><b>Create Book</b></span>
      <span style="font-size: 180%; " ng-if="form.pk"><b>Edit Book</b></span>

    </div>

  </div>
  <div class="col-md-8 col-md-offset-2">

    <div class="col-md-12">


      <div class="form-group">
        <label>Title</label>
        <input ng-model="form.title" type="text" class="form-control bookInput">
      </div>
      <div class="form-group">
        <label>Url</label>
        <input ng-model="form.shortUrl" type="text" class="form-control bookInput">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea ng-model="form.description" name="name" class="form-control bookInput" class="textarea" rows="8" cols="80" style="resize:none;"></textarea>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label>Display Pic</label>
            <div class="" style="background:white;color:black;border-radius: 15px;padding: 10px;border: 1px solid black;width:110px;height:43px;">

              Choose Dp

              <input type="file" file-model="form.dp" class="file_upload" />
            </div>

          </div>
          <div class="col-md-2">
            <img src="" id="bookdp" style="height: 200px;margin-top:30px;">
          </div>

        </div>
      </div>
      <div class="form-group">
        <label>Subject</label>
        <input ng-model="form.subject" type="text" class="form-control bookInput">
      </div>
      <!-- <div class="form-group">
        <label>Topic</label>
        <input ng-model="form.topic" type="text" class="form-control bookInput">
      </div> -->
      <div class="form-group">
        <label>Author</label>
        <input ng-model="form.author" type="text" class="form-control bookInput">
      </div>

      <div class="col-md-12" style="padding:0px;">
        <button type="button" class="btn1 btn-success pull-right" ng-click="save()">
          Save
        </button>
        <button ng-if="form.pk" type="button" class="btn-danger pull-left" ng-click="delInstance(form)" style="color:
white;
padding: 12px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 12px;
margin-bottom: 10px;background-color:#d9534f">
          Delete
        </button>

      </div>
    </div>
  </div>


</div>
