<style media="screen">
  .createTestBtn {
    border: 1px solid #3786D1 !important;
    border-radius: 10px !important;
    padding: 12px;
    font-size: 16px;
    background-color: #3786D1;
    font-weight:700;
    color:      white !important;
  }
</style>

<div class="container-fluid">
  <div class="row">
      <div class="col-md-2" style="margin: 0px;margin-bottom: 15px;background:#F2F3F7;height: 100%;overflow: auto;position: fixed;
z-index: 1;">
        <div class="row" style="margin:30px -15px;">
          <div class="col-md-2">
            <img onclick="window.history.back();" src="/static/images/back-arrow-icon-png-6.png " style="width: 25px;" alt="">
          </div>
          <div class="col-md-8">
            <h3 style="margin:0px;"><b>HC Verma</b></h3>
            <p>Physics</p>
          </div>
          <div class="col-md-1">
            <img src="/static/images/edit.svg" alt="" style="width: 25px;" ng-click="$state.go('businessManagement.editBook',{id:1})">
          </div>
        </div>
        <div class="row" style="margin:0px;">
          <h4><b>Chapters</b></h4>
        </div>
        <div class="row" style="background-color:white;padding:5px 15px;margin-bottom:5px;" ng-click="show=true" ng-init="show=false">
          <h4><b>Introduction to physics</b></h4>
        </div>
        <div class="row" ng-if="show" style="margin:0px;margin-left:30px;">
          <ul class="list-unstyled">
            <li style="padding-bottom:10px;"><b>Unit of Measurements</b></li>
            <li>Mathematics for scientists</li>
            <li>n-dimensional space theory</li>
          </ul>
        </div>
        <div class="row" style="background-color:white;padding:5px 15px;margin-bottom:5px;">
          <h4><b>Introduction to physics</b></h4>
        </div>
        <div class="row" ng-if="showNew">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter the Chapter name" name="" value="" style="border: none;
padding: 5px 15px;
height: 45px;">
          </div>
        </div>
        <div class="row">
          <button type="button" class="createTestBtn btn-block" name="button" style="border-radius:0px !important"><img src="/static/images/icons8-plus-48.png" style="height:18px;padding-right:20px;" alt="" ng-click="showNew=true" ng-init="showNew=false">Add Chapter</button>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-2">
        <ui-view>  </ui-view>
      </div>

  </div>
</div>
