<style media="screen">

</style>
<div class="container-fluid"style="padding-bottom:15px;">
  <h3 class="text-center">Add Quiz</h3>
  <hr>
  <div class="form-group">
    <label>Paper </label>
    <input type="text" class="form-control bookInput" ng-model="form.paper" uib-typeahead="paper as paper.name for paper in paperSearch($viewValue)" placeholder="Search for a Paper and Select">
  </div>
  <div class="form-group">
    <label>Comment </label>
    <textarea type="text" class="form-control bookInput"  rows="5" ng-model="form.txt" placeholder="Add a Comment" style="resize:none;"></textarea>
  </div>
  <div class="form-group" >
    <label>Time Limit </label>
    <input id="noinput" class="form-control bookInput" type="number"  ng-model="form.paper.timelimit" >
  </div>
  <div >
    <button type="button" class="btn1 btn-primary pull-right" ng-click="saveQuiz()">Save</button>
  </div>
</div>
