<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-block" name="button" ng-click="createQuiz()" style="background-color:#337AB7;padding:12px;color:white;border-radius:10px !important">Add Quiz</button>

      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-block" name="button" ng-click="homework()" style="background-color:#231654;padding:12px;color:white;border-radius:10px !important">Add Homework</button>

      </div>

      <div class="col-md-3">
        <div class="form-group">
          <span class="searchIcon"><i class="fa fa-search text-right"></i></span>
          <input type="text" name="" placeholder="Search...." value="" class="form-control searchInput">
        </div>
      </div>
    </div>

    <div class="row" style="margin:0px;margin-top:30px;border:1px solid black">
      <div class="">
        <textarea name="name" class="form-control" rows="8" cols="80" placeholder="Write your post here....." style="resize:none;border:none;border-bottom:1px solid black"></textarea>
      </div>
      <div class="pull-right" style="padding:15px 20px;">
        <div class="" style="background:white;color:black;border-radius: 15px;padding: 10px;border: 1px solid #337AB7;width:130px;height:43px;display:flex">

          <img src="/static/images/icons8-attach-52.png" alt="" style="height:20px;">

          <input type="file" file-model="studyMaterialForm.attachment" class="file_upload" onchange="angular.element(this).scope().fileupload(this.files)" multiple />Attachments
        </div>
      </div>
    </div>
    <div class="row" style="margin:20px -15px;">
      <div class="col-md-2 pull-right">
        <button type="button" class="btn1 btn-block" name="button"> <i class="fa fa-file" aria-hidden="true" style="padding-right:10px;"></i>Save</button>
      </div>
    </div>

    <div class="row" style="margin:0px;">
      <div class=" academy_panel" style="">

        <p>Understand what is Robotic Process Automation (RPA) and why RPA is a massive career &amp; earning the opportunity. We will also be discussing the challenges &amp; risks when implementing RPA. See an RPA demo.

          We will discuss various RPA tools and explain the merit of each of them. After this course, you will be able to envision a basic RPA implementation plan </p>
          <hr style="color:#F7F7F7;">

          <button class="collapsiblecss accordion " style="padding-top:20px;padding-bottom: 20px">
            <div class="row">
              <div class="col-lg-1 col-xs-2">
                <!-- <h4 style="font-weight:600;"> <span style="color:#9BC9BA;padding-right:20px;">video</span>
                  <h4> -->

                    <i class="fa fa-play-circle" style="font-size:36px;color:red"></i>
                    <!-- {% if i.typ == 'video' %}
                      <i class="fa fa-play-circle" style="font-size:36px;color:red"></i>
                      {% endif %}
                      {% if i.typ == 'file' or i.typ == 'Notes' %}
                      <i class="fa fa-file-text" style="font-size:28px;color:#7fb7c2"></i>
                      {% endif %}
                      {% if i.typ == 'Homework' %}
                      <i class="fa fa-book" style="font-size:28px;color:#032757"></i> -->



                    </div>
                    <div class="col-lg-11 col-xs-10">

                      <h4 style="font-weight:600;margin-top:0px;margin-bottom:0px">RPA how it was ?</h4>


                      <span style="font-size:12px;color:grey;">video</span>







                    </div>
                    <!-- <div class="col-lg-1 col-xs-1">
                      <h4 style="font-weight:600;"><span class="pull-right" style="color:grey;font-size:10px;padding-top:5px;">02:00</span>
                        <h4>
                        </div> -->
                      </div>
                    </button>
                    <div class="panel" style="display: initial; max-height: 16px;">


                      <p>About RPA &amp; Basics &amp; What To Learn All in One Video...That Was GreateFul...Get Enroll ANd Watch Video...</p>

                    </div>
                    <hr style="color:#F7F7F7;margin:0px;">

                    <button class="collapsiblecss accordion " style="padding-top:20px;padding-bottom: 20px">
                      <div class="row">
                        <div class="col-lg-1 col-xs-2">
                          <!-- <h4 style="font-weight:600;"> <span style="color:#9BC9BA;padding-right:20px;">file</span>
                            <h4> -->


                              <i class="fa fa-file-text" style="font-size:28px;color:#7fb7c2"></i>



                            </div>
                            <div class="col-lg-11 col-xs-10">

                              <h4 style="font-weight:600;margin-top:0px;margin-bottom:0px">Uipath Full Tutorial</h4>



                              <span style="font-size:12px;color:grey;">notes</span>








                            </div>

                          </div>
                        </button>
                        <div class="panel" style="display: initial; max-height: 16px;">


                          <p>Easily LEarn Full Tutorail with help of PDF</p>

                        </div>
                        <hr style="color:#F7F7F7;margin:0px;">

                        <button class="collapsiblecss accordion " style="padding-top:20px;padding-bottom: 20px">
                          <div class="row">
                            <div class="col-lg-1 col-xs-2">
                              <!-- <h4 style="font-weight:600;"> <span style="color:#9BC9BA;padding-right:20px;">Notes</span>
                                <h4> -->


                                  <i class="fa fa-file-text" style="font-size:28px;color:#7fb7c2"></i>



                                </div>
                                <div class="col-lg-11 col-xs-10">

                                  <h4 style="font-weight:600;margin-top:0px;margin-bottom:0px">Robotic Process Automation</h4>



                                  <span style="font-size:12px;color:grey;">notes</span>




                                </div>

                              </div>
                            </button>
                            <div class="panel" style="max-height: 16px;">


                              <p>Robotic Process Automation Foundation (Level 1) Robotic Process Automation Foundation (Level 2) Robotic Process</p>

                            </div>
                            <hr style="color:#F7F7F7;margin:0px;">





                          </div>
                        </div>


                      </div>

</div>
