<style media="screen">
  .menuItems {
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    border-right: solid 4px #F2F3F7;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .menuItems:hover {
    background: #fbfbfb;
    border-right: solid 4px red !important;
  }

  .activeMenu {
    border-right: solid 4px red !important;
    background: #fbfbfb !important;
  }
  .createTestBtn {
    border: 1px solid #3786D1 !important;
    border-radius: 10px !important;
    padding: 12px;
    font-size: 16px;
    background-color: #3786D1;
    font-weight:700;
    color:      white !important;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" style="margin:0px;margin-bottom:15px;background:#F2F3F7;height:100%;overflow:auto;position:fixed;z-index:1">
      <div class="">
        <div >
          <h2> <img onclick="window.history.back();" src="/static/images/back-arrow-icon-png-6.png " style="width: 35px;margin-right:25px;" alt=""><b> {{paper.name}}</b></h2>
        </div>
        <br><br><br><br>
        <h4><b>Total Marks:{{paper.marks}}</b></h4>
        <h4 style="color:#ccc"><b>Total Limit:{{paper.timelimit}}:00 min</b></h4>
        <br><br><br><br>
        <div class="row menuItems {{$state.is('businessManagement.viewPaper.questions')? 'activeMenu' : ''}}" ng-click="$state.go('businessManagement.viewPaper.questions')">
          <strong> Questions </strong>
        </div>
        <div  class="row menuItems {{$state.is('businessManagement.viewPaper.submissions')? 'activeMenu' : ''}}" ng-click="$state.go('businessManagement.viewPaper.submissions')">
          <strong> Submissions </strong>
        </div>
        <div class="row" style="margin:0px;position: absolute;width: 90%;bottom: 10px;">
          <button type="button" class="createTestBtn btn-block" name="button"style="background-color:transparent;color:black !important" >Preview Test </button>
          <br>
          <button type="button" class="createTestBtn btn-block" name="button" ng-click="createStudent(paper)" style="background-color:#231654 !important;border:1px solid #231654 !important; "> Send Link To Student</button>
        </div>

      </div>
    </div>

    <div class="col-md-10 col-md-offset-2" style="padding:0px;">
      <ui-view> </ui-view>
    </div>
  </div>
</div>
