
<div class="container-fluid">
  <div class="row" style="margin-top:25px ">
    <div class="col-md-3 pull-right">
      <div class="form-group">
        <span class="searchIcon"><i class="fa fa-search text-right"></i></span>
        <input type="text" name="" placeholder="Search...." value="" class="form-control searchInput">
      </div>
    </div>
  </div>
  <div class="row" style="margin:25px 30px;">
    <div class="col-md-3 ">
      <div class="addBook" ng-click="$state.go('businessManagement.LMS.newBook')">
        <div class="newBook">
        </div>
        <div class="row text-center" style="padding:100px 0px;color:white;">

          <h4>Create New Book</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3 ">
      <div class="bookCard" ng-click="$state.go('businessManagement.viewBook',{bookid:1})">
        <div class="bookImg">
        </div>
        <div class="row text-left" style="margin:0px;padding:20px;color:white;">

          <h4>New Book</h4>
          <p>By:</p>
        </div>
      </div>
    </div>
  </div>

</div>
