<style media="screen">
  .newOption img{
    width:100% !important;height:400px !important;
  }
</style>

<div class="container-fluid" style="padding:30px 15px;background-color:#fafafa;height:100%;">
  <hr>
  <div class="row" style="margin:0px 30px;">
    <h4><b>Instructions:</b></h4>
  </div>
  <div class="row" style="margin: 15px 5px;">

    <div class="row" ng-repeat="k in data track by $index " style="margin:0px 10px;margin-bottom:30px;">
      <div class="col-md-1" style="width:2%">
        <h4 style="margin:0px;">
            {{$index+1}}.
        </h4>
      </div>
      <div class="col-md-11">
        <p  class="newOption"ng-if="k.qtype == 'upload'" ng-bind-html="k.ques">{{k.ques}}</p>
        <span  ng-bind-html="k.ques" ng-if="k.qtype == 'mcc' || k.qtype == 'subjective'"  ng-if="!k.isLatex" style="font-size:18px"></span>
        <span mathjax-bind="k.ques" ng-if="k.isLatex" style="font-size:18px"> </span>
        <ol type="A" ng-if="k.qtype == 'mcc'" style="margin-left:10px;">
          <li ng-repeat="l in k.options" style="font-size:18px">
            <div class="checkbox">
              <input type="checkbox" value="" ng-model="l.is_Selected" style="margin-left: -50px;">
              <span ng-bind-html="l.rtxt" ng-if="!k.isLatex" style="font-size:18px"></span>
              <span mathjax-bind="l.rtxt" ng-if="k.isLatex"> </span>

            </div>
            </li>

        </ol>

      </div>
    </div>
  </div>
  <div class="row" style="margin:0px 30px;">

    <div class="col-md-1 pull-right">
      <button type="button" class="createTestBtn btn-block " name="button" ng-click="addQuestion('paper',null)" style="position: fixed;
right: 20px;bottom: 30px;width: inherit;">Add Question</button>

    </div>
  </div>
</div>
