<style media="screen">
  .createTestBtn {
    border: 1px solid #3786D1 !important;
    border-radius: 10px !important;
    padding: 12px;
    font-size: 16px;
    background-color: #3786D1;
    font-weight:700;
    color:      white !important;
  }
  .newOption img {
    width:100% !important;height:400px; !important
  }
</style>

<div class="container-fluid">
  <div class="row">
      <div class="col-md-2" style="margin: 0px;margin-bottom: 15px;background:#F2F3F7;height: 100%;overflow: auto;position: fixed;
z-index: 1;">
        <div class="row" style="margin:30px -15px;">
          <div class="col-md-2">
            <img onclick="window.history.back();" src="/static/images/back-arrow-icon-png-6.png " style="width: 25px;" alt="">
          </div>
          <div class="col-md-8">
            <h3 style="margin:0px;"><b>{{data.title}}</b></h3>
            <p>{{data.author}} </p>
          </div>
          <div class="col-md-1">
            <img src="/static/images/edit.svg" alt="" style="width: 25px;" ng-click="$state.go('businessManagement.newBook',{id:$state.params.bookid})">
          </div>
        </div>
        <div class="row" style="margin:10px 0px;">
          <h4><b>Chapters</b></h4>
        </div>
        <div class="row"   ng-repeat="k in chapters track by $index" ng-click="mainIndex = $index">
          <div class="row" style="background-color:white;padding:5px 15px;margin:0px;margin-bottom:5px;" ng-click="k.show= !k.show" ng-init="k.show=false">
            <h4><b>{{k.title}}</b></h4>

          </div>
          <div class="row" ng-if="k.show" style="margin:0px;margin-left:30px;padding:10px;">
            <ul class="list-unstyled">
              <li  ng-repeat="l in k.children track by l.pk "
              ng-click="getQuestions(l.pk);getSection(l.pk);addQuestion('section',l.pk)" style="padding-bottom:10px;{{index==l.pk?'font-weight:700':'font-weight:normal'}};font-size:16px;">{{l.title}} </li>

              <li ng-if="showInput">
                <div class="form-group">
                  <input type="text" class="form-control" style="width:90%;border:none;" ng-model="sectionform.title" ng-enter="createSection(k.pk,$index)" name="" value="">
                </div>
              </li>
              <li style="color:#3786D1;" ng-click="showInput=true" ng-init="showInput=false">Add New Section <i class="fa fa-plus"></i></li>
            </ul>
          </div>
        </div>

        <div class="row" ng-if="showNew">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="form.title" ng-enter="createChapter()" placeholder="Enter the Chapter name" name="" value="" style="border: none;
padding: 5px 15px;height: 45px;">
          </div>
        </div>
        <div class="row">
          <button type="button" class="createTestBtn btn-block" name="button" style="border-radius:0px !important" ng-click="showNew=true"><img src="/static/images/icons8-plus-48.png" style="height:18px;padding-right:20px;" alt=""  ng-init="showNew=false">Add Chapter</button>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-2">
        <div class="row text-center" style="margin:20px 0px;">

          <hr>
          <h3><b>{{section.title}}</b></h3>
          <hr>
        </div>
        <div class="row" style="margin: 15px 5px;">

          <div class="row" ng-repeat="k in questions track by $index " style="margin:0px 10px;margin-bottom:30px;">
            <div class="col-md-1" style="width:2%">
              <h4 style="margin:0px;">
                  {{$index+1}}.
              </h4>
            </div>
            <div class="col-md-11">
              <p class="newOption" ng-bind-html="k.ques"  ng-if="!k.isLatex" style="font-size:18px"></p>
              <p mathjax-bind="k.ques"  ng-if="k.isLatex" style="font-size:18px"></p>

              <ol type="A" ng-if="k.qtype == 'mcc'">
                <li ng-repeat="l in k.options" style="font-size:18px"  ng-if="!k.isLatex">
                  <p ng-bind-html="l.rtxt" style="display:inline-flex;padding-right:10px;"></p>  <span class="{{l.answer?'fa fa-check':''}}" style="{{l.answer?'color:green':''}}"></span>
                  </li>
                <li ng-repeat="l in k.options" style="font-size:18px"  ng-if="k.isLatex">
                  <span mathjax-bind="l.rtxt"></span>
                  <span class="{{l.answer?'fa fa-check':''}}" style="{{l.answer?'color:green':''}}"></span>
                  </li>

              </ol>
              <div class="" ng-repeat="l in k.options"  ng-if="k.qtype == 'mcq'|| k.qtype == 'upload'">
                <p ng-bind-html="l.rtxt" ng-if="!k.isLatex"></p>
                <p  mathjax-bind="l.rtxt" ng-if="k.isLatex"></p>

              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
