<style media="screen">
  iframe {
    height: 140px !important;
  }
</style>

<div class="container-fluid" style="background-color:#fafafa;height:100%">
  <div class="">
    <div class="row" style="padding-top: 25px;padding-bottom: 10px;background-color:#f1f1f1;position: fixed;z-index:1;width:80%">
      <div class="col-md-1">
        <img ng-click="close()" src="/static/images/back-arrow-icon-png-6.png " style="width: 35px;margin-right:25px;" alt="">
      </div>
      <div class="col-md-4 text-center">
        <h3 style="margin:0px;" ng-if="form=='multiple'"><b>Multiple Choice Question Creation</b></h3>
        <h3 style="margin:0px;" ng-if="form=='subjective'"><b>Subjective Question Creation</b></h3>
        <h3 style="margin:0px;" ng-if="form=='file'"><b>File Upload Question Creation</b></h3>
      </div>
      <div class="col-md-3">
        <span><b>Rich text editor</b>
          <switch ng-model="queform.isLatex" class="green" style="margin-bottom: -12px;margin-left: 20px;margin-right:20px"></switch> <b>Latex Editor</b>

        </span>
        </div>
        <div class="col-md-4">
          <div class="form-group"  ng-if="form=='multiple' || form =='subjective' ||  form =='file'" style="display:flex">
            <label for="" style="padding-right:10px;">Score</label>
            <input type="text" class="form-control questionInp" ng-model="queform.marks" name="" value="">
          </div>
        </div>
    </div>
    <div class="row" style="margin:0px;padding:30px;padding-top:80px;">
      <div class="row" style="margin-top:30px;">
        <div class="{{queform.isLatex?'col-md-6':'col-md-12'}}">
          <div class="form-group" style="" ng-if="form =='multiple' ||form =='subjective' ||  form =='file'">
            <label for="">Problem Description </label>
            <textarea id="textArea" ui-tinymce="tinymceOptions" ng-if="!queform.isLatex" class="cleanInput form-control" ng-model="queform.ques" ></textarea>
            <textarea  ng-if="queform.isLatex" class="cleanInput form-control" ng-model="queform.ques" ></textarea>
          </div>
          <!-- <div class="form-group" style="" ng-if="form =='multiple'">
            <label for="">Problem Description</label>
            <textarea ui-tinymce="tinymceOptions" ng-if="!queform.isLatex" class="cleanInput form-control" ng-model="queform.ques.question" ></textarea>
            <textarea  ng-if="queform.isLatex" class="cleanInput form-control" ng-model="queform.ques.question" ></textarea>
          </div> -->

        </div>
        <div class="col-md-6" ng-if="queform.isLatex">
          <br>
          <span mathjax-bind="queform.ques"></span>

        </div>
      </div>


      <div style="" ng-if="form=='multiple' && queform.pk" >
        <label for="">{{form=='multiple'?'CHOICES':'Answers'}}</label>
        <ol type="A">
          <li style="font-weight:700;padding:20px;margin:10px 0px;" ng-repeat="k in data track by $index" >
            <div class="row">
              <div class="col-md-1" style="margin-top:-15px;">
                <input type="checkbox" ng-model="k.answer" name="" value="">
              </div>
              <div class="col-md-11" style="margin-top:-15px;">
                <div class="{{queform.isLatex?'col-md-6':'col-md-11'}}">
                  <div class="form-group" style="" >
                    <textarea ui-tinymce="tinymceOptions" ng-if="!queform.isLatex"  class="cleanInput form-control" ng-model="k.rtxt" ></textarea>
                    <textarea ng-if="queform.isLatex" class="cleanInput form-control" ng-model="k.rtxt" ></textarea>
                  </div>

                </div>
                <div class="col-md-5" ng-if="queform.isLatex">
                  <br>
                  <span mathjax-bind="k.rtxt"></span>

                </div>
                <div class="col-md-1">
                  <span stylec="color:red" ng-click="delOption($index)"><i class="fa fa-trash"></i></span>
                </div>

              </div>
            </div>

          </li>
        </ol>
        <br>

        <p ng-click="addOption()" ng-init="show=false" style="color:#3786D1" ng-if="form=='multiple'"><b>add one more choice</b></p>

      </div>
      <br><br><br>


      <div class="row">

        <div class="col-md-2 pull-right">
          <button type="button" class="createTestBtn btn-block" name="button" ng-click="save()" >Save</button>

        </div>
      </div>


    </div>

  </div>


  <!--Ending of Multiple Choice UI starts -->



</div>
