<div class="container-fluid">
  <style media="screen">
    .file_upload {
      opacity: 0.0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      margin-top:0px;
    }
    
  </style>

  <div class="container-fluid">
    <div class="row" style="margin-top:20px;">
      <div class="col-md-1">
        <img onclick="window.history.back();" src="/static/images/back-arrow-icon-png-6.png " style="width: 35px;" />
      </div>
      <div class="col-md-8 text-center">
        <span style="font-size: 180%; "><b>Course Activity</b></span>

      </div>
      <div class="col-md-3">
        <div class="form-group">
          <span class="searchIcon"><i class="fa fa-search text-right"></i></span>
          <input type="text" name="" placeholder="Search...." value="" class="form-control searchInput">
        </div>
      </div>
    </div>

    <div class="row">
      <div style="border-right:solid 2px #eeeeee;padding-top:20px;height:100vh;" class="col-md-3">
        <div class="row">
          <div class="container-fluid">
            <i class="fa fa-book fa-4x"></i> <strong style="font-size:20px;" class="text-muted">{{course.title}}</strong>
          </div>
        </div>
        <hr>
        <br><br>
        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Created</strong>
          </div>
          <div class="col-md-8">
            10 Days
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Updated</strong>
          </div>
          <div class="col-md-8">
            11 Hrs
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Instructor</strong>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4">

                <img ng-src="{{course.instructor.profile.displayPicture}}" src="" onerror="this.src='/static/images/userIcon.png'" style="height:55px;width:55px;" class="img img-rounded">
              </div>
              <div class="col-md-8">
                {{course.instructor.username}}
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-4 text-right">
            <strong>Teaching Assistants</strong>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4">

                <img ng-src="{{course.instructor.profile.displayPicture}}" style="height:55px;width:55px;" class="img img-rounded">
              </div>
              <div class="col-md-8">
                {{course.instructor.username}}
              </div>
            </div>
          </div>
        </div>


        <br><br>
        <hr>
        <div class="row text-center">
          <label class="text-muted" style="font-size:20px;">Students <i class="fa fa-users fa-2x"></i></label>
          <div ng-if="course.enrollments.length == 0">
            <br><br><br> <span style="text-color:#eeeeee;">No student in this course</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="enrollment in course.enrollments">
            <span class="info-box-icon" style="background-color:white;">
              <div class="row">
                <img style="width: 50%;" class="img" ng-src="{{enrollment.user | getDP}}">
              </div>
              <div class="row {{$index | rainbow}}" style="background:white;height:40px; margin-bottom:10px;">
                <span style="color:black;font-size:12px;color:white; top:-25px;position:relative;">{{enrollment.user | getName}}</span>
              </div>
            </span>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-9" style="padding-right:0px;">
            <user-field url="/api/HR/userSearch/" user="enrollmentForm.user" label="Add student"></user-field>
          </div>
          <div class="col-md-3" style="padding-top:25px;">
            <button type="button" class="btn1 btn-primary" style="height:34px;" ng-click="addEnrollment()">
              Add <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="container-fluid">
            <h4 class="text-muted">Added Books</h4>
            <hr>
            <div class="col-md-3" style="padding-bottom:10px;">
              <button type="button" class="btn btn-primary" ng-click="addBook()">
                Add Book <i class="fa fa-plus fa-fw"></i>
              </button>
            </div>
            <div class="col-md-3 card" ng-repeat="b in bdata" style="width:100%;margin-bottom:10px;padding:5px;">
              {{b.book.title}}
            </div>
          </div>
        </div>
        <div class="row">

        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
            <div class="">

              <div class="btn-group col-md-4 pull-right">
                <div class="row">
                  <div class="col-md-6">
                    <button type="button" class="btn btn-block" name="button" ng-click="createQuiz()" style="background-color:#337AB7;padding:12px;color:white;border-radius:10px !important">Add Quiz</button>

                  </div>
                  <div class="col-md-6">
                    <button type="button" class="btn btn-block" name="button" ng-click="homework()" style="background-color:#231654;padding:12px;color:white;border-radius:10px !important">Add Homework</button>

                  </div>
                </div>
              </div>
            </div>

        </div>

        <div class="row" style="margin:0px;margin-top:30px;border:1px solid black">
          <div class="">
            <textarea name="name" class="form-control" rows="8" cols="80" placeholder="Write your post here....." style="resize:none;border:none;border-bottom:1px solid black"></textarea>
          </div>
          <div class="pull-right" style="padding:15px 20px;">
            <div class="" style="background:white;color:black;border-radius: 15px;padding: 10px;border: 1px solid #337AB7;width:130px;height:43px;display:flex">

              <img src="/static/images/icons8-attach-52.png" alt="" style="height:20px;">

              <input type="file"  class="file_upload" onchange="angular.element(this).scope().fileupload(this.files)" multiple/>Attachments
            </div>
          </div>
        </div>

        <div class="row">
          <div style="margin-left:0px" class="col-md-12">
            <div style="border:none;" class="card">
              <div  class="card-body">
                <div class="col-md-2" style="margin-top:20px;">
                  <img height="100px" width="100px" style="border-radius:50%;" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="">
                </div>
                <div style="margin-left:-30px;" class="col-md-10">
                  <blockquote class="blockquote mb-0">
                    <h3>Algebra notes in PDF {{name}}</h3>
                    <p> This pdf will help you understand the basics of mathematics.  {{description}}</p>
                    <footer class="blockquote-footer">
                      <div class="col-md-4">
                        <a href="#"> view file <img src="/static/images/fileSvg.svg" alt=""></a>
                        file :{{file}}
                      </div>
                      <div class="col-md-3">
                        created by:{{createdby}}
                      </div>
                      <div class="col-md-3">
                        Date:{{created}}
                      </div>
                    </footer>
                  </blockquote>
                </div>
              </div>
            </div>
            </div>
            </div>
        </div>
      </div>
    </div>
    <!-- explorer  section -->
    <!-- <div class="col-md-9" style="height:100vh;">
    <div  class="row">
      <div class="col-md-3">
        <button type="button" class="navbtn btn btn-success btn-block " name="button" ng-click="createQuiz()">Add Quiz</button>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="input-group" style="background:#ffffff;border-radius:10px;">
          <input type="text"  class="form-control blockquote mb-0" ng-model="search.query" placeholder="Search by course name" ng-enter="fetchData()" style="border:none !important;background:#ffffff;">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="fetchData()" style="border:none !important;background:#ffffff;">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12">
        <textarea id="w3review" placeholder="Add your post here....." name="w3review" rows="15" cols="120">

        </textarea>
      </div>
    </div>
    <div style="" class="row">
      <div class="col-md-2">
      </div>
      <div  style="margin-top:-30px;" class="col-md-10 text-right">
        <label class="myLabel">
          <input type="file" />
          <span><i class="fa fa-paperclip 2x">&nbsp;&nbsp;Attachment</i></span>
        </label>
        <hr>
      </div>

    </div>
    <div style="" class="row">
      <div class="col-md-2">
      </div>
      <div  style="margin-top:0px;" class="col-md-10 text-right">
        <button type="button" class="btn1 btn-success btn-lg" name="button"><i class="fa fa-floppy-o 2x">&nbsp;&nbsp;Save</i></button>
        <hr>
      </div>

    </div>
    <div class="row">

    </div>
    <div class="row">

      <div style="margin-left:0px" class="col-md-12">
        <div style="border:none;" class="card">
          <div  class="card-body">
            <div class="col-md-2" style="margin-top:20px;">
              <img height="100px" width="100px" style="border-radius:50%;" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="">
            </div>
            <div style="margin-left:-30px;" class="col-md-10">
              <blockquote class="blockquote mb-0">
                <h3>name : {{name}}</h3>
                <p> Description : {{description}}</p>
                <footer class="blockquote-footer">
                  <div class="col-md-4">
                    file :{{file}}
                  </div>
                  <div class="col-md-3">
                    created by:{{createdby}}
                  </div>
                  <div class="col-md-3">
                    Date:{{created}}
                  </div>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  </div>
