<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-block" name="button" ng-click="createQuiz()" style="background-color:#337AB7;padding:12px;color:white;border-radius:10px !important">Add Quiz</button>

      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-block" name="button" ng-click="homework()" style="background-color:#231654;padding:12px;color:white;border-radius:10px !important">Add Homework</button>

      </div>

      <div class="col-md-3">
        <div class="form-group">
          <span class="searchIcon"><i class="fa fa-search text-right"></i></span>
          <input type="text" name="" placeholder="Search...." value="" class="form-control searchInput">
        </div>
      </div>
    </div>

    <div class="row" style="margin:0px;margin-top:30px;border:1px solid black">
      <div class="">
        <textarea name="name" class="form-control" ng-model="form.txt" rows="8" cols="80" placeholder="Write your post here....." style="resize:none;border:none;border-bottom:1px solid black"></textarea>
      </div>
      <div class="pull-right" style="padding:15px 20px;">
        <div class="" style="background:white;color:black;border-radius: 15px;padding: 10px;border: 1px solid #337AB7;width:130px;height:43px;">
          <div class="row">
            <div class="col-md-2">
              <img src="/static/images/icons8-attach-52.png" alt="" style="height:20px;">

            </div>
            <div class="col-md-6">

                <input type="file" id="file" file-model="form.dp" style="position:absolute;margin-top: -3px;
left: -15px;" class="file_upload"  ng-click="openFile()" />Attachments


            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="row" style="margin:30px 0px;" >
      <div class="academy_panel" style=""  ng-if="activitydata.length>0" >

          <hr style="color:#F7F7F7;">

          <div class="row" style="margin:0px;" ng-repeat="k in activitydata track by $index">
            <button class="collapsiblecss accordion " style="padding-top:20px;padding-bottom: 20px">
              <div class="row" data-toggle="collapse" data-target="#{{$index}}">
                <div class="col-lg-1 col-xs-2">


                  <i class="fa fa-play-circle"  ng-if="k.typ=='video'"style="font-size:36px;color:red"></i>
                  <i class="fa fa-file-text" ng-if="k.typ=='file' || k.typ=='notes' " style="font-size:28px;color:#7fb7c2"></i>
                  <i class="fa fa-book" ng-if="k.typ=='homework' || k.typ=='quiz'" style="font-size:28px;color:#032757"></i>

                </div>
                <div class="col-lg-11 col-xs-10">

                  <h4 style="font-weight:600;margin-top:0px;margin-bottom:0px">{{k.title}}</h4>


                  <span style="font-size:12px;color:grey;" >{{k.typ}}</span>







                </div>

              </div>
            </button>
            <div class="collapse" id="{{$index}}" style="display: initial; max-height: 16px;">


              <p>{{k.description}}</p>

            </div>
            <hr style="color:#F7F7F7;margin:0px;">

          </div>

          </div>
      </div>


                      </div>

</div>
