<style media="screen">

</style>
<div class="container-fluid"style="padding-bottom:15px;">
  <h3 class="text-center">Add Quiz</h3>
  <hr>
  <div class="form-group">
    <label>Paper </label>
    <select class="form-control bookInput" name="" ng-model="form.paper" ng-options = "k.name for k in papers" placeholder="Select the paper">

    </select>

  </div>
  <div class="form-group">
    <label>Comment </label>
    <textarea type="text" class="form-control bookInput"  rows="5" ng-model="form.txt" placeholder="Add a Comment" style="resize:none;"></textarea>
  </div>
  <div class="form-group" >
    <label>Time Limit </label>
    <uib-timepicker ng-model="form.timelimit"  hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>

  </div>
  <div >
    <button type="button" class="btn1 btn-primary pull-right" ng-click="saveQuiz()">Save</button>
  </div>
</div>
