<style>
  .adv_input {
    border: none !important;
    background: #EAEAEA;
    border-radius: 10px;
    padding: 15px;
  }

  .adv_select {
    border: none !important;
    background: #EAEAEA;
    border-radius: 10px;
    /* padding: 15px; */
  }
</style>
<div class="col-md-offset-3 col-md-6" style="margin-top:30px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2> Create Advance </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>User</label>
          <!-- <input type="text" class="form-control adv_input" ng-model="form.user" uib-typeahead="user as user.username for user in userSearch($viewValue)" placeholder="Search For user"> -->
          <select class="form-control adv_select" ng-model="form.user"  ng-options="u.first_name+' '+u.last_name for u in allUsers">
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Reason</label>
          <textarea type="text" class="form-control adv_input" ng-model="form.reason" placeholder="Specify Reason for loan or advance" rows=6 style="resize:none;"> </textarea>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-6">
        <label>Date of Return</label>
        <div class="input-group">
          <input type="text" class="form-control adv_input" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.returnDate" is-open="status.opened" ng-init="form.returnDate=today" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="form-group">
          <label>Document</label>
          <input type="file" file-model="form.document">
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Amount</label>
          <input type="number" class="form-control adv_input" ng-model="form.amount" placeholder="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Return Method</label>
          <select type="number" class="form-control adv_select" ng-model="form.returnMethod">
            <option value="SALARY_ADVANCE">SALARY ADVANCE</option>
            <option value="PROJECT_ADVANCE">PROJECT ADVANCE</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary pull-right" ng-click="save()"
          style="background: #461482;color: white;border: none !important;border-radius: 64px !important;padding: 17px;padding-right: 17px;padding-left: 17px;right: 59px;font-size: 16px;  z-index: 10;  box-shadow: 0px 8px 18px rgba(157, 157, 157, 0.94) !important;  padding-right: 30px;padding-left: 30px;">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
