<style media="screen">
  .glass::before {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(97, 97, 97, 0.23);
    background-size: cover;
    content: ' ';
    opacity: 0.4;
  }

  .glass {
    background-color: white;
  }

  .glass.down {
    transform: translateY(100%) translateY(-7rem);
  }

  .glass.down::before {
    transform: translateY(-100%) translateY(7rem);
  }

  .glass.up,
  .glass.up::before {
    transform: translateY(0);
  }


  .navigationBtn,
  .navigationBtn:hover {
    padding: 10px;
    border: none !important;
    border-radius: 23px !important;
  }

  .contactList input,
  .contactList button,
  .contactList .btn,
  .contactList .btn-primary {
    border: none !important;
  }

  .contactList input,
  .contactList .form-control {
    padding: 20px;
    border-radius: 23px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .text-dull {
    color: #bbb;
  }

  .tableNew th {
    padding: 17px !important;
  }

  .tableNew {
    border-radius: 1em;
    overflow: hidden;
  }

  .contentTd {
    padding: 18px !important;
  }

  table,
  th,
  td {
    border-color: #f2f2f2 !important;
  }

  .deleteBtn:hover,
  .deleteBtn:focus {
    background: white !important;
    color: #E33B37 !important;
  }

  .editBtn:hover,
  .editBtn:focus {
    background: white !important;
    color: #006dfc !important;
  }

  .cleanInputDark {
    border: none !important;
    resize: none;
    background: #0E1C2C;
    color: white;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 pull-right" style="min-height:100vh;background:white;padding:15px;right:0px;border-top:6px solid {{settings.color}};">
      <div class="row" style="height:152px;background:url({{settings.headerImg}});background-size:contain;background-repeat:no-repeat;margin:0px;">

      </div>
      <div class="row">
        <div class="col-md-offset-10 col-md-1">
          <button type="button" class="btn btn-primary cutebutton btn-blue" style="background:rgb(14, 67, 136);color:white;" ng-click="save()">
            Save
          </button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-primary cutebutton btn-blue " style="background:rgb(219, 26, 0);color:white;" ng-click="close()">
            Cancel
          </button>
        </div>
      </div>
      <div class="row text-center">
        <h3 contenteditable ng-model="form.heading"></h3>
      </div>


      <div class="row" style="padding:50px;">
        <span style="font-size:15px;">On:</span> <span style="font-size:15px;">{{form.date | date}} </span> <br>
        <span ng-if="contract.pk" style="font-size:18px;">Quote #: <span ng-if="settings.type == 'V2'">SDPL/19-20/</span> {{contract.pk}} </span> <br> <br>
        <h5 style="font-weight:bold">{{contact.name}}</h5> <br>
        <span >
        {{contract.addrs}} <br>
        {{contract.city}} <br>
        {{contract.state}} , {{contract.pincode}} , {{contract.country}} <br></span>
        GSTIN:{{contact.tin? contract.tin : 'NA'}} <br> <br>
        <span style="font-weight:bold">Kind Attention:</span> <span style="font-size:18px;">{{contract.name}}</span> (Mobile # {{contract.mobile? contract.mobile : 'NA'}})
      </div>

      <div class="row" style="padding:30px;padding-top:10px;border-bottom:solid 5px {{settings.color}}">
        <table class="table table-hover tableNew"
          style="border-radius: 18px !important;box-shadow: 0px -12px 20px rgba(0, 0, 0, 0.1);border: none;padding: 20px;border-bottom-left-radius:0px !important;border-bottom-right-radius:0px !important;margin-bottom:0px;">
          <thead>
            <tr style="background:{{settings.color}};padding:10px;color:white;">
              <th>Item</th>
              <th>HSN <br>
                SAC Code</th>
              <th>Rate</th>
              <th>Qty</th>
              <th>Total</th>
              <th>GST</th>
              <th>Sub Total</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="k in contract.data" style="padding:10px;background:white;">
              <td class="contentTd">
                {{k.desc}} <button type="button" class="btn btn-danger deleteBtn" style="border:none !important;" ng-click="removeItem($index)">
                  Delete
                </button>
                <button type="button" class="btn btn-primary editBtn" style="border:none !important;" ng-click="editItem($index)">
                 Edit
               </button>
              </td>
              <td class="contentTd">
                {{k.taxCode}} <br>({{k.tax}} %)
              </td>
              <td class="contentTd"><strong>{{k.rate}}</strong></td>
              <td class="contentTd">{{k.quantity}}</td>
              <td class="contentTd">{{k.total}}</td>
              <td class="contentTd">{{k.totalTax}}</td>
              <td class="contentTd">{{k.subtotal}}</td>
              <!-- <td ng-click="editContact(k)"><i class="fa fa-pencil fa-lg"></i></td> -->
            </tr>

          </tbody>
        </table>

        <div class="row"
          style="margin:0px;background:white;border-radius: 18px !important;box-shadow: 0px 16px 23px rgba(0, 0, 0, 0.1) !important;border: none;border-top-left-radius:0px !important;border-top-right-radius:0px !important;margin-bottom:20px;border-top: solid 2px #eee;padding-top: 15px;background: #0E1C2C;">
          <div class="col-md-4" style="padding:0px !important;resize: none;">

            <textarea id="descEdit" ng-model="form.desc" name="name" rows="2" cols="80" class="form-control cleanInputDark" placeholder="Enter description...." uib-typeahead="p as p.name for p in inventorySearch($viewValue)"
              style="border-bottom-left-radius: 18px !important;"></textarea>

            <p ng-if="form.productMeta.pk" style="padding:15px;color:white;">
              {{form.productMeta.description}} <br>

              <strong>Code Type : </strong> {{form.productMeta.typ}} <br> <strong>Code : </strong> <span style="font-size:16px;">{{form.productMeta.code}}</span> <br>
              <strong>Tax Rate :</strong><span style="font-size:16px;">{{form.productMeta.taxRate}}</span></p>

          </div>
          <div class="col-md-2" style="padding-right:0px !important;padding-left:0px !important;width:21%;">
            <input ng-model="form.productMeta" uib-typeahead="meta as meta.description for meta in searchTaxCode($viewValue)" type="text" class="form-control cleanInputDark" placeholder="HSN/SAC Code">





          </div>
          <div class="col-md-2" style="padding-right:0px !important;padding-left:0px !important;">
            <input type="text" ng-model="form.rate" class="form-control cleanInputDark" placeholder="Rate" style="font-size:20px;">
          </div>
          <div class="col-md-2" style="padding-right:0px !important;padding-left:0px !important;">
            <input ng-model="form.qty" type="text" class="form-control cleanInputDark" placeholder="Quantity" style="font-size:20px;" ng-enter="addItem()">
          </div>
          <div class="col-md-1" style="padding-right:0px !important;padding-left:0px !important;">
            <button type="button" class="btn btn-primary" style="background:#1E334C;color:white;border: none !important;font-weight:bold;padding:15px;" ng-click="addItem()">
              Add
            </button>
          </div>

        </div>



        <div class="row" style="margin-top:40px;">
          <div class="col-md-4 col-md-offset-8 text-right">
            <div class="col-md-5 text-right" style="padding-top:10px;">
              Discount
            </div>
            <div class="col-md-7">
              <input ng-change="calculateTotal()" style="border-radius: 18px !important;box-shadow: -1px 4px 23px rgba(0, 0, 0, 0.1) !important;border: none;padding:20px;text-align: right; " type="text" class="form-control"
                ng-model="contract.discount">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-8 text-right">
            <div class="col-md-5 text-right" style="padding-top:25px;">
              Total
            </div>
            <div class="col-md-7">
              <h3>{{contract.grandTotal}} <small><i class="fa fa-inr"></i></small></h3>
            </div>
          </div>
        </div>


        <div class="container-fluid" style="margin-bottom:100px;">
          <h4 style="font-weight:bold">Amount Payable (in words) :</h4>
          <p>{{contract.inWords}}</p>

          <div class="row">
            <div class="col-md-6">
              <h4 style="font-weight:bold;margin-top:25px;">Terms and Conditions:
              </h4>
            </div>
            <div class="col-md-6 text-right" style="padding-top:20px;">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" style="background:white;color:#0E4388;border: none !important;border-radius: 18px !important;box-shadow: -1px 4px 23px rgba(0, 0, 0, 0.1) !important;" type="button"
                  data-toggle="dropdown">Select different template</button>
                <ul class="dropdown-menu">
                  <li ng-click="selectTemplate($index)" ng-repeat="tnc in tncList"><a href="" style="padding:10px;cursor:pointer;">{{tnc.heading}}</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row" ng-repeat="tnc in form.tncs" style="margin-top:15px;" ng-mouseenter="hovering = $index;" ng-mouseleave="hovering = null;">
            <div class="col-md-1">
              <img style="width:20px;cursor:pointer;" src="https://image.flaticon.com/icons/png/512/61/61848.png" alt="" ng-if="hovering == $index" ng-click="removeTnc($index)">
            </div>
            <div class="col-md-11">
              <p> <strong style="font-weight:bold;margin-right:20px;">{{$index +1}}</strong> . <span contenteditable ng-model="tnc.txt"></span> </p>
            </div>
          </div>

          <div class="row" style="margin-top:20px;">
            <div class="col-md-2" style="padding-left:87px;">
              <strong style="font-weight:bold;margin-right:20px;">{{form.tncs.length+1}}</strong>
            </div>
            <div class="col-md-10" style="padding: 0px;margin-left: -16px;">
              <input ng-model="form.tnctxt" ng-enter="addtnctxt(form.tnctxt)" type="text" class="form-control">
            </div>
          </div>

        </div>
        <!-- <div class="row" style="background:{{settings.color}};color:white;margin-left:-20px;margin-right:-25px;padding-bottom:40px;">
          <div class="row text-center" style="margin-top:20px;">
            <h3>{{settings.name}}</h3>
          </div>
          <div class="row text-center" style="margin-top:20px;">
            {{settings.address}}, {{settings.city}}, {{settings.state}} - {{settings.pincode}} , {{settings.country}}
          </div>
          <div class="row" style="margin-top:20px;">
            <div class="col-md-4 text-center">
              {{settings.email}}
            </div>
            <div class="col-md-4 text-center">
              {{settings.website}}
            </div>
            <div class="col-md-4 text-center">
              {{settings.mobile}}
            </div>
          </div>
        </div> -->
      </div>







    </div>


  </div>
</div>
