<style media="screen">
  .fixedNavTabs .nav-tabs {
    width: 100% !important;
  }

  .menuItems {
    padding: 20px;
    cursor: pointer;
    border-right: solid 4px #F2F3F7;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .menuItems:hover {
    background: #fbfbfb;
    border-right: solid 4px red !important;
  }

  .activeMenu {
    border-right: solid 4px red !important;
    background: #fbfbfb !important;
  }

  .square-box {
    padding-top: 15px;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #e3e3e3;
    height: 15em;
  }

  .box {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #e3e3e3;
    height: 15em;
  }

  .box h3 {
    font-size: 50px;
    font-weight: bold;
    margin: 0px 0px 0px;
    margin-left: 10px;
    white-space: nowrap;
    padding: 10px;
    color: #fff;
  }

  .box .header {
    text-align: center;
    padding: 3px 0px;
    color: white;
    display: block;
    background: #e3e3e3 none repeat scroll 0% 0%;
  }

  .square-box::after {
    content: "";
    display: block;
    padding-top: 30%;
  }

  .square-box h3 {
    font-size: 50px;
    font-weight: bold;
    margin: 0px 0px 0px;
    margin-left: 10px;
    white-space: nowrap;
    padding: 10px;
    color: #000000;
  }

  .square-box .header {
    text-align: center;
    padding: 3px 0px;
    color: white;
    display: block;
    background: #e3e3e3 none repeat scroll 0% 0%;
  }

  /* .bottom {
    position: absolute;
    bottom: 0px;
  } */

  .caret1:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 110px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #8FC564;
  }

  .caret2:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 110px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid #E3524F;
  }

  .caret3:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 110px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid #8FC564;
  }

  .carettext {
    font-size: 50px;
    font-weight: bold;
    margin: 0px 0px 0px;
    color: rgb(141, 195, 110);
    position: absolute;
    bottom: 40px;
    left: 3em;
  }

  .subtext {
    font-size: 30px;

  }
</style>


<div class="container-fluid" style="padding:0px;height:100vh;">

  <div class="col-md-2" style="margin:0px;margin-bottom:15px;background:#F2F3F7;height:100vh;position:absolute;">



    <div class="row" style="margin-top:20px;">
      <div class="col-md-12">
        <img onclick="window.history.back();" src="/static/images/back-arrow-icon-png-6.png " style="width: 35px;" alt="">
      </div>
    </div>

    <div class="row" style="margin-top:20px;">
      <div class="col-md-12 text-center">
        <img ng-src="{{appInfo.logo}}" class="img" alt="" width="100px">
      </div>
    </div>

    <div style="margin-top:30px;" class="row font16 menuItems {{$state.is('businessManagement.servicing')? 'activeMenu' : ''}}" ng-click="$state.go('businessManagement.servicing')">
      <strong> New / Un assigned Tickets </strong>
    </div>
    <div class="row font16 menuItems {{$state.is('businessManagement.servicing.assigned')? 'activeMenu' : ''}}" ng-click="$state.go('businessManagement.servicing.assigned')">
      <strong> Assigned </strong>
    </div>
    <div class="row font16 menuItems {{$state.is('businessManagement.servicing.ongoing')? 'activeMenu' : ''}}" ng-click="$state.go('businessManagement.servicing.ongoing')">
      <strong> Ongoing </strong>
    </div>
    <div class="row font16 menuItems {{$state.is('businessManagement.servicing.completed')? 'activeMenu' : ''}}" ng-click="$state.go('businessManagement.servicing.completed')">
      <strong>Completed</strong>
    </div>
    <div class="row font16 menuItems {{$state.is('businessManagement.servicing.postponed')? 'activeMenu' : ''}}" ng-click="$state.go('businessManagement.servicing.postponed')">
      <strong> Postponed </strong>
    </div>
    <div class="row font16 menuItems {{$state.is('businessManagement.servicing.cancelled')? 'activeMenu' : ''}}" ng-click="$state.go('businessManagement.servicing.cancelled')">
      <strong> Cancelled </strong>
    </div>


    <button type="button" class="btn font16 btn-default  btn-block" style="border : none !important;border-radius:10px !important;position: absolute;bottom: 100px;padding:15px;width: 88%;left: 15px;text-overflow: ellipsis ellipsis;
white-space: nowrap;overflow: hidden;" ng-click="$state.go('businessManagement.servicing.upcoming')">
      View Upcoming AMC Visits
    </button>

    <button type="button" class="btn font16 btn-default  btn-block" style="border : none !important;border-radius:10px !important;position: absolute;bottom: 20px;padding:15px;width: 88%;left: 15px;background:#E01B22;color:white;" ng-click="newContact()">
        Add New Ticket <img src="/static/images/icons8-plus-48.png" style="width:25px;margin-left:10px;" alt="">
      </button>


  </div>

  <ui-view class="col-md-10" style="position:absolute;right:0px;height:100vh;overflow:auto;padding:0px;"></ui-view>

</div>
