<div>

  <div class="col-md-3">
    <!-- {{data}} -->
    <div  class="row" style="margin-bottom:10px;margin-top:10px;" >
      <button ng-click="prev()" type="button" class="btn btn-default">
        Prev
      </button>

      <switch ng-model="form.all" class="green" style="margin-bottom: -12px;margin-left: 40px;"></switch><span style="margin:9px;position:absolute;">{{form.all ? 'All':'Interested'}}</span>

      <button ng-click="next()" type="button" class="btn btn-default pull-right">
        Next
      </button>
    </div>
    <div ng-repeat="item in campaignItems" ng-click="form.inView = $index;" class="row  card" style="margin-bottom:10px;padding:5px;{{form.inView==$index? 'background:#eee':''}};{{item.status == 'interested'? 'border-right:solid 4px green;':''}}">
      <strong>{{item.contact.name}}</strong><br>
      {{item.contact.companyName}} <br>
      {{item.contact.email}}
    </div>
  </div>

  <div class="col-md-9">
    <div class="row" style="padding:5px 15px;padding-top:15px">
      <div class="col-md-7">
        <h2 ng-if="userData.name.length > 0">{{userData.name}}</h2>
        <p>{{userData.about}}</p>

        <span ng-if="userData.email.length > 0" style="font-size:18px"><i class="fa fa-envelope-o" ng-click="email(userData)"></i> <a href="mailto:{{userData.email}}">{{userData.email}}</a> </i></span>

      </div>
      <div class="col-md-5">
        <span ng-if="userData.mobile.length > 0" style="font-size:30px" class="pull-right"><i class="fa fa-phone"></i>&nbsp; {{userData.mobile}}</i></span> <br>
        <span ng-if="userData.directNumber.length > 0" style="font-size:20px" class="pull-right"><i class="fa fa-phone"></i>&nbsp; {{userData.directNumber}}</i></span><br>
        <span ng-if="userData.altNumber.length > 0" style="font-size:20px" class="pull-right"><i class="fa fa-phone"></i>&nbsp; {{userData.altNumber}}</i></span><br>
        <span ng-if="userData.altNumber2.length > 0" style="font-size:20px" class="pull-right"><i class="fa fa-phone"></i>&nbsp; {{userData.altNumber2}}</i></span><br>

        <a target="_blank" ng-if="userData.website.length>0" href="{{userData.website}}"> <i class="fa fa-globe"></i> {{userData.website}}</a> <br>

        <h5><strong>Address</strong></h5>
        <p> <span ng-if="userData.city.length > 0" >{{userData.city}} ,</span> <span ng-if="userData.state.length > 0">{{userData.state}} ,</span> {{userData.country}}  </p>

        <div ng-if="userData.lang.length > 0">
          <h5>Language</h5>
          <p> {{userData.lang}}</p>
        </div>

      </div>
    </div>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Comment Here..." ng-model="form.cmnt">
      <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="addComment()">Send</button>
    </div>

    <hr>

    <div class="container-fluid card" ng-repeat="log in logs | reverse" style="padding:1px;margin:10px 5px;" >
      <div class="col-md-2" style="padding-left:0px">
        <img ng-src="{{log.user | getDP}}" class="img img-rounded" style="height:30px;width:30px"> <br>
        {{log.user | getName}}
      </div>
      <div class="col-md-8" ng-if="log.typ=='comment'" >
        <span style="font-size:17px">{{log.data}}</span>
      </div>
      <div class="col-md-8" ng-if="log.typ=='inbound' || log.typ=='outbound'" >
        <i class="fa fa-phone fa-2x"></i> {{log.typ | humanize}}
      </div>
      <div class="col-md-8" ng-if="log.typ=='followup'" >
        <i class="fa fa-calendar fa-2x"></i> {{log.typ | humanize}} at {{log.followupDate | date:'dd MMM yyyy hh:mm a'}}
      </div>
      <div class="col-md-2">
        <span style="font-size:15px">{{log.created | timeAgo}} ago</span>
      </div>
    </div>





  </div>


</div>
