<style>
  .detailsHover :hover {
    background: #f9f9f9
  }
  .flex-container {
  display: flex;
  /* background-color: DodgerBlue; */
}

.flex-container > div {
  /* background-color: #f1f1f1; */
  /* margin: 10px; */
  padding: 10px;
  border:1px solid #e4dddd;
  border-radius:25px;
  margin-right:10px
  /* font-size: 30px; */
}
.flex-container > div:hover{
  /* background-color: #f1f1f1; */
  /* margin: 10px; */
  padding: 10px;
  border:1px solid #b4b4b4;
  border-radius:25px;
  margin-right:10px
  /* font-size: 30px; */
}
</style>
<div class="container-fluid" >
  <div class="row" style="padding-bottom:15px;padding-top:30px;">
    <div class="col-md-3 col-md-offset-2" style="padding:0px;">
      <div class="form-inline">
        <label for="">Technician</label>
        <select class="form-control" ng-model="selected.selectedEngineer" ng-options="k.first_name+' '+k.last_name for k  in allUsers" ng-change=getServices() style="width:70%;padding:15px;background:#F2F3F7;border-radius:10px !important;border:none !important;height:55px;">
        </select>
      </div>
    </div>
    <div class="col-md-5">
      <div class="input-group" style="padding:10px;background:#F2F3F7;border-radius:10px;">
        <input type="text" class="form-control" ng-model="selected.search" placeholder="Search by Customer Phone" style="background:#F2F3F7 !important;border: none !important;">
        <span class="input-group-btn">
          <button style="background:#F2F3F7;border: none !important;" type="button" class="btn btn-default" ng-click="getServices()"><i class="fa fa-search "></i></button>
        </span>

      </div>



    </div>

    <div class="col-md-1">
      <button type="button" class="btn btn-default btn-block" ng-click="prev()" style="padding:15px;background:#F2F3F7;border-radius:10px !important;border:none !important;">Prev</button>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-default btn-block" ng-click="next()" style="padding:15px;background:#F2F3F7;border-radius:10px !important;border:none !important;">Next</button>
    </div>


    <!-- <div class="col-md-1">
      <a ng-click="download()" type="button" class="btn btn-primary" style="padding:15px;padding-top:8px;padding-bottom:8px;background:#F2F3F7;border-radius:10px !important;border:none !important;"><img src="/static/images/download-from-cloud.png" style="width: 35px;" ng-click="filter('download')"></a>
    </div> -->

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row" style="background:#FBFBFB;padding-top:15px;padding-bottom:15px;font-weight:bold;box-shadow: 0px 13px 13px rgba(225, 225, 225, 0.94) !important;margin-bottom:20px;">
        <div class="col-md-1">TicketID</div>
        <div class="col-md-5">Customer Name</div>
        <div class="col-md-5">Technician , Date & Time</div>
        <!-- <div class="col-md-1">Customer Email</div> -->
        <div class="col-md-1" ng-click=sortData() style="cursor:pointer"></div>
      </div>
      <!-- <p>{{techdata}}</p> -->
      <div class="row detailsHover" ng-repeat="a in allServices" style="border-bottom:1px solid #dfdfdf;" >
        <div class="col-md-12" style="cursor:pointer;padding-top:15px;padding-bottom:15px;" >
          <div class="row"  >
            <div class="col-md-1">{{a.pk}}</div>
            <div class="col-md-5"><h4>{{a.name}}</h4>
              {{a.address}} {{a.city}} {{a.state}} {{a.country}} - {{a.pincode}} <br>
              <button type="button" class="btn btn-default" style="color:#2ECC71;border: none !important;background:#f1fdf6;border-radius:60px !important;" ng-click="call(a);$event.stopPropagation();">
                <img src="/static/images/icons8-outgoing-call-30.png" style="width:25px;" alt=""> Call
              </button> <span style="font-size:17px;margin-left:30px;">{{a.mobile}} </span> <br> {{a.notes}}<br>
              <div class="row" style="margin-top:15px">
                <!-- <div class="col-md-3" >
                  <a href="/api/marketing/downloadExpenses/?id={{a.pk}}"><img src="/static/images/downloadExpenses.png" style="height:50px"> Expenses</a>
                </div>
                <div class="col-md-6">
                  <a ng-click="$state.go('businessManagement.contacts.delatils', {id :a.referenceContact})"><img src="/static/images/quotation.png" style="height:50px"> Quotation </a>
                </div> -->

              </div>
              </div>
            <div class="col-md-4"> <h3>{{a.preferredDate}} @  {{a.preferredTimeSlot}}</h3>
              <!-- <p style="color:{{a.remaining.split(' ')[0]<=0 || a.remaining<=0 ?'orange':'green'}}"> {{a.remaining}} Remaining </p> -->

              <h3> <img src="/static/images/icons8-worker-100.png" width="35px">  {{a.engineer.first_name}} {{a.engineer.last_name}}</h3>
               <!-- <br> Status : {{a.techStatus}} -->
            </div>
            <!-- <div class="col-md-1 text-center" ng-if="showEdit==true">
              <img src="https://icons-for-free.com/iconfiles/png/512/edit+document+edit+file+edited+editing+icon-1320191040211803620.png" style="width: 35px;" ng-click="assign($index)">
            </div> -->
            <div class="col-md-2" ng-if="statusList.length>0">
              <p> Change status </p>
              <select class="form-control" ng-model="a.status" ng-options="k for k  in statusList" ng-change="changeStatus($index , a.status)" style="width:70%;padding:15px;background:#F2F3F7;border-radius:10px !important;border:none !important;height:55px;">
              </select>
              <div class="btn-group btn-group-sm" ng-if="a.status == 'assigned' || a.status == 'ongoing' ||  a.status == 'postponed' || a.status == 'created' || a.status == 'upcoming'">
                <button type="button" class="btn-assign" ng-click="assign($index);$event.stopPropagation();" style="margin-top:15px;width:130%">
                <span style="background: none !important;">  Change Technician </span>
                </button>
              </div>
              <button  style="border: none !important;border-radius: 64px !important;padding: 10px;font-size: 16px;z-index: 10;margin-top:15px" class="btn btn-primary" ng-click="download(a.pk)">  Print Material Inward Note </button>
              <button type="button" class="btn-assign" ng-click="newContact($index)" style="width:100%;margin-top:15px">
                Edit
              </button>
            </div>
          </div>
          <div class="row" ng-if="a.allInvoices.length>0">
              <div class="col-md-10 col-md-offset-1" >
                <!-- <div style="margin-bottom:15px"> Quotations: </div> -->
                <div class="flex-container">
                    <p style="margin-top:15px;margin-right:15px"> Quotations: </p>
                     <div ng-repeat="i in a.allInvoices track by $index" ng-click="$state.go('businessManagement.contacts.quote', {id: a.contact,contract: i.pk})">{{i.heading}}</div>
                </div>
              </div>
          </div>
          <div class="row" ng-if="allTerms.length>0&&(a.status == 'created' || a.status == 'assigned'  || a.status == 'upcoming' || a.status == 'ongoing' || a.status == 'postponed')" style="margin-top:15px">
              <div class="col-md-10 col-md-offset-1" >
                <div class="flex-container">
                  <p style="margin-top:15px;margin-right:15px"> Formats: </p>
                     <div ng-repeat="t in allTerms track by $index" ng-click="$state.go('businessManagement.contacts.createquote', {id: a.referenceContact,template: t.pk})">{{t.heading}}</div>
                </div>
              </div>
          </div>

          <!-- <div class="row" ng-if="$index==indx" style="padding-top:15px;padding-bottom:15px">
            <div class="col-md-6">
              <h4> Log</h4>
              <div class="row" ng-repeat="s in a.logs track by $index">
                <div class="col-md-12">
                  <div class="card" style="padding:10px;margin-bottom:10px" ng-if="s.type == 'assigned' || s.type == 'text'">
                    <i class="fa fa-info fa-2x"> </i> {{s.txt}}
                    <div class="text-right"> {{ s.created| date }} {{ s.created| date : 'mediumTime'}} </div>
                  </div>
                  <div class="card" style="padding:10px;margin-bottom:10px" ng-if="s.type == 'Incoming' || s.type == 'Outgoing' || s.type == 'Missed' || s.type == 'Recording' || (s.type == 'routedCall' && s.fileUrl) ">
                    <i class="fa fa-phone fa-2x" ng-if="s.type == 'Incoming' || s.type == 'Outgoing' || s.type == 'Missed'"> </i>
                    <i class="fa fa-file-audio-o  fa-2x" ng-if="s.type == 'Recording'"> </i>
                    <audio ng-if="s.type != 'routedCall'" ng-src="{{s.file}}" controls>
                    </audio>
                    <span ng-if="s.type == 'Incoming' || s.type == 'Outgoing' || s.type == 'Missed'"> - {{s.type}} </span>
                    <span ng-if="s.type == 'routedCall'"> {{s.txt}}
                      <br>
                      <audio src="{{s.fileUrl}}" controls>
                      </audio>
                    </span>

                    <div class="text-right"> {{ s.created| date }} {{ s.created| date : 'mediumTime'}} </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6" ng-if="a.beforePic.length>0">
                  <h4> Before Images</h4>
                  <div class="row">
                    <div class="col-md-6" ng-repeat="s in a.beforePic track by $index" style="margin-bottom:5px">
                      <a href="{{s.attachment}}" target="_blank"> <img ng-src="{{s.attachment}}" class="img " style="height:100px;width:100%" alt=""> </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6" ng-if="a.afterPic.length>0">
                  <h4> After Images </h4>
                  <div class="row">
                    <div class="col-md-6" ng-repeat="s in a.afterPic track by $index" style="margin-bottom:5px">
                      <a href="{{s.attachment}}" target="_blank"> <img ng-src="{{s.attachment}}" class="img " style="height:100px;width:100%" alt=""> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Comment : </label>
                    <textarea type="text" class="form-control" ng-model="a.general_comment"></textarea>
                  </div>
                  <button class="btn btn-primary" ng-click="saveComment(a.pk,a.general_comment)"> Save </button>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
