<style media="screen">
  .navigationBtn , .navigationBtn:hover{
    padding: 10px;
    border:none !important;
    border-radius:10px !important;
  }

  .contactList input ,.contactList button , .contactList .btn, .contactList .btn-primary{
    border:none !important;
  }

  .contactList input, .contactList .form-control{
    padding: 20px;
    border-radius: 23px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .text-dull{
    color: #bbb;
  }

  .tableNew th{
    padding:17px !important;
  }

  .tableNew {
    border-radius: 1em;
    overflow: hidden;
  }

  .contentTd{
    padding:18px !important;
  }

  table, th, td{
    border-color:#f2f2f2 !important;
  }



</style>



<!-- <ui-view> -->
  <div class="container-fluid" style="padding:40px;min-height:100vh;background:#FAFAFA;">
    <div class="row">
      <div class="col-md-8 col-md-offset-3">

        <!-- <div class="col-md-2" style="padding-top:20px;">
          <label>Added On : </label>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="input-group newDatePic">
              <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="filter.dt" is-open="status.opened" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default pic" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div> -->
        <div class="col-md-5 col-md-offset-5 contactList">
          <div class="input-group" style="padding:10px;background:#F2F3F7;border-radius:10px;">
            <input type="text" class="form-control" ng-model="form.searchValue" ng-change="fetch()" placeholder="Search..." style="background:#F2F3F7 !important;border: none !important;">
            <span class="input-group-btn">
              <button style="background:#F2F3F7;border: none !important;" type="button" class="btn btn-default" ng-click="fetch()"><i class="fa fa-search "></i></button>
            </span>
          </div>
        </div>
        <div class="col-md-2">
              <a ng-click="download()" type="button" class="btn btn-primary" style="padding:15px;padding-top:8px;padding-bottom:8px;background:#F2F3F7;border-radius:10px !important;border:none !important;" href="/api/marketing/downloadAllvisits/?serviceName={{serviceName}}"><img src="/static/images/download-from-cloud.png" style="width: 35px;" > Download Report</a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row" style="margin:10px;">
      <table class="table table-hover tableNew">
        <thead>
          <tr style="background:#f2f2f2;padding:10px;">
            <th>Ticket ID</th>
            <th>Name</th>
            <th width="20%">Feedback</th>
            <th>Warranty ?</th>
            <th width="17%"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="contact in allServices" style="padding:10px;background:white;" ng-click="newContact($index)">
            <td class="contentTd">{{contact.pk}}</td>
            <td class="contentTd"> <h4>{{contact.name}}</h4>
              {{contact.addrs}} {{contact.city}} {{contact.state}} {{contact.country}} - {{contact.areaCode}} <br>
              <button type="button" class="btn btn-default" style="color:#2ECC71;border: none !important;background:#f1fdf6;border-radius:60px !important;" ng-click="call(contact.mobile);$event.stopPropagation();">
                <img src="/static/images/icons8-outgoing-call-30.png" style="width:25px;" alt=""> Call
              </button> <span style="font-size:17px;margin-left:30px;">{{contact.mobile}}</span> <br>

            </td>
            <td class="contentTd">{{contact.about}}
              <br> <img ng-if="contact.creater.first_name" src="/static/images/icons8-customer-support-50.png" style="width:35px;" alt=""> {{contact.creater.first_name}} {{contact.creater.last_name}}<br/>
                <span style="font-size:17px;margin-left:30px;">{{contact.date}} {{contact.slot}}</span>
            </td>
            <td class="contentTd">{{contact.warrantyStatus}}</td>
            <td class="contentTd">
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn-assign" ng-click="assign($index);$event.stopPropagation();" style="">
                  Assign Technician
                </button>
                <button ng-if="material_inward == 'True'" type="button" class="btn btn-default" ng-click="openMaterialInward($index);$event.stopPropagation();">
                  MIN
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- </ui-view> -->
