<style>
.centerMarker{
  position:absolute;
  /*url of the marker*/
  background:url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
  /*center the marker*/
  top:50%;left:50%;

  z-index:1;
  /*fix offset when needed*/
  margin-left:-10px;
  margin-top:-34px;
  /*size of the image*/
  height:34px;
  width:20px;

  cursor:pointer;
}



.modal-content{
  background : #F2F3F7;
}



</style>



<div class="modal-body" style="background:#F2F3F7;">


  <div class= "row" style="border-bottom: solid 2px #e4e4e4;margin-bottom:20px;">
    <div class="col-md-4">
      <h3 style="margin-left: 29px;margin-bottom: 37px;" ng-if="!form.pk">Add a new ticket</h3>
      <h3 style="margin-left: 29px;margin-bottom: 37px;" ng-if="form.pk">Update ticket</h3>
    </div>
    <div class="col-md-4">
      <!-- <button ng-if="form.pk" style="bottom: 20px;border: none !important;border-radius: 64px !important;padding: 17px;font-size: 16px;z-index: 10;margin-right:30px;" class="btn btn-primary pull-right" ng-click="download()">  Print Material Inward Note </button> -->
    </div>
    <div class="col-md-4">
      <button style="background: #461482;color: white;bottom: 20px;border: none !important;border-radius: 64px !important;padding: 17px;width: 112px;font-size: 16px;z-index: 10;box-shadow: 0px 8px 18px rgba(157, 157, 157, 0.94) !important;" class="btn btn-primary pull-right" ng-click="save()" >  Save </button>

      <button style="color: rgb(237, 2, 2);bottom: 20px;border: none !important;border-radius: 64px !important;padding: 17px;width: 112px;font-size: 16px;z-index: 10;margin-right:30px;background:none;" class="btn btn-primary pull-right" ng-click="close()">  Cancel </button>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row" style="margin:0px;">
      <div class="col-md-6">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control whiteInputField" ng-model="form.name"  typeahead-on-select="selectContact()"  uib-typeahead="p as p.name for p in searchContact($viewValue)" placeholder="Search or add Contact">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Phone</label>
          <input type="text" class="form-control whiteInputField" ng-model="form.phone"  >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control whiteInputField" ng-model="form.email" >
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 25px;margin-bottom: 25px;">
        <div class="form-group">
          <label>Do the customer need Onsite Visit?</label>
          <label>ಗ್ರಾಹಕರಿಗೆ ಆನ್‌ಸೈಟ್ ಭೇಟಿ ಅಗತ್ಯವಿದೆಯೇ?</label>

          <!-- <span class="label label-default">Yes</span>
          <span class="label label-primary">No</span>  -->

          <input type="checkbox"  ng-model="form.requireOnSiteVisit" >
        </div>
      </div>
      <div class="col-md-6" ng-if="form.requireOnSiteVisit">
        <div class="form-group">
          <label>Preferred Date</label>
          <div class="input-group newDatePicWhite">
            <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.preferredDate" is-open="status.opened" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default pic" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6" ng-if="form.requireOnSiteVisit">
        <div class="form-group">
          <label>Prefered Time Slot</label>
          <select class="form-control" ng-model="form.preferredTimeSlot" style="height: 55px;border-radius: 10px;border: none !important;">
            <option hidden disabled selected value></option>
            <option value="9 AM">9 AM</option>
            <option value="10 AM">10 AM</option>
            <option value="11 AM">11 AM</option>
            <option value="12 AM">12 AM</option>
            <option value="1 PM">1 PM</option>
            <option value="2 PM">2 PM</option>
            <option value="3 PM">3 PM</option>
            <option value="4 PM">4 PM</option>
            <option value="5 PM">5 PM</option>
            <option value="6 PM">6 PM</option>
            <option value="7 PM">7 PM</option>
            <option value="8 PM">8 PM</option>
            <option value="9 PM">9 PM</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Warranty Status</label>
          <select class="form-control" ng-model="form.warrantyStatus" style="height: 55px;border-radius: 10px;border: none !important;">
            <!-- <option hidden disabled selected value></option> -->
            <option value="OEM Warranty" selected>OEM Warranty</option>
            <option value="AMC">AMC</option>
            <option value="Out Of Warranty">Out Of Warranty</option>
          </select>
        </div>
      </div>
      <div class="col-md-6" ng-if="!form.requireOnSiteVisit">
        <div class="form-group">
          <label>Product Name</label>
          <input  ng-model="form.productName" type="text" class="form-control whiteInputField" placeholder="">
        </div>
      </div>
      <div class="col-md-6" ng-if="!form.requireOnSiteVisit">
        <div class="form-group">
          <label>Serial No.</label>
          <input type="text" class="form-control whiteInputField" ng-model="form.productSerial" autocomplete="new-password">
        </div>
      </div>
      <div class="col-md-12" >
        <div class="form-group">
          <label>Customer's complaint ( mention the fault with the product ) </label>
          <textarea name="name" ng-model="form.notes"  class="form-control whiteInputField" rows="4" cols="80" placeholder="ಗ್ರಾಹಕರ ದೂರು (ಉತ್ಪನ್ನದ ದೋಷವನ್ನು ನಮೂದಿಸಿ)"></textarea>
        </div>
      </div>
      <div class="col-md-6" >
        <div class="form-group">
          <label>Pincode</label>
          <input type="text" class="form-control whiteInputField" ng-model="form.pincode" typeahead-on-select="selectPincode()"  uib-typeahead="p as p.pincode for p in pinSearch($viewValue)">
        </div>
      </div>
    </div>

    <div class="row" style="margin:15px;margin-bottom:100px;">
      <label>Address</label>
      <input places-auto-complete
        ng-model="form.address"
        component-restrictions="{country:'in'}"
        types="{{types}}"
        strict-bounds="true"
        on-place-changed="placeChanged()" class="form-control whiteInputField" />

      <map ng-if="form.address" center="{{locations}}" style="display: block;width: auto;height: 300px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;overflow: hidden;"   zoom="12">
        <marker  position="{{locations}}" centered="true" draggable="true" on-dragend="getCurrentLocation($event)" ></marker>
      </map>
    </div>



  </div>
</div>
