<div class="container-fluid">

  <div class="row text-center" style="margin:0px;">
    <h3>Headers</h3>
  </div>
  <div class="row" style="margin:0px;padding:10px">
    <div class="col-md-12" ng-repeat = "k in headers track by $index"  style="margin-bottom:20px;padding:20px;{{form.selectedHeader == $index ? 'background:#eee;': ''}}" ng-click="form.selectedHeader = $index;">
      <h4>{{k.name}}</h4>
      <div class="row">
          <div class="col-md-8">
            <img src="{{k.sampleImg}}" style ="width:100%;height:150px;"alt="Web Preview">
          </div>
          <div class="col-md-4">
              <img src="{{k.mobilePreview}}"style ="width:100%;height:150px;" alt="Mobile Preview">
          </div>

      </div>
    </div>
  </div>

  <div class="row text-right" style="margin:0px;padding:20px 10px;">
    <button type="button" class="btn newBtn" name="button" ng-click="close()">Save</button>
  </div>

</div>
