<div class="container-fluid">
  <div class="modal-header text-center">
    <h3>Create Page</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="row"  style="margin:0px;margin-bottom:30px;">
        <div class="form-group">
          <label >Title</label>
          <input type="text" class="form-control websiteInput" ng-model="form.title" >
        </div>
        <div class="form-group">
          <label >URL</label>
          <input ng-disabled="isDisabled"  type="text" class="form-control websiteInput" ng-model="form.url" >
          <!-- <input type="text" class="form-control" ng-model="form.url"> -->
        </div>

        <div class="form-group">
          <label >Description</label><br><br>
          <textarea name="name" rows="8" class="form-control websiteInput" cols="74" ng-model="form.description" style="resize:none;"></textarea>
        </div>



      </div>


      <div class="row">
        <div class="col-md-2" ng-repeat="k in selectTyp track by $index">
          <div class="" style="	height: 150px;	background-color: #f1f1f1;padding: 40px 20px;
	border-radius: 5px;	font-weight: 700;" ng-click="selectTab(k)">
            <p>{{k}} </p>
          </div>
        </div>
      </div>





    </div>
  </div>
  <div class="modal-footer text-center">
    <button type="button" name="button" class="btn newBtn" ng-click="save()">Save</button>

  </div>
</div>
