<div class="" style="min-height:100vh;position:relative;padding:20px;background:#FAFAFA;">

  <div class="container-fluid">
    <div class="row" style="margin-left:20px;margin-right:20px;">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-2" style="padding-top:20px;">
            <div ng-if="!attendanceReport.currentMonth"> MONTHLY <switch ng-model="form.weekly" class="green" ng-change="initiate()"></switch><span> WEEKLY</span></div>
          </div>

          <div class="col-md-6" style="padding-top:25px;">
            <div class="col-md-3">
              <span class="badge badge-pill space " style="height:25px;width:25px;background-color: #ddf9d7;"> </span> Present
            </div>

            <div class="col-md-3">
              <span class="badge badge-pill " style="height:25px;width:25px;background-color: #feefde;"> </span> Half Day
            </div>

            <div class="col-md-3">
              <span class="badge badge-pill " style="height:25px;width:25px;background-color: #e2f3fe;"> </span> Absent
            </div>

            <div class="col-md-3">
              <span class="badge badge-pill " style="height:25px;width:25px;background-color: #E4E4E4;"> </span> on Leave
            </div>
          </div>
          <div class="col-md-2">
            <select class="form-control" ng-model="form.month" ng-options="m for m in monthList" style="border:none !important;background:#E4E4E4;color:black;padding:10px;border-radius:10px !important;margin-top:15px" ng-change="initiate()">
            </select>
          </div>
          <div class="col-md-2">
            <select class="form-control" ng-model="form.year" ng-options="y for y in years" style="border:none !important;background:#E4E4E4;color:black;padding:10px;border-radius:10px !important;margin-top:15px" ng-change="initiate()">
            </select>
          </div>


          <!-- <button type="button" class="btn btn-default " style="background: #000000;color: white;position: fixed;bottom: 24px;border: none !important;border-radius: 10px !important;padding: 15px;width: 139px;right: 25px;font-size: 16px;"
            ng-click="openUploadForm()">
            Upload <img src="/static/images/icons8-upload-48.png" style="width:25px;margin-left:10px;" alt="">
          </button> -->

          <div class="col-md-2 text-right" style="padding-top:10px;">
            <!-- <h3>{{dateDisp | date:'MMM yyyy'}}</h3> -->
          </div>

        </div>


        <div class="row" ng-if="attendanceReport.currentMonth" style="margin-top:60px">
          <div class="col-md-12">
            <div class="row">
              <div class=" col-md-2">
                <button class="btn btn-success btn-block" ng-disabled="attendanceReport.firstweek?true:false" ng-click="prev()" style="border:none !important;background:#E4E4E4;color:black;padding:10px;border-radius:10px !important;">
                  Previous
                </button>
              </div>
              <div class="col-md-offset-8 col-md-2">
                <button class="btn btn-success btn-block" ng-disabled="attendanceReport.lastweek?true:false" ng-click="next()" style="border:none !important;background:#E4E4E4;color:black;padding:10px;border-radius:10px !important;">Next</button>
              </div>
            </div>
            <div class="row" style="margin-top:30px">
              <div class="col-md-12">
                <table class="invoiceTable" style=" width: 100%;border-collapse: collapse;">
                  <tr style="background-color: #eeeeee;height: 50px;  ">
                    <th class="font14">Employees</th>
                    <th class="font14" ng-repeat="d in attendanceReport.dates">{{d}}</th>
                  </tr>
                  <tr class="font14" ng-repeat="i in attendanceReport.data ">
                    <td>{{i.user.first_name}}{{i.user.last_name}}</td>
                    <!-- <td ng-repeat="v in i.obj ">{{v.attendance_status}}</td> -->
                    <td ng-repeat="v in i.obj ">
                    <select class="form-control" ng-model="v.attendance_status" ng-change="changeAttendance(v.attendance_status, v.pk)">
                      <option value="Present">Present</option>
                      <option value="Leave">Leave</option>
                      <option value="Absent">Absent</option>
                      <option value="Half-Day">Half-Day</option>
                    </select>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="!attendanceReport.currentMonth&&form.weekly" style="margin-top:60px">
          <div class="col-md-12">
            <div class="row">
              <div class=" col-md-2">
                <button class="btn btn-success btn-block" ng-disabled="attendanceReport.firstweek?true:false" ng-click="prev()" style="border:none !important;background:#E4E4E4;color:black;padding:10px;border-radius:10px !important;">
                  Previous
                </button>
              </div>
              <div class="col-md-offset-8 col-md-2">
                <button class="btn btn-success btn-block" ng-disabled="attendanceReport.lastweek?true:false" ng-click="next()" style="border:none !important;background:#E4E4E4;color:black;padding:10px;border-radius:10px !important;">Next</button>
              </div>
            </div>
            <div class="row" style="margin-top:30px">
              <div class="col-md-12">
                <table class="invoiceTable" style=" width: 100%;border-collapse: collapse;">
                  <tr style="background-color: #eeeeee;height: 50px;  ">
                    <th class="font14">Employees</th>
                    <th class="font14" ng-repeat="d in attendanceReport.dates">{{d}}</th>
                  </tr>
                  <tr class="font14" ng-repeat="i in attendanceReport.data ">
                    <td>{{i.user.first_name}}{{i.user.last_name}}</td>
                    <td ng-repeat="v in i.obj ">{{v.attendance_status}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="!attendanceReport.currentMonth&&!form.weekly" style="margin-top:60px">
          <div class="col-md-12">

            <table class="invoiceTable" style=" width: 100%;border-collapse: collapse;">
              <tr style="background-color: #eeeeee;height: 50px;  ">
                <th class="font14">Employees</th>
                <th class="font14">Present</th>
                <th class="font14">Absent</th>
                <th class="font14">Leave</th>
                <th class="font14">Half Day</th>
                <th class="font14">Total</th>
              </tr>
              <tr class="font14" ng-repeat="i in attendanceReport.data ">
                <td>{{i.user.first_name}}{{i.user.last_name}}</td>
                <td>{{i.present}}</td>
                <td>{{i.absent}}</td>
                <td>{{i.leave}}</td>
                <td>{{i.halfDay}}</td>
                <td>{{i.total}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
