<div class="" style="min-height:93vh;position:relative;">
  <div class="container-fluid" style="padding:0px;">
    <breadcrumb></breadcrumb>
  </div>
  <div class="container-fluid">
    <uib-tabset>

      <uib-tab active="searchTabActive">
        <uib-tab-heading >
          Search  <i ng-if="tab.cancel" class="fa fa-search"></i>
        </uib-tab-heading>

        <generic-Table callback-Fn = "tableAction" data="data.tableData" config-Obj="{{config}}"></generic-Table>

      </uib-tab>
      <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
        <uib-tab-heading >
          {{tab.title}} <i ng-if="tab.cancel" class="fa fa-close" ng-click="closeTab($index);"></i>
        </uib-tab-heading>

        <div ng-if="tab.app == 'viewProfile'">
          <div ng-include="'/static/ngTemplates/app.HR.manage.users.explore.html'"></div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
