<style media="screen">
  .expenseInpClaim {
    padding: 29px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
  }
  .modal-content{
    width:1000px;
  }
  .fileContainer{
    height:570px;border:solid 1px #eee;border-style:dotted;border-radius:20px;background:#F3F3F3;padding-top:30px;cursor:pointer;
  }
</style>
<div class="modal-body" style="padding:0px;background:#ececec;">
  <div class="row" style="margin:0px;">
    <div class="col-md-7" style="background: #F3F3F3;padding: 40px;">
      <h3>Add New Bill</h3>
      <div class="form-group" style="margin-top:20px;">
        <label> Particular </label>
        <input type="text" class="form-control expenseInpClaim" ng-model="form.product" placeholder="Add Title">
      </div>
      <div class="form-group">
        <label> Description </label>
        <input type="text" class="form-control expenseInpClaim" ng-model="form.description" placeholder="Add Description">
      </div>
      <div class="form-group">
        <label> Amount </label>
        <input type="text" class="form-control expenseInpClaim" ng-model="form.total" placeholder="Add Amount">
      </div>
      <div class="form-group" ng-repeat="d in form.data track by $index">
        <label> {{d.title}} </label>
        <input type="text" class="form-control expenseInpClaim" ng-if="d.typ == 'input'" ng-model="d.value" placeholder="{{d.title}}">
        <input type="checkbox" ng-model="d.value" ng-if="d.typ == 'checkbox'">
        <textarea class="form-control expenseInpClaim" ng-if="d.typ == 'textarea'" rows="2" cols="50" ng-model="d.value" style="resize: none;"></textarea>
      </div>
      <input style="display:none;" id="filePicker" type="file" file-model="form.attachment">

      <button class="btn btn-primary" ng-click="createInvoice()" style="background: #461482;  color: white;  border: none !important;  border-radius: 64px !important;  padding: 17px;  width: 112px;  font-size: 16px;"> Save  </button>

    </div>
    <div class="col-md-5" style="padding:30px;height:100%;">
      <div class="container-fluid text-center fileContainer" style="background-image:url(/media/{{form.fileUrl}});background-size: cover;" ng-if="form.selection == 'scan'" ng-click="selectFile()" >

      </div>
      <div class="container-fluid text-center fileContainer" ng-if="form.selection == 'file'" style="background-size: cover;" ng-click="selectFile()" >
        <h3>Bill Scan</h3> <br> <br> <p >Select File</p>
      </div>
    </div>
  </div>
</div>
