<style media="screen">
  .borderLessHead{
    border-bottom:none !important;
  }

  input[flexible-input] {
    background:white;border-radius:none;padding-left:10px;margin-top:10px;border:solid 1px #eee;
  }
  input[cleanInput] {
    border-radius:none;padding:0px;border:none;
  }
  .noPadd{
    padding:0px !important;
  }
</style>

<div class="col-lg-12" style="margin:0px;padding-top:90px;background-image: linear-gradient(180deg,#fff 0%,#f0f0f0 100%);height:100vh;overflow:auto;font-size:15px;padding-left:0px;padding-right:0px;">

  <!-- <div class="col-md-10 col-md-offset-1" style="margin-bottom:20px;padding:0px;">

    <strong style="margin-right:13px;">Sales Order </strong>
    <switch ng-model="form.isInvoice" class="green" ></switch><strong style="margin-left:13px;">Invoice</strong>
  </div> -->
  <div class="col-md-10 col-md-offset-1 bg-white" style="min-height:150vh;box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;margin-bottom:100px;padding:40px;border-bottom:solid 8px {{settings.color}};border-top:solid 8px {{settings.color}}">

    <div class="row">
      <div class="col-md-12" style="height:175px;">
        <div class="row" style="height:152px;background:url({{settings.headerImg}});background-size:contain;background-repeat:no-repeat;margin:0px;">
        </div>
      </div>
    </div>
    <div  class="row "  ng-if="showPerforma">
      <span style="margin-right:10px;">Is Performa?</span>
      <switch ng-model="form.isPerforma" class="neutral"></switch>
    </div>
    <div class="row text-center" style="font-size:20px;margin:30px;">
      <strong ng-if="!form.isPerforma">{{form.isInvoice?'INVOICE':'SALES ORDER'}}</strong>
      <strong ng-if="form.isPerforma">PERFORMA</strong>
    </div>
    <div class="form-group">
      <div class="input-group" >
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <strong>PO # : </strong><input flexible-input type="text" ng-model="form.poNumber" placeholder="PO Number">  <br>
        <strong>Delivery Date : </strong>
            <input type="text" flexible-input show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.deliveryDate" is-open="status.opened" />
            <button type="button" class="btn btn-default" ng-click="status.opened = true;" style="padding-right: 5px;padding-left: 5px;padding-top: 0px;padding-bottom: 0px;"><i class="glyphicon glyphicon-calendar"></i></button>
        </span> <br>
        <!-- <strong>Payment Due Date : </strong>
        <input type="text" flexible-input show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.payDueDate" is-open="paystatus.opened" />
        <button type="button" class="btn btn-default" ng-click="paystatus.opened = true;" style="padding-right: 5px;padding-left: 5px;padding-top: 0px;padding-bottom: 0px;"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
       <br> <br> -->
        <strong>Cost Center : </strong>
        <input flexible-input ng-model="form.costcenter" uib-typeahead="cost as cost.name for cost in costCenterSearch($viewValue)" placeholder="Search By CostCenter Name">  <br> <br>
        <div style="display:table">
        <strong style="display: table-cell">Sales Category : </strong>
        <select style="display: table-cell;width:200px" class="form-control" ng-model="form.account" ng-options="p.title for p in assetsAccounts" >
        </select>
      </div>

        <strong>Contact Person : </strong>
        <input flexible-input  type="text" ng-model="form.personName"  uib-typeahead="c as c.name for c in contactSearch($viewValue)">
        ( Mobile Number <input flexible-input  type="text"ng-model="form.phone"  placeholder=""> )<input flexible-input type="text" ng-model="form.email" placeholder="Email"> <br><br>
        <strong><input flexible-input type="text" ng-model="form.name" placeholder="Company Name"> </strong> <br>
        <span><input flexible-input type="text" ng-model="form.address" placeholder="Address"> </span> <br>
        <span><input flexible-input type="text" ng-model="form.pincode" placeholder="Pincode">,{{form.city}}, {{form.state}},  {{form.country}} </span> <br>
        <strong>GSTIN : </strong><input flexible-input type="text" ng-model="form.gstIn" placeholder="GST"> <br> <br>

      </div>
    </div>

    <div class="row">
      <div class="container-fluid">
        <table class="table">
          <thead style="background:{{settings.color}};color:white;">
            <tr>
              <th class="borderLessHead" width="10%">S.No</th>
              <th class="borderLessHead" width="35%">Product Name</th>
              <th class="borderLessHead" width="8%">Price</th>
              <th class="borderLessHead" width="10%">HSN/SAC</th>
              <th class="borderLessHead" width="10%">Tax %</th>
              <th class="borderLessHead" width="7%">Quantity</th>
              <th class="borderLessHead" width="10%">Tax</th>
              <th class="borderLessHead" width="12%">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in form.invoiceqty"  style="cursor:pointer">
              <td>
                <span>{{$index + 1}}</span> <br> <br>
                <span ng-click="removeProduct($index)" style="cursor:pointer;" class="text-danger text-center">
                  Remove <i class="fa fa-trash"></i>
                </span>
              </td>
              <td>{{p.product}}</td>
              <td>{{p.price}}</td>
              <td><span ng-if="p.hsn.pk">{{p.hsn.code}}</span> <span ng-if="!p.hsn.pk">{{p.hsn}}</span></td>
              <td>{{p.taxPer}}</td>
              <td> <input style="margin-top:0px;" flexible-input type="text" ng-model="p.qty" ng-change="calc()"> </td>
              <td>{{p.tax}}</td>
              <td>{{p.total|number}}</td>
            </tr>
            <tr>
              <td > </td>
              <td>
                <input style="margin-top:0px;" flexible-input type="text" ng-model="productForm.product" uib-typeahead="p as p.product for p in productSearch($viewValue)" >
              </td>
                <td> <input style="margin-top:0px;" flexible-input type="text" ng-model="productForm.price"  ng-change="updateDetails()"> </td>
                <td >
                  <input flexible-input style="margin-top:0px;"  type="text"  ng-model="productForm.hsn" uib-typeahead="meta as meta.code for meta in searchTaxCode($viewValue)" ng-change="updateDetails()">
                </td>
              <td>{{productForm.taxPer}} </td>
              <td> <input style="margin-top:0px;"  class="noPadd" flexible-input type="text" ng-model="productForm.qty"  ng-enter="addProduct()" ng-change="updateDetails()"> </td>
              <td>{{productForm.tax}}</td>
              <td >
                <span >{{productForm.total | number}}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="row" style="margin:0px;">
          <div class="col-md-2 pull-right text-right" style="font-size:17px;padding:5px;">
            <input type="text" ng-change="calculateFinalTotal()" class="form-control" ng-model="form.discount" style="text-align: end;">
          </div>
          <div class="col-md-1 pull-right text-right" style="font-size:17px;padding:5px;padding-right:0px;padding-top:10px;">
            Discount :
          </div>
        </div> -->
        <div class="row" style="margin:0px;">
          <div class="col-md-3 pull-right text-right" style="background:{{settings.color}};color:white;font-size:17px;padding:5px;padding-right:20px;">
            Grand Total (INR) : {{form.total}}
          </div>
        </div>
        <div class="row" style="margin:0px;" >
            <div class="col-md-3">
            <div class="form-group">
              <label> Terms and Conditions  </label>
              <select class="form-control" ng-model="form.termsandcondition" ng-options="p.heading for p in allTermsandCondition" ng-change="selectTerms()">
              </select>
            </div>
          </div>
        </div>
        <div class="row" style="padding-bottom:15px" >
          <div class="col-md-12" ng-repeat="a in form.terms.split('||') track by $index">
            {{$index+1}}. {{a}}
          </div>
        </div>
        <strong>Amount Payable (in words) :</strong> <br>
        <span>{{inWords}}</span> <br> <br>
        <br><br>
        <strong>Generated By : </strong> {{me.first_name}} {{me.last_name}}
      </div>
    </div>
  </div>
  <div class="row" style="margin:0px;position:fixed;bottom:0px;right:0px;width:87%;background:white;padding:10px;padding-top:15px;box-shadow:0px 0px 72px rgba(0, 0, 0, 0.31);">

    <div class="col-md-2 text-center" style="padding-top:10px;">
      <button type="button" class="btn btn-danger" style="background:white;color:#e33b37;border: none !important;" ng-click="$state.go('businessManagement.sales')">
        Close
      </button>
    </div>
    <div class="col-md-2 text-center" style="padding-top:10px;">
      <button type="button" class="btn btn-primary" style="border-radius:100px !important;background:#337ab7;color:white;padding-left:20px;padding-right:20px;margin-left:30px;" ng-click="save()">
        Save <i class="fa fa-floppy-o" style="margin-left:20px;"></i>
      </button>
    </div>
    <div class="col-md-2 text-center" style="padding-top:10px;">
      <button ng-if="form.pk" type="button" class="btn btn-primary" style="background:white;color:#0E4388;border: none !important" ng-click="sendViaMail()">
        Send Via Email
      </button>
    </div>
    <div class="col-md-2 text-center" ng-if="form.pk">
      <a href="/api/finance/invoiceDownload?value={{form.pk}}&typ=outbond" style="padding-top: 15px !important;" class="btn btn-default cutebutton"> DOWNLOAD PDF</a>
    </div>
    <!-- <div class="col-md-2 text-center" ng-if="!form.pk">
      <button type="button" class="btn btn-info pull-right" style="border-radius:100px !important;background:#5bc0de;color:white;padding-left:20px;padding-right:20px;margin-left:30px;">
        Reset
      </button>
    </div> -->


  </div>
</div>
