<style media="screen">
  .noBorder {
    border: none !important;
  }
  .journalBtn{
    border:none !important;
    background: #EAEAEA;
    border-radius:10px;
    height: 50px;
    padding: 15px;
  }
  .dropdown-menu a{
    font-size:20px;
  }
</style>

<div class="container-fluid" style="background: #EAEAEA;padding:0px;">

  <div class="col-md-2 " style="min-height:100vh;background:#FAFAFA;box-shadow: 0px 8px 18px rgba(157, 157, 157, 0.94) !important;">

    <div class="row" style="margin-top:20px;">
      <div class="col-md-12">
        <img onclick="window.history.back();" src="/static/images/back-arrow-icon-png-6.png " style="width: 35px;" alt="">
      </div>
    </div>

    <div class="row" style="margin-top:20px;">
      <div class="col-md-12 text-center">
        <img src="http://getdrawings.com/free-icon/time-tracking-icon-59.png" class="img img-rounded" width="100px" style="border-radius: 20px;" alt="">

        <h3> Accounting </h3>
      </div>
    </div>

    <div class="container-fluid" style="padding:0px;">



      <div class="form-group col-md-12" style="padding:0px;margin-top:30px;">
        <label for="sel1">Financial Year</label>
        <select class="form-control journalBtn" ng-model="select.year" ng-options="p for p in allYears" ng-change="filterData()" style="font-size:20px;">
        </select>
      </div>
      <div class="form-group col-md-12" style="padding:0px;margin-top:15px;margin-bottom:40px;" >
        <label for="sel1">Period</label>
        <select class="form-control journalBtn" ng-model="select.month" ng-change="filterData()" style="font-size:20px;">
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="Quarter 1 - April-June">Quarter 1 - April-June</option>
          <option value="Quarter 2 - July-September">Quarter 2 - July-September</option>
          <option value="Quarter 3 - October-December">Quarter 3 - October-December</option>
          <option value="Quarter 4 - January-March">Quarter 4 - January-March</option>
          <option value="Current FY">Current FY</option>
        </select>
      </div>
      <button type="button" class="btn btn-default btn-block" style="border : none !important;border-radius:10px !important;" ng-click="download()">
        Download <img src="/static/images/download-from-cloud.png" style="width: 35px;margin-left: 40px;" >
      </button>

      <button type="button" class="btn btn-default " ng-click="$state.go('businessManagement.accounting.invoice')" style="border : none !important;border-radius:10px !important;position: absolute;bottom: 13px;padding:15px;width: 88%;">
        New Expense Invoice <img src="/static/images/icons8-plus-math-96.png" style="width:25px;margin-left:10px;" alt="">
      </button>
    </div>
  </div>


  <div class="col-md-10" style="padding-top: 30px;padding-bottom: 130px;position: absolute;right: 0px;height: 100vh;overflow: auto;">
    <div class="col-md-offset-1 col-md-10">
      <div class="row">
        <div class="container-fluid" style="padding:0px;">

          <div class="row">
            <div class="col-md-12" style="box-shadow:0px -9px 18px rgba(204, 201, 201, 0.94) !important;">
              <div class="row" style="border-bottom:1px solid black;background:white;padding-top:20px;padding-bottom:20px;">
                <div class="col-md-5">
                  <img ng-src="{{orgSettings.logo}}" style="height:100px;">
                </div>
                <div class="col-md-5 pull-right text-right" style="padding-top:20px;">
                  <h4>Journal Enteries</h4>
                  <h3>{{orgSettings.name}}</h3>
                </div>
              </div>
              <div class="row" style="border-bottom:1px solid black;background: white;">
                <div class="col-md-2 text-center" style="border-right:1px solid black;height: 80px;padding-top:20px;">
                  <h4>Date </h4>
                </div>
                <div class="col-md-6 text-center" style="border-right:1px solid black;height: 80px;padding-top:20px;">
                  <h4>Account Title and Explanation </h4>
                </div>
                <div class="col-md-4 text-center">
                  <div class="row" style="height: 80px;">
                    <div class="col-md-12" style="border-bottom:1px solid black">
                      <h4>Amount (Rs) </h4>
                    </div>
                    <div class="col-md-6">
                      <h4> Debit </h4>
                    </div>
                    <div class="col-md-6">
                      <h4> Credit </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- <div class="col-md-12" ng-if="$index==0">
              <div class="row">
                <div class="col-md-2 text-center" style="border-right:1px solid black;border-bottom:1px solid black;height: 50px;">
                  <span > 2020 </span>
                </div>
                <div class="col-md-5" style="border-right:1px solid black;height: 50px;">
                </div>
                <div class="col-md-1 text-center" style="border-right:1px solid black;height: 50px;">
                </div>
                <div class="col-md-2 text-center" style="border-right:1px solid black;min-height: 50px;">
                  </div>
                  <div class="col-md-2 text-center">
                  </div>
              </div>
            </div> -->
                <div class="col-md-12" ng-repeat="p in transactionData" style="{{!$last? 'border-bottom:solid 1px black;':''}}background:white;padding:0px;font-size:20px;">
                  <div class="container-fluid" ng-repeat="d in p">
                    <div class="row">
                      <div class="col-md-1 text-center" style="min-height: 30px;padding-top:5px;">
                        <span ng-if="$first" style="font-size:17px;">{{d.dated | date:'MMM'}} </span>
                      </div>
                      <div class="col-md-1 text-center" style="border-right:1px solid black;min-height: 30px;padding-top:5px;">
                        <span ng-if="$first"  style="font-size:15px;"> {{d.dated | date:'dd'}} </span>
                      </div>
                      <div class="col-md-6" style="border-right:1px solid black;min-height: 30px;padding-top:5px;">
                        <p ng-if="d.fromAcc.pk" style="padding-left:50px">{{d.fromAcc.title}}</p>
                        <p ng-if="d.toAcc.pk">{{d.toAcc.title}}</p>
                  </div>

                  <div class="col-md-2 text-center " style="border-right:1px solid black;min-height: 30px;padding-top:5px; ">
                    <span ng-if="d.debit>0"> {{d.debit}} </span>
                  </div>
                  <div class="col-md-2 text-center ">
                    <span ng-if="d.credit>0"> {{d.credit}} </span>
                  </div>
                </div>

                <div class="row " ng-if="$last ">
                  <div class="col-md-2 " style="border-right:1px solid black;min-height: 30px;padding-top:5px; ">

                  </div>
                  <div class="col-md-6 " style="border-right:1px solid black;min-height: 30px;padding-top:5px; ">
                    <p style="{{d.toAcc.pk ? 'padding-left:50px': ''}};font-weight:bold;font-size:20px; ">{{d.narration}}</p>
                  </div>

                  <div class="col-md-2 text-center " style="border-right:1px solid black;min-height: 30px;padding-top:5px; ">

                  </div>

                </div>




                <!-- </div> -->
              </div>
              <div class="container-fluid " ng-if="$last " >
                <div style="height: 29px;background-size: contain;background: url( '/static/images/paper_cut_bottom.png');background-size: auto;background-size: contain; " class="row ">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom:100px;margin-top:100px;">

      <div class="col-md-10 col-md-offset-1">
        <div style="height: 29px;background-size: contain;background: url( '/static/images/paper_cut_top.png');background-size: auto;background-size: contain; " class="row ">

        </div>
        <div class="row" style="padding:15px;background:white;">
          <div class="row">
            <div class="col-md-7 text-right">
              <h4>Add Journal Entry For</h4>
            </div>
            <div class="col-md-5">
              <div class="input-group newDatePic">
                <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dated" is-open="statusStart.opened" ng-init="today" style="font-size:23px;" />
                <span class="input-group-btn ">
                  <button type="button" class="btn btn-default pic" ng-click="statusStart.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top:40px;">
            <div class="col-md-12">

              <div class="row" style="border-bottom:solid 2px #eee;">
                <div class="col-md-8" style="font-size:20px;">
                  Account
                </div>
                <div class="col-md-2" style="border-left:solid 2px #eee;font-size:20px;">
                  Debit
                </div>
                <div class="col-md-2" style="border-left:solid 2px #eee;font-size:20px;">
                  Credit
                </div>
              </div>

              <div class="row" >
                <div class="col-md-8">
                  <div class="form-group" style="margin-top:10px">
                    <input type="text" class="form-control noBorder" style="font-size:20px;" ng-model="transactions[0].account"  uib-typeahead="account as account.title for account in accountSearch($viewValue)" placeholder="Search Account" >
                  </div>
                </div>
                <div class="col-md-2" style="border-left:solid 2px #eee;">
                  <div class="form-group" style="margin-top:10px">
                    <input type="text" class="form-control noBorder" style="font-size:20px;" ng-model="transactions[0].debit" placeholder="Debit" ng-change="calc()">
                  </div>
                </div>
                <div class="col-md-2" style="border-left:solid 2px #eee;">
                  <div class="form-group" style="margin-top:10px">
                    <input type="text" class="form-control noBorder" ng-model="transactions[0].credit" style="font-size:20px;" placeholder="Credit" ng-change="calc()" ng-enter="addNewLine()">
                  </div>
                </div>
              </div>

              <div class="row" ng-repeat="i in transactions.slice(1)">
                <div class="col-md-8">
                  <div class="form-group" style="margin-top:10px">
                    <input type="text" class="form-control noBorder" style="font-size:20px;" ng-model="i.account" uib-typeahead="account as account.title for account in accountSearch($viewValue)" placeholder="Search Account" >
                  </div>
                </div>
                <div class="col-md-2" style="border-left:solid 2px #eee;">
                  <div class="form-group" style="margin-top:10px">
                    <input type="text" class="form-control noBorder" style="font-size:20px;" ng-model="i.debit" placeholder="Debit" ng-change="calc()">
                  </div>
                </div>
                <div class="col-md-2" style="border-left:solid 2px #eee;">
                  <div class="form-group" style="margin-top:10px">
                    <input type="text" class="form-control noBorder" ng-model="i.credit" style="font-size:20px;" placeholder="Credit" ng-change="calc()" ng-enter="addNewLine()">
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-8">
                  <span style="font-size:25px;padding:0px" class="btn">(</span>
                  <input type="text" class="" ng-model="narration" placeholder="Narration" style="border: none;font-size:20px;background:white;margin-left:20px;margin-right:20px; ">
                  <span style="font-size:25px;padding:0px" class="btn">)</span>
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2">

                </div>
              </div>
              <div class="row">
                <div class="col-md-8 text-right" style="font-size:20px;">
                  Total
                </div>
                <div class="col-md-2" style="border-left:solid 2px #eee;font-size:23px;">
                  {{total.debit}}
                </div>
                <div class="col-md-2" style="border-left:solid 2px #eee;font-size:23px;">
                  {{total.credit}}
                </div>
              </div>

            </div>
            <div class="col-md-12 text-center" style="margin-top:15px;margin-top:30px;margin-bottom:30px;">
              <button class="btn btn-primary" ng-click="saveTransactions()" style="background: #461482;color: white;border: none !important;border-radius: 64px !important;padding: 17px;right: 59px;font-size: 16px;z-index: 10;box-shadow: 0px 8px 18px rgba(157, 157, 157, 0.94) !important;padding-right:30px;padding-left:30px;"> Submit Enteries </button>
            </div>
          </div>
        </div>
        <div id="bottom" style="height: 29px;background-size: contain;background: url( '/static/images/paper_cut_bottom.png');background-size: auto;background-size: contain; " class="row ">

        </div>

      </div>
    </div>
  </div>



</div>
<!-- <script>
    window.scrollTo(0,document.body.scrollHeight);
    window.onload = function() {
      alert('aaaaaaaaaa')
    };
</script> -->
