<style media="screen">
  .taskMenuItem {
    padding-left: 50px !important;
  }

  .taskMenuItem:hover {
    background: white;
    cursor: pointer;

  }

  .activeMenuItem {
    background: white;
  }
</style>
<div class="">

  <div class="col-md-2" style="background:#FAFAFA;height:100vh;padding:0px;padding-left:10px;overflow:hidden;position: fixed;">
    <div class="row" ng-repeat="a in appsettings">
      <div class="col-md-12">
        <div class="row {{$state.is(a.groupState) ? 'activeMenuItem':''}}" style="padding:15px;{{$state.is(a.groupState) ? 'cursor:pointer':''}}" ng-click="$state.go(a.groupState)">
          <div class="container-fluid" style="font-weight: bold;">
            {{a.groupName}}
          </div>
        </div>
        <div ng-repeat="s in a.val" class="row taskMenuItem {{$state.is(s.state) ? 'activeMenuItem':''}}" style="padding:15px;" ng-click="$state.go(s.state)">
          <div class="container-fluid">
            {{s.name}}
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-10" style="padding:50px;position:fixed;right:0px;width: 72%;height:100vh;overflow:auto;">
    <ui-view></ui-view>
  </div>
</div>
