<div class="modal-body" style="background: #F3F3F3;padding: 40px;">
<div class="row">
  <div class="col-md-12">

    <h3>Start a new Expense Sheet</h3>

    <div class="form-group">
      <input type="text" class="form-control" ng-model="form.title" placeholder="Add Title" style="padding: 29px;
border: none;
border-radius: 10px;margin-top:30px;margin-bottom:30px;font-size:20px;">
    </div>
    <button class="btn btn-primary" ng-click="createExpense()" style="background: #461482;
color: white;
border: none !important;
border-radius: 64px !important;
padding: 17px;
width: 112px;
font-size: 16px;"> Create </div>
  </div>
</div>
</div>
