<!-- <style media="screen">
  .CodeMirror, .CodeMirror-scroll {
  	min-height: 100vh;
  }
</style> -->

<!-- <div class="row" style="">

  <div class="col-md-11 pull-right" style="padding-left:50px;margin-top:50px;z-index: 100">
    <textarea name="name" rows="20" cols="80" simplemde='{spellChecker: false}' ng-model="project.wiki"></textarea>

  </div>
</div> -->

<style>
  .menuItems {
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    border-right: solid 4px #F2F3F7;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .menuItems:hover {
    background: #fbfbfb;
    border-right: solid 4px red !important;
  }

  .activeMenu {
    border-right: solid 4px red !important;
    background: #fbfbfb !important;
  }
  .trash{
    opacity: 0
  }
  .menuItems:hover .trash{
    opacity: 1

  }
  .trash:hover{
    opacity: 1
  }

</style>

<div class="row" style="margin:0px;">
  <div class="col-md-3" style="background:#F2F3F7;">
    <div class="row text-center" style="margin:20px;padding-left:20px">
      <div class="row">
        <div class="input-group" style="padding:10px;background:white !important;border-radius:10px;border:1px solid #d3d3d3">
          <input type="text" class="form-control" ng-model="form.search"  placeholder="Search..." style="background:white !important;border: none !important;">
          <span class="input-group-btn">
            <button style="background:white !important;border:none !important;" type="button" class="btn btn-default" ng-click="getNotes()"><i class="fa fa-search "></i></button>
          </span>
        </div>
      </div>

    </div>
    <div class="row" style="cursor:pointer;height:89vh;overflow-y:scroll;scrollbar-width:none;scrollbar-behaviour:smooth;">
      <div class="col-md-12 menuItems {{$index == row? 'activeMenu' : ''}}" ng-repeat="a in notes" ng-click="$state.go('projectManagement.projects.details.wiki.explore', {wikiid : a.pk});getIndex($index);mainIndex=$index;a.show=true;" style="border-bottom:1px solid #e0e0e0" ng-init="mainIndex=$index;a.show=false;">

        <p style="margin-left:35px">{{a.title}} <span class="pull-right"><i class="fa fa-trash trash" mwl-confirm title="Delete" message="Are you sure?" data-placement="bottom" confirm-text="Yes <i class='fa fa-check'></i>"
          cancel-text="No" on-confirm="delNotes($index);" confirm-button-type="default" cancel-button-type="default"></i></span> </p>

      </div>
      <div class="row" >
      </div>

      <div class="row">
        <input type="text" class="form-control" ng-model="form.title" ng-enter="saveNote()" name="" value="" style="padding:17px;background:white;border-radius:10px !important;border:1px solid #d3d3d3;height:65px;" placeholder="create the note">
          <!-- <button type="button" class="btn btn-default btn-block" ng-click="showInput=true"  ng-init="showInput=false"><i class="fa fa-plus"></i></button> -->
      </div>
      <div class="col-md-offset-4 col-md-4" style="padding:20px 0px 20px">
        <button type="button" class="btn btn-block btn-default" style="border : none !important;border-radius:10px !important;padding:15px;left:150px;font-size:16px;background:#E01B22;color:white;" ng-click="loadMore()">
            Load More
          </button>
      </div>
    </div>

  </div>
  <div class="col-md-9">
    <ui-view></ui-view>
  </div>
</div>
