<style media="screen">
  .navigationBtn , .navigationBtn:hover{
    padding: 10px;
    border:none !important;
    /* border-radius:23px !important; */
    border-radius:10px !important;
  }
   input , button , .btn, .btn-primary{
    border:none !important;
  }
  input, .form-control{
    padding: 20px;
    border-radius: 23px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .text-dull{
    color: #bbb;
  }

</style>

<div class="container-fluid" style="background:#FAFAFA;min-height:100vh;padding:30px;">
  <br>
  <div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
      <div class="col-md-8">
        <!-- <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="searchForm.searchValue"ng-enter="getallProjects()" >
          <div class="input-group-btn">
            <button class="btn btn-default" ng-click="getallProjects()" style="border-top-right-radius:23px !important;border-bottom-right-radius:23px !important;padding: 10px;padding-right:20px;">
              <i class="glyphicon glyphicon-search" ></i>
            </button>
          </div>
        </div> -->

        <!-- <div class="input-group" style="background:#ffffff;border-radius:10px;">
          <input type="text" class="form-control" ng-model="searchForm.searchValue" placeholder="Search" ng-enter="getallProjects()" style="border:none !important;background:#ffffff;">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="getallProjects()" style="border:none !important;background:#ffffff;">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div> -->


      </div>
      <!-- <div class="col-md-2">
        <button type="button" class="navigationBtn btn btn-primary btn-block " name="button" ng-click="prevProj()">Prev</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="navigationBtn btn btn-primary btn-block " name="button" ng-click="nextProj()">Next</button>

      </div> -->
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4" ng-click="create()" style="padding:20px;">
      <div class="" style="background-color:white;padding:30px;height:250px;border-radius:30px;">
        <div class="text-center" style="padding:30px 20px;">
          <i class="fa fa-plus" style="padding:10px;font-size:50px;"></i><br>
          <p class="font14" style="font-weight:600" >Add new project</p>
        </div>
      </div>
    </div>
    <div class="col-md-4" ng-repeat=" k in projects"  style="padding:20px;">
      <div class="" style="background-color:white;padding:30px;height:250px;margin-bottom:20px;border-radius:30px;" ng-click="viewProject(k)">
        <div class="row">

          <div class="col-md-4">
            <div class="" style="height:100px;border-radius:20px;background:url('/static/images/microsoft-office-logo.jpg');background-size:contain;background-repeat:no-repeat;" ng-if="k.icon.length == 0">

            </div>
            <div class="" style="height:100px;border-radius:20px;background:url({{k.icon}});background-size:contain;background-repeat:no-repeat;" ng-if="k.icon.length > 0">

            </div>
          </div>
          <div class="col-md-8 text-right">
            <span class="font22" >{{k.title}}</span>
          </div>
        </div>
        <div class="row" style="margin-top:15px;">

          <div class="col-md-6 text-left">
            <h4 class="font18">{{k.dueDate | date}}</h4>
            <p class="text-dull font14">Duedate</p>
          </div>
          <div class="col-md-6 text-right">

            <div style="position:relative;width:100%;text-align: right;margin-bottom:5px;">

              <div class="Projects_teamCount" style="">
               {{k.team.length}}
              </div>
              <img ng-src="{{k.team.profile.displayPicture | getDP}}" class="Projects_teamImg" style="" />

                        </div>
            <p class="text-dull font14">Team Members</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
