<style media="screen">
  .taskMenuItem:hover{
    background:white;
    cursor:pointer;
  }
  .taskTicker{
    border-radius: 20px;width: 30px;height: 30px;
    border: solid 1px #c4c4c4;
    cursor:pointer;
    padding: 6px;
  }
  .completedTask{
    border: solid 1px rgb(59, 179, 36);
    background: rgb(59, 179, 36);
    color:white;
  }
  .newTaskTicker{
    border: solid 1px rgb(59, 179, 36);
    padding: 2px;border-radius: 20px;width: 30px;height: 30px;
    border: solid 1px #c4c4c4;
    cursor:pointer;
  }
  .taskTickerBlue{
    padding: 2px;border-radius: 20px;width: 30px;height: 30px;
    border: solid 1px rgb(42, 60, 136);
    cursor:pointer;
    background: rgb(42, 60, 136);
    color:white;
  }
  .todoAdd {
    border:none;
  }
  .datePill{
    border: solid 1px #eee;
    padding: 6px;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    color: #9d9d9d;
    cursor:pointer;
  }
  .taskDatePicker .btn{
    border:none;
  }
  .timeLabel {
    color:orange;font-size:13px;margin-left:15px;
    border-radius:100px !important;padding-left:15px;padding-right:15px;
    background:rgb(255, 251, 243);
    border:none;
  }

  .timeLabel:hover{
    background:orange !important;
    color:white !important;
    cursor:pointer;

  }


  .projectLabel{
    padding:8px;color:rgb(42, 60, 136);font-size:13px;margin-left:15px;
    border-radius:100px !important;padding-left:15px;padding-right:15px;
    background:rgb(239, 246, 251);
  }

  .projectLabel:hover{
    background:rgb(42, 60, 136) !important;
    color:white !important;
    cursor:pointer;
  }
  .fileLabel{
    padding:8px;color:grey;font-size:13px;margin-left:15px;
    border-radius:100px !important;padding-left:15px;padding-right:15px;
    background:rgb(247, 247, 247);
  }
  .fileLabel:hover{
    background:grey !important;
    color:white !important;
    cursor:pointer;
  }
  .addLabel{
    padding:0px;border:solid 3px grey;border-radius:30px;color:grey;padding-left:10px;padding-right:10px;font-size:13px;margin-left:15px;height:30px;
  }
  .activeMenuItem{
    background: white;
  }

  .user-search .list-group-item.active{
    color:white;
  }


</style>

<div class="col-md-11 pull-right" style="padding-right:50px;overflow:auto;padding-left:50px;">






  <mentio-menu
              mentio-for="'newTaskTxt'"
              mentio-trigger-char="'#'"
              mentio-items="products"
              mentio-template-url="/static/ngTemplates/productMention.html"
              mentio-search="searchProducts(term)"
              mentio-select="getProductTextRaw(item)"></mentio-menu>
  <mentio-menu
              mentio-for="'newTaskTxt'"
              mentio-trigger-char="'@'"
              mentio-items="people"
              mentio-template-url="/static/ngTemplates/peopleMention.html"
              mentio-search="searchPeople(term)"
              mentio-select="getPeopleTextRaw(item)"></mentio-menu>


  <h3 class="font24" style="margin-bottom:40px;">Tasks</h3>

  <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
    <div class="container-fluid">
      <div class="col-md-1">
        <div class="pull-right taskTickerBlue" style="padding: 5px;padding-left: 8px;">
          <i class="fa fa-plus"></i>
        </div>
      </div>
      <div class="col-md-7" style="padding:0px;">
        <input mentio mentio-id="'newTaskTxt'" ng-focus="form.creatingNew = true;" ng-blur="form.creatingNew = false;" type="text" class="form-control todoAdd" placeholder="Create new .." style="padding-left: 0px;" ng-model="form.title" >

        <button type="button" ng-if="form.creatingNew || form.title.length > 0" class="btn btn-primary btn-sm" style="margin-top:15px;" ng-click="creteTask()">
          Save
        </button>


      </div>
      <div class="col-md-4 text-right" style="padding-right:0px;">
        <button type="button" class="btn btn-default " style="border:none;border-radius:200px !important;padding-left:15px;padding-right:15px;" onclick="document.getElementById('newTaskFiles').click()">
          <svg style="margin-bottom: -7px;" width="25" height="25" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="nonzero" d="M12.796 8.796l-4.325 4.325a2.162 2.162 0 0 0 3.058 3.058l6.825-6.825a3.328 3.328 0 0 0-4.708-4.708l-8.175 8.175a4.495 4.495 0 0 0 6.358 6.358l5.675-5.675a.5.5 0 0 0-.708-.708l-5.675 5.675A3.495 3.495 0 1 1 6.18 13.53l8.175-8.175a2.328 2.328 0 1 1 3.292 3.292l-6.825 6.825A1.162 1.162 0 0 1 9.18 13.83l4.325-4.325a.5.5 0 0 0-.708-.708z"></path></svg>
          <span> Attach Files
            <span style="margin-left:20px;" class="label label-default" ng-if="form.files.length > 0">{{form.files.length}}</span>
          </span>
          <input id="newTaskFiles" style="display:None" type="file" multiple files-model="form.files">
        </button>
        <future-datepicker date="form.dueDate" cls="'pull-right taskDatePicker'"></future-datepicker>
      </div>
    </div>
  </div>




  <div class="row" ng-repeat="task in tasks" ng-init="task.hover = false;" style="padding-bottom:30px;">

    <div class="row" style="margin:15px;padding: 20px;margin-left: -20px;" ng-if="tasks[$index].to != tasks[$index-1].to ">
      <div class="col-md-4">
        <div class="col-md-2">
          <img ng-src="{{task.to | getDP}}" style="width:30px;" class="img img-circle" >
        </div>
        <div class="col-md-10" style="padding-top:5px;">
          <strong class="font15" >{{task.to | getName}}</strong>
        </div>
      </div>

    </div>


    <div class="container-fluid">
      <div class="col-md-1 text-right" style="padding-top:20px;"  >
        <div class="pull-right taskTicker  {{task.completion >0 ? 'completedTask':''}} " ng-click="markTask($index , task.pk , task.completion )">
          <i class="fa fa-check" ng-if=" task.status == 'complete'"></i>
        </div>
      </div>
      <div class="col-md-11" style="padding:18px;border-bottom:solid 0.5px #eee;">
        <div class="row" style="line-height: 26pt;" ng-mouseenter="task.hover = true;" ng-mouseleave="task.hover = false;">
          <span contenteditable="" ng-model="task.title" ng-model-options="{debounce:1000}" ng-change="updateTaskTitle(task.pk , task.title)" ></span>


          <span class="fileLabel" ng-repeat="file in task.files" ng-click="openFile(file)">{{file.name}}</span>

          <button class="timeLabel dropdown-toggle" type="button" data-toggle="dropdown" style="padding-top:3px;padding-bottom:3px;"> <svg style="margin-bottom: -7px;" data-svgs-path="sm1/calendar_small.svg" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="nonzero" d="M12 2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8zm0 1H4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-1.25 7a.75.75 0 1 1 0 1.5.75.75 0 0 1 0-1.5zm.75-5a.5.5 0 1 1 0 1h-7a.5.5 0 0 1 0-1h7z"></path></svg><span style="margin-left:10px;">{{task.dueDate | date:'dd MMM yyyy'}}</span> </button>



          <span class="pull-right font20" style="margin-left:20px;color: #b7b7b7;" ng-if="task.timerStartedAt">{{task.timerStr}}</span>
          <span ng-click="form.addingSubTask = $index;" class="fa fa-plus-circle pull-right fa-2x" style="color:#8b8b8b;cursor:pointer;" ng-if=" task.subTasks.length ==0 && task.hover" > </span>
          <span ng-click="openTask(task)" class="fa fa-files-o pull-right fa-2x" style="color:#8b8b8b;cursor:pointer;margin-right:25px;" ng-if="task.hover" > </span>
          <span class="fa fa-play-circle pull-right fa-2x" ng-click="startTask($index)" ng-if="!task.timerStartedAt && task.hover" style="color:#23ab51;cursor:pointer;margin-right:25px;" > </span>

          <span class="fa fa-stop-circle pull-right fa-2x" ng-click="stopTask($index)" ng-if="task.timerStartedAt && task.hover" style="color:#f66a3e;cursor:pointer;margin-right:25px;" > </span>


        </div>
        <div class="row" ng-repeat="subTask in task.subTasks" ng-init="subTask.hover = false;" style="{{$first ? 'margin-top:10px;':''}}" ng-init="task.subTaskText = ''">
          <div class="container-fluid" style="padding-right:0px;{{$first ? 'margin-top:10px;':''}}" ng-mouseenter="subTask.hover = true;" ng-mouseleave="subTask.hover = false;">
            <div class="col-md-1 text-right" style="padding-top:15px;">
              <div class="pull-right taskTicker {{subTask.status == 'complete'?  'completedTask':'' }}" ng-click="markSubTask(subTask.pk , $index , $parent.$index , subTask.status )">
                <i class="fa fa-check" ng-if="subTask.status == 'complete'"></i>
              </div>
            </div>
            <div class="col-md-11" style="padding:18px;border-top:solid 0.5px #eee;">
              <span contenteditable="" ng-model="subTask.title" ng-model-options="{debounce:1000}" ng-change="updateSubTaskTitle(subTask.pk , subTask.title)"></span>
            </div>
          </div>
          <div class="row" ng-if="task.subTasks.length > 0 && $last">
            <div class="container-fluid" style="margin-top:10px;">
              <div class="col-md-1" style="padding:0px;">
                <div class="pull-right newTaskTicker" >

                </div>
              </div>
              <div class="col-md-11" style="padding-left: 20px;">
                <input type="text" class="form-control todoAdd" placeholder="Add new .." ng-model="task.subTaskText" ng-enter="addNewSubTask($parent.$parent.$index , false)">
              </div>
            </div>
          </div>
        </div>

        <div class="row" ng-if="form.addingSubTask == $index">
          <div class="container-fluid" style="margin-top:10px;">
            <div class="col-md-1">
              <div class="pull-right newTaskTicker"></div>
            </div>
            <div class="col-md-11" style="padding-left: 20px;">
              <input type="text" class="form-control todoAdd" placeholder="Add new .." ng-model="form.subTaskTxt" ng-enter="addNewSubTask($index , true)">
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>





</div>
