<div class="container-fluid">
  <div class="modal-header">


      <button type="button" class="btn btn-default pull-right" ng-click="close()">
         <i class="fa fa-times"></i>
      </button>
      <h3 ng-if="form.title.length==0" class="text-muted" style="word-wrap:break-word;">Untitled..</h3>
      <h3 style="word-wrap:break-word;">{{form.title}}</h3>



  </div>
  <div class="modal-body">
    <div class="row">

      <div class="col-md-12" style=" min-height:90vh;top:0px;right:0px;padding:0px;">
        <div style="overflow:auto;height:100%;padding:20px;">
          <div class="col-md-12">
            <div class="form-group" style="margin-top:10px;">
              <label>Title</label>
              <input type="text" ng-model="form.title" class="form-control websiteInput" placeholder="Title..">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Company</label>
              <input uib-typeahead="c as c.name for c in companySearch($viewValue)" ng-model="form.company" type="text" class="form-control websiteInput" placeholder="Search By Company Name">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Due date</label>
              <div style="position:relative">
                <span ng-click="status.opened = true;" style="position: absolute;right: 0;padding: 15px;"><i class="glyphicon glyphicon-calendar"></i></span>
                <input type="text" class="form-control websiteInput" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.dueDate" is-open="status.opened" />

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" style="position:relative">
              <label>Cost Center</label>
              <span style="position:absolute;right:10px;padding:10px;top:45%;"><i class="fa fa-caret-down"></i></span>
              <select class="form-control websiteInput" name=""  ng-model="form.costCenter" ng-options="c.name for c in costcenters track by $index">

              </select>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control websiteInput" rows="5" cols="40" placeholder="Description" ng-model="form.description"></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <!-- <media-Field data="data.files" url="/api/projects/media/"></media-Field> -->
          </div>
          <br><br><br>
          <div class="row">
            <div class="pull-left">
              <button type="button" class="defaultBtn" ng-click="resetForm()">
                Reset
              </button>

            </div>
            <div class="pull-right">
              <button type="button" class=" newBtn" ng-click="postProject()">
                Save <i class="fa fa-floppy-o"></i>
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer text-center" style="border-top:0px solid transparent">

  </div>
</div>
